<section data-ng-controller="SearchController">
  <div class="head">
    <div class="header-l">
      <a data-ui-sref-active="active" ui-sref="home">
        <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" onerror="this.onerror=null;this.src='http://admin.antara-insight.id/asset/images/agent/digivla.png';"/>
      </a>
    </div>
    <!-- <div class="header-r">
      <ul class="hr-2">
        <li class="_a active"><a data-ui-sref-active="active" ui-sref="search.print">PRINT & ONLINE MEDIA</a></li>
        <li class="_c"><a data-ui-sref-active="active" ui-sref="search.tv">TV</a></li>
        <li class="_b"><a data-ui-sref-active="active" ui-sref="search.radio">RADIO</a></li>
        <div class="clear"></div>
      </ul>
    </div> -->
    <div class="clear"></div>
  </div>
  <!-- -->
  <div class="content">
    <!-- -->
    <div id="main-content">
      <div class="search-result">
        <div id="fieldsearch">
          <input data-ng-model="formdata.keyword" type="text" class="boxsearch" name="search" placeholder="Search" autocomplete="off" />
        </div>
        <div class="filter-search">
          <select ng-options="item as item for item in showType" ng-model="selectedType"></select>
        </div>
        <button type="button" data-ng-click="searchArticlePost()" class="btn-search"></button>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <div class="main-7">
        <div class="f7-1" data-ng-show="isDisplay">Found {{ totalArticles }} Articles
          <div class="space-1"></div>
        </div>
        <div id="search-selection" class="customscroll">
          <div class="main-7-1" ng-if="loadingData">
            <div class="f7-2"></div>
            <div class="f7-3">Loading data . . .</div>
            <div class="f7-4"></div>
          </div>
          <div class="main-7-1" data-ng-repeat="items in tableData">
            <div class="f7-2">
              <a href="#" data-ng-click="detailArticle(items.article_id)" class="fancybox" data-ng-bind="items.title"></a>
            </div>
            <div class="f7-3" data-ng-bind="items.content"></div>
            <div class="f7-4">
              Media : {{items.media_name}} | Tanggal : {{items.datee.substring(0,10)}}
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="table-page" data-ng-show="isDisplay">
        <div class="tp-1">
          Showing {{ offset + 1 }} to {{ offset + articleLimit }} of {{ totalArticles }} entries
        </div>
        <div class="tp-2">
          <pagination style="margin: 0px 0;" ng-model="currentPage" total-items="totalItems" max-size="maxSize" boundary-links="true" ng-change="pageChanged();"></pagination>
        </div>
        <div class="clear"></div>
      </div>
      <!-- dom content start -->
      <div class="dom-detail" id="dd1">
        <div id="dom-selection" class="customscroll dd-content">
          
          <div id="printable">
            <div>
              <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" style="height:70px; float:right;">
              <table>
                <tbody><tr>
                  <td>
                    <b>Title<b>
                  </b></b></td>
                  <td>
                    &nbsp;&nbsp;:&nbsp;&nbsp;
                  </td>
                  <td>{{articleDetail.title}}<br/></td>
                </tr>
                <tr>
                  <td><b>Date</b></td>
                  <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td>{{articleDetail.datee.substring(0,10)}}<br/></td>
                </tr>
                <tr>
                  <td><b>Media</b></td>
                  <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                  <td>{{articleDetail.media_name}}<br/></td>
                </tr>
                <tr><td colspan="3"><br/></td></tr>
                <tr>
                  <td><b>Content</b></td>
                  <td>&nbsp;&nbsp;:</td>
                  <td></td>
                </tr>
              </tbody></table>
            </div>
            <br>
            <hr>
              <div>
                <p ng-bind-html="trustAsHtml(articleDetail.content);"></p>
                <br/>
                <br/>
                <div ng-bind-html="trustAsHtml(mediaHTML);"></div>
              </div>
            <hr>

            <br>
            <br>

            <div ng-if="articleDetail.categories.length > 0">
              <br>
              <br>
              <b>
                <i>Kategori</i>
              </b>:
              <span ng-repeat="ci in articleDetail.categories">
                <span class="tag">
                  <b>{{ci}}</b>
                </span> 
                <span ng-if="!$last">,&nbsp;</span>
              </span>
            </div>

          </div>

        </div>
        <div class="dd-foot">
          <a href="javascript:;" ng-print print-element-id="printable">PRINT</a> |
          <a href="javascript:;" ng-click="getPDF('teks_pdf', articleDetail.article_id);">TEKS PDF</a> |
          <span ng-show="articleDetail.file_pdf.indexOf('.pdf') !== -1">
            <a href="javascript:;" ng-click="getScan('pdf_images', articleDetail.file_pdf);">TEKS ASLI</a> |
          </span>
          <span ng-show="articleDetail.file_pdf.indexOf('.pdf') !== -1">
            <a href="javascript:;" ng-click="getScan('pdf_text', articleDetail.file_pdf);">SCAN MEDIA</a> |
          </span>
          <!-- <a href="javascript:;" ng-click="getWord();">DOC</a> | -->
          <a href="javascript:;" ng-click="originaleSingle(1, 0, articleDetail, 'doc');">DOC</a> |
          <span ng-if="authentication.user.user_detail.stat_edit === 'Y'">
          <a  href="javascript:;" ng-click="saveArticle(articleDetail);">SIMPAN BERITA</a> |</span> <a href="javascript:;" class="closeFancybox">TUTUP</a>
        </div>
      </div>



      <div class="dom-detail" id="save-article">
        <div id="dom-selection" class="customscroll dd-content">
          <div class="dd-title">Choose Category</div>
            <div class="clear"></div>
            <div class="space-1"></div>
            <div class="category">
              <div class="acc-title">Sub-Category</div>
            </div>
            <div class="categorycontent">
              <div id="ms1" class="customscroll" style="height:300px;">
                <ul class="acc-link">
                  <li ng-repeat="item in categoryLists">
                    <a href="javascript:;">
                      <input style="float:left;margin-right:15px;display: block;" class="clisetdach" type="checkbox" ng-model="item.selected" ng-change="addCategory(item.category_id);" value="item.category_id">
                      <label>{{item.category_id}}</label>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          <!-- </div> -->
          <input type="button" class="btn-info" value="Save" ng-click="doSaveArticle();">
        </div>
      </div>
    </div>
  </div>
  </div>
  <script type="text/javascript">
    $('#dl-menu').dlmenu();
    $('#filterBar').show();
    $(function() {
      $(document).on('click', '.closeFancybox', function() {
        $.fancybox.close();
      });
    });

    (function($) {
      $(window).load(function() {
        $("#search-selection").mCustomScrollbar({
          theme: "rounded-dots"
        });
        $("#dom-selection").mCustomScrollbar({
          theme: "rounded-dots"
        });
      });
    })(jQuery);
  </script>
</section>
