<section data-ng-controller="SummaryRadioController">
    <div class="head">
        <div class="header-l">
            <a href="http://app.digivla.id/Dashboard/">
                <img src="http://app.digivla.id/admin/asset/images/company/1466231911_Antara-Insight-red.png" onError="this.onerror=null;this.src='http://app.digivla.id/admin/asset/images/agent/digivla.png';" />
            </a>
        </div>
        <div class="header-r">
            <ul class="hr-2">
                <li class="_a"><a data-ui-sref-active="active" ui-sref="summary.print">PRINT & ONLINE MEDIA</a></li>
                <li class="_c"><a data-ui-sref-active="active" ui-sref="summary.tv">TV</a></li>
                <li class="_b active"><a data-ui-sref-active="active" ui-sref="summary.radio">RADIO</a></li>

                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

    <!-- -->
    <div class="content">
        <!-- -->

        <div id="main-content">

            <div class="main-6">
                <div class="f-download4">
                    <a href="#">Download MS Word</a>
                </div>
                <div class="clear"></div>
                <div id="tablescroll" class="customscroll">
                    <table id="tablesorter" class="tablesorter-blue">
                        <thead>
                            <tr>
                                <th><input type="checkbox" onchange="checkAll(this)" name="chk[]" /></th>
                                <th>No</th>
                                <th>Tanggal</th>
                                <th>Media</th>
                                <th>Hal</th>
                                <th>Judul</th>
                                <th>Ringkasan</th>
                                <th>Sentimen</th>
                                <th>Hapus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>1</td>
                                <td>01 Dec 2015</td>
                                <td>Content</td>
                                <td>6</td>
                                <td><a href="#" class="ts-link">A Judul</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius est ac efficitur porttitor. Sed vitae mauris vel erat mattis commodo ut in leo. Sed laoreet et nisl sed mattis. Proin vel mauris justo.
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td><a href="#" class="ts-link">Option</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                    <a href="#" class="icon-flag"></a>
                                </td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>2</td>
                                <td>02 Dec 2015</td>
                                <td>Content</td>
                                <td>7</td>
                                <td><a href="#" class="ts-link">A Judul</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius est ac efficitur porttitor. Sed vitae mauris vel erat mattis commodo ut in leo. Sed laoreet et nisl sed mattis. Proin vel mauris justo.
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td><a href="#" class="ts-link">Option</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                    <a href="#" class="icon-flag"></a>
                                </td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>3</td>
                                <td>03 Dec 2015</td>
                                <td>Content</td>
                                <td>8</td>
                                <td><a href="#" class="ts-link">A Judul</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius est ac efficitur porttitor. Sed vitae mauris vel erat mattis commodo ut in leo. Sed laoreet et nisl sed mattis. Proin vel mauris justo.
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td><a href="#" class="ts-link">Option</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                    <a href="#" class="icon-flag"></a>
                                </td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>4</td>
                                <td>04 Dec 2015</td>
                                <td>Content</td>
                                <td>9</td>
                                <td><a href="#" class="ts-link">A Judul</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius est ac efficitur porttitor. Sed vitae mauris vel erat mattis commodo ut in leo. Sed laoreet et nisl sed mattis. Proin vel mauris justo.
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td><a href="#" class="ts-link">Option</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                    <a href="#" class="icon-flag"></a>
                                </td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>5</td>
                                <td>05 Dec 2015</td>
                                <td>Content</td>
                                <td>9</td>
                                <td><a href="#" class="ts-link">A Judul</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius est ac efficitur porttitor. Sed vitae mauris vel erat mattis commodo ut in leo. Sed laoreet et nisl sed mattis. Proin vel mauris justo.
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td><a href="#" class="ts-link">Option</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                    <a href="#" class="icon-flag"></a>
                                </td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>6</td>
                                <td>06 Dec 2015</td>
                                <td>Content</td>
                                <td>9</td>
                                <td><a href="#" class="ts-link">A Judul</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius est ac efficitur porttitor. Sed vitae mauris vel erat mattis commodo ut in leo. Sed laoreet et nisl sed mattis. Proin vel mauris justo.
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td><a href="#" class="ts-link">Option</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                    <a href="#" class="icon-flag"></a>
                                </td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>7</td>
                                <td>07 Dec 2015</td>
                                <td>Content</td>
                                <td>9</td>
                                <td><a href="#" class="ts-link">A Judul</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius est ac efficitur porttitor. Sed vitae mauris vel erat mattis commodo ut in leo. Sed laoreet et nisl sed mattis. Proin vel mauris justo.
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td><a href="#" class="ts-link">Option</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                    <a href="#" class="icon-flag"></a>
                                </td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>8</td>
                                <td>08 Dec 2015</td>
                                <td>Content</td>
                                <td>9</td>
                                <td><a href="#" class="ts-link">A Judul</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius est ac efficitur porttitor. Sed vitae mauris vel erat mattis commodo ut in leo. Sed laoreet et nisl sed mattis. Proin vel mauris justo.
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td><a href="#" class="ts-link">Option</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                    <a href="#" class="icon-flag"></a>
                                </td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>9</td>
                                <td>09 Dec 2015</td>
                                <td>Content</td>
                                <td>9</td>
                                <td><a href="#" class="ts-link">A Judul</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius est ac efficitur porttitor. Sed vitae mauris vel erat mattis commodo ut in leo. Sed laoreet et nisl sed mattis. Proin vel mauris justo.
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td><a href="#" class="ts-link">Option</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                    <a href="#" class="icon-flag"></a>
                                </td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>10</td>
                                <td>10 Dec 2015</td>
                                <td>Content</td>
                                <td>9</td>
                                <td><a href="#" class="ts-link">A Judul</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius est ac efficitur porttitor. Sed vitae mauris vel erat mattis commodo ut in leo. Sed laoreet et nisl sed mattis. Proin vel mauris justo.
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td><a href="#" class="ts-link">Option</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                    <a href="#" class="icon-flag"></a>
                                </td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>11</td>
                                <td>11 Dec 2015</td>
                                <td>Content</td>
                                <td>9</td>
                                <td><a href="#" class="ts-link">A Judul</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius est ac efficitur porttitor. Sed vitae mauris vel erat mattis commodo ut in leo. Sed laoreet et nisl sed mattis. Proin vel mauris justo.
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td><a href="#" class="ts-link">Option</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                    <a href="#" class="icon-flag"></a>
                                </td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>12</td>
                                <td>12 Dec 2015</td>
                                <td>Content</td>
                                <td>9</td>
                                <td><a href="#" class="ts-link">A Judul</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius est ac efficitur porttitor. Sed vitae mauris vel erat mattis commodo ut in leo. Sed laoreet et nisl sed mattis. Proin vel mauris justo.
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td><a href="#" class="ts-link">Option</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                    <a href="#" class="icon-flag"></a>
                                </td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>13</td>
                                <td>13 Dec 2015</td>
                                <td>Content</td>
                                <td>9</td>
                                <td><a href="#" class="ts-link">A Judul</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius est ac efficitur porttitor. Sed vitae mauris vel erat mattis commodo ut in leo. Sed laoreet et nisl sed mattis. Proin vel mauris justo.
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td><a href="#" class="ts-link">Option</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                    <a href="#" class="icon-flag"></a>
                                </td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>14</td>
                                <td>14 Dec 2015</td>
                                <td>Content</td>
                                <td>9</td>
                                <td><a href="#" class="ts-link">A Judul</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius est ac efficitur porttitor. Sed vitae mauris vel erat mattis commodo ut in leo. Sed laoreet et nisl sed mattis. Proin vel mauris justo.
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td><a href="#" class="ts-link">Option</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                    <a href="#" class="icon-flag"></a>
                                </td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>15</td>
                                <td>15 Dec 2015</td>
                                <td>Content</td>
                                <td>9</td>
                                <td><a href="#" class="ts-link">A Judul</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius est ac efficitur porttitor. Sed vitae mauris vel erat mattis commodo ut in leo. Sed laoreet et nisl sed mattis. Proin vel mauris justo.
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                </td>
                                <td><a href="#" class="ts-link">Option</a>
                                    <a href="#"><img src="asset/dist/img/icon-pen2.png" class="icon-pen"></a>
                                    <a href="#" class="icon-flag"></a>
                                </td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="space-1"></div>
            </div>
        </div>
    </div>
</section>
