<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="fragment" content="!">

  <!-- <link rel="icon" href="{{ url }}asset/favicon.ico"> -->
  <!-- <link rel="icon" href="{{ baseUrl }}asset/favicon.ico"> -->
  <link rel="icon" href="asset/favicon.ico">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- <script src="{{ url }}asset/index.js"></script> -->
  <!-- <script src="{{ baseUrl }}asset/index.js"></script> -->
  <script src="asset/index.js"></script>

  <!-- Fav Icon -->
  <!-- <link href="{{ url }}{{ favicon }}" rel="shortcut icon" type="image/x-icon"> -->
  <!-- <link href="{{ baseUrl }}{{ favicon }}" rel="shortcut icon" type="image/x-icon"> -->
  <link href="{{ favicon }}" rel="shortcut icon" type="image/x-icon">

  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{ cssFile }}">{% endfor %}

</head>

<body class="ng-cloak">
<section>
  {% block content %}{% endblock %}
</section>

<!--Embedding The User Object-->
<script type="text/javascript">
  var user = {{ user | json | safe }};
</script>

<!--Load The Socket.io File-->
<!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->

<!--Application JavaScript Files-->
{% for jsFile in jsFiles %}
  <script type="text/javascript" src="{{ jsFile }}"></script>{% endfor %}

{% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{ host }}:35729/livereload.js"></script>
{% endif %}
</body>
</html>

