/*COLOR*/

/*FONT*/
@font-face {
  font-family: 'arialregular';
  src: url('../js/font/arial-webfont.eot');
  src: url('../js/font/arial-webfont.eot?#iefix') format('embedded-opentype'),
  url('../js/font/arial-webfont.woff2') format('woff2'),
  url('../js/font/arial-webfont.woff') format('woff'),
  url('../js/font/arial-webfont.ttf') format('truetype'),
  url('../js/font/arial-webfont.svg#arialregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../js/font/Roboto-Regular-webfont.eot');
  src: url('../js/font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../js/font/Roboto-Regular-webfont.woff') format('woff'),
  url('../js/font/Roboto-Regular-webfont.ttf') format('truetype'),
  url('../js/font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*.f-title{font-size:26px; color:#93949e;}*/
/*.f-sub-title{font-size:22px; color:#93949e;}*/
/*.f-sub-title2{font-size:20px; color:#93949e; padding-bottom:10px;}*/
.f-title {
  font-size: 13px;
  color: #818285;
  padding-top: 10px;
  font-weight: bold;
}

.f-sub-title {
  font-size: 13px;
  color: #818285;
  font-weight: bold;
}

.f-sub-title2 {
  font-size: 13px;
  color: #818285;
  padding-bottom: 10px;
  font-weight: bold;
}

.f-download a, .f-download2 a, .f-download3 a, .f-download4 a, .dd-foot a {
  font-size: 13px;
  color: #93949e;
  padding: 0 10px;
}

.f-download a:hover, .f-download2 a:hover, .f-download3 a:hover, .f-download4 a:hover, .dd-foot a:hover {
  color: #00aeef;
}

/*	Resets
	------	*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

a {
  text-decoration: none;
  border: none;
  outline: 0;
}

img {
  border: none;
  outline: 0;
}

.cursor {
  cursor: pointer;
}

textarea {
  resize: none;
}

p {
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
  height: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  line-height: normal;
}

ul li {
  padding: 0;
  list-style: none;
}

/*SPACE*/
.space-0 {
  margin-top: 5px;
}

.space-1 {
  margin-top: 10px;
}

.space-2 {
  margin-top: 20px;
}

.space-3 {
  margin-top: 30px;
}

.space-4 {
  padding-top: 30px;
}

.space-5 {
  margin-top: 50px;
}

.space-6 {
  margin-top: 60px;
}

.space-head {
  height: 85px;
  width: 100%;
  background: #fcd333;
}

.pad-0 {
  float: left;
  margin-left: 4px;
}

body {
  width: 100%;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
  overflow: hidden;
  font-family: 'robotoregular';
}

.m-yes {
  display: none;
}

.m-no {
  display: block;
}

/*header*/
.head {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
}

.header-l {
  float: left;
  width: 15%;
  height: 100%;
  display: block;
  background: #ffffff;
  text-align: center;
}

.header-l img {
  max-height: 80%;
  width: auto;
  padding-top: 5px;
}

.header-r {
  float: left;
  width: 85%;
  background: #58595b;
}

.hr-2, .hr-3 {
  width: 100%;
  background: #dcddde;
}

.hr-2 li a {
  float: left;
  width: 33.3%;
  text-align: center;
  padding: 1.5px 0;
  font-size: 13px;
  color: #ffffff;
}

.hr-2 li._a a {
  background: #dcddde;
}

.hr-2 li._b a {
  background: #cfd0d1;
}

.hr-2 li._c a {
  background: #7a7b80;
}

.hr-2 li._d a {
  background: #5c5c60;
}

/* 			.hr-2 li a:hover{background:rgba(0,148,217,0.2);} */
.hr-2 li a:hover {
  background: rgba(236, 59, 92, 0.2);
}

/* 				.hr-2 li.active a{background:#0094d9;} */
.hr-2 li.active a {
  background: #AA1E38;
}

.hr-3 {
  background: #E8E8E8;
  padding-top: 39px;
}

.hr-3 li a {
  float: left;
  width: 33%;
  text-align: center;
  padding: 1.5px 0;
  font-size: 13px;
  color: rgba(63, 63, 63, 0.7);
  border-left: solid 3px #dcddde
}

.hr-3 li._a a {
  background: #dcddde;
  border-left: solid 3px #dcddde;
}

.hr-3 li._b a {
  background: #C0C0C0;
  border-left: solid 3px #C0C0C0;
}

.hr-3 li._c a {
  background: #ADADAD;
  border-left: solid 3px #ADADAD;
}

/* 			.hr-3 li a:hover, .hr-3 li.active a{background:#93949e; border-left:solid 3px #faa74a;} */
.hr-3 li a:hover, .hr-3 li.active a {
  background: #93949e;
  border-left: solid 3px #EC3B5C;
}

.menu-m {
  display: none;
}

/*sidebar*/
.sidebar {
  width: 15%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #58585a;
  z-index: 1;
  display: block;
  padding-top: 60px;
}

.menu-icon {
  width: 100%;
}

.menu-icon li a {
  float: left;
  width: 31.5%;
  text-align: center;
  padding: 6px 0;
  border-left: solid 3px #58585a;
}

/* 		.menu-icon li a:hover, .menu-icon li.active a{background:#7b7c82; border-left:solid 3px #faa74a;} */
.menu-icon li a:hover, .menu-icon li.active a {
  background: #E9ECF0;
  border-left: solid 3px #EC3B5C;
}

/*.menu a{display:block; width:88%; height:40px; font-size:16px; color:#ffffff; border-left:solid 5px #58585a; padding-top:18px; padding-left:20px; letter-spacing:0.2px;}*/
.menu a {
  display: block;
  height: 40px;
  font-size: 14px;
  color: #ffffff;
  padding-top: 18px;
  padding-left: 35px;
  letter-spacing: 0.2px;
  font-weight: bold;
}

/* 		.menu a:hover{background:rgba(0,148,218,0.2);} */
/* 		.menu a.active{background:#0094da url(../img/menu-active.png) no-repeat right;} */
.menu a:hover {
  background: rgba(236, 59, 92, 0.2);
}

.menu a.active {
  background: #AA1E38 url(../img/menu-active.png) no-repeat right;
}

/*content*/
.content, .content-profile {
  width: 85%;
  margin: 70px 0 0 15%;
  display: block;
  position: relative;
  padding-top: 0px;
}

.content-chart {
  width: 100%;
  margin: 70px 0 0 15%;
  display: block;
  position: relative;
  padding-top: 0px;
}

.content-profile {
  margin-top: 70px;
}

.filter {
  width: 85%;
  height: 40px;
  display: block;
  background: #e6e7e9;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 20px;
  z-index: 20;
}

.filter-content {
  float: left;
  width: 14%;
  height: 40px;
  color: #404040;
  font-size: 11px;
  padding-left: 20px;
  border-right: 2px solid #fff;
}

.filter-content._last {
  border: none;
}

.filter-content:hover, .filter-content.active {
  background: #e6e7e8;
}

.btn-filter {
  float: right;
  height: 100%;
  width: auto;
}

.btn-filter img {
  max-height: 100%;
}

.option-set, .f-category {
  width: 90%;
  text-transform: uppercase
}

.option-set {
  margin-top: 1px;
  color: #CCCCCC;
}

.concentric {
  font-size: 11px;
}

.legendLabel {
  padding-right: 10px;
  padding-left: 5px;
  font-size: 11px;
}

.main {
  width: 98%;
  display: block;
  margin-top: 0px;
  padding-left: 1.5%;
  position: relative;
}

/*.main-1, .main-2, .main-3, .main-4{width:90%; background:#e7e7e8; display:block; position:relative; height:100%; margin:0 auto; margin-top:20px;}	*/
.main-1, .main-2, .main-3, .main-4, .main-5, .main-6, .main-7, .main-8 {
  width: 90%;
  background: #fff;
  display: block;
  position: relative;
  height: 70%;
  margin: 0 auto;
  /*margin-top:20px;*/
  margin-top: 10px;
  border: 1px solid #CCCCCC;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid #CCCCCC;
  overflow: hidden;
}

.main-1 {
  margin-top: 0;
}

.main-2-1 {
  width: 35%;
  height: 100%;
  float: left;
  padding: 5px 0 0 20px;
  margin: 5px 0;
  position: relative;
}

.main-2-2 {
  /*width: 58%;*/
  width: 65%;
  height: 100%;
  float: left;
  padding: 5px 0 0 20px;
  margin: 5px 0;
  position: relative;
  border-left: 1px solid #d1d2d4;
}

.main-3-1, .main-3-2 {
  width: 47%;
  height: 100%;
  float: left;
  padding: 5px 0 0 20px;
  margin: 5px 0;
  position: relative;
}

.main-3-1 img, .main-3-2 img {
  max-width: 95%;
}

.main-3-2 {
  border-left: 1px solid #d1d2d4;
}

.main-4 {
  width: 98%;
  background: #ffffff;
}

.main-4-1 {
  width: 60%;
  height: 100%;
  float: left;
  padding: 5px 0 0 0px;
  margin: 5px 0;
  position: relative;
  border-right: 1px solid #d1d2d4;
}

.main-4-2 {
  width: 38%;
  height: 100%;
  float: left;
  padding: 5px 0 0 15px;
  margin: 5px 0;
  position: relative;
}

.main-4-c {
  width: 95%;
  background: #e7e7e8;
  padding: 10px 10px;
  margin-bottom: 20px;
  position: relative;
}

.main-5 {
  width: 98%;
  background: #fafafb;
}

.main-5-1 {
  width: 29%;
  height: 100%;
  float: left;
  padding: 5px 15px 0 15px;
  margin: 5px 0;
  position: relative;
  background: #e7e7e8;
}

.f-m5-1 {
  font-size: 13px;
  color: #93949e;
  float: left;
  padding-top: 10px;
}

.main-5-2 {
  width: 62%;
  height: 100%;
  float: left;
  padding: 5px 15px 0 15px;
  margin: 5px 0 5px 15px;
  position: relative;
  background: #fafafb;
}

/*accordion*/
.media, .category {
  width: 100%;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: #a7a9ac;
  border: solid 1px #a7a9ac;
  background: #f6f6f6;
  padding: 3px 0;
}

.mediacontent, .categorycontent {
  width: 100%;
  background: #ffffff;
  margin: 0;
  padding: 0;
  border: solid 1px #a7a9ac;
}

.acc-title {
  margin-left: 35px;
}

.acc-link li {
  width: 100%;
  border-bottom: solid 1px #BBBBBB;
}

.acc-link li:nth-last-child(1) {
  border-bottom: none;
}

.acc-link a {
  font-size: 13px;
  color: #a7a9ac;
  padding: 3px 0 3px 35px;
  display: block;
  width: 100%;
}

.acc-link a:hover {
  background: #f2aa5a;
  color: #2F2F2F;
  cursor: pointer;
}

.openlanguage {
  background: url(../img/acc-close.png) no-repeat left;
}

.closedlanguage {
  background: url(../img/acc-open.png) no-repeat left;
}

/*.main-6{width:98%; background:#e9ebef; position:relative;color: #a8a8a8;font-size: 13px;border-spacing: 0;}	*/
.main-6 {
  width: 98%;
  background: #e9ebef;
  position: relative;
  height: 500px;
  color: #a8a8a8;
  font-size: 13px;
  border-spacing: 0;
}

.main-7 {
  width: 98%;
  font-size: 12px;
}

.f7-1 {
  color: #93949e;
  padding-top: 5px;
  font-size: 13px;
}

.f7-2, .f7-2 a {
  font-weight: bold;
  color: #1db2b4;
  padding: 10px 10px;
}

.f7-3 {
  color: #93949e;
  padding: 0 20px;
  line-height: 18px;
}

.f7-4 {
  color: #7c86a2;
  padding: 10px 20px;
  font-weight: bold;
}

/*.main-7-1{width:100%; display:block; background:#fef7ef; margin-bottom:10px;}*/
.main-7-1 {
  width: 100%;
  display: block;
  background: #dcddde;
  margin-bottom: 10px;
}

.main-8 {
  width: 98%;
}

.main-8-1 {
  width: 50%;
  height: 100%;
  float: left;
  padding: 5px 15px 0 15px;
  margin: 5px 0;
  position: relative;
  background: #fafafb;
}

.main-8-2 {
  width: 40%;
  height: 100%;
  float: left;
  padding: 5px 15px 0 15px;
  margin: 5px 0 5px 15px;
  position: relative;
  background: #fafafb;
}

.main-8-3 {
  width: 98%;
  margin: 0 auto;
  border: solid 1px #d8d8d8;
  display: block;
  margin-top: 20px;
}

.main-8-3-1, .main-8-3-2 {
  float: left;
  padding: 10px;
}

.f-m8-1, .f-m8-2, .f-m8-3, .f-m8-4, .f-m8-5, .f-m8-6, .f-m8-7 {
  font-size: 13px;
  color: #93949e;
  float: left;
  padding-top: 10px;
}

.f-m8-2, .f-m8-3 {
  width: 35%;
}

.f-m8-3 {
  padding: 0;
}

.f-m8-4 {
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 5px;
}

.f-m8-5 {
  padding-left: 20px;
}

.f-m8-6 {
  width: 72%;
  padding-left: 15px;
}

.f-m8-7 {
  width: 23%;
  text-align: center;
}

.btn-next, .btn-prev {
  position: absolute;
  display: block;
  z-index: 2;
  top: 50%;
  width: 18px;
  height: 30px;
  opacity: 0.6;
}

.btn-next {
  right: 10px;
  background: url(../img/btn-next.png) no-repeat right;
}

.btn-next:hover {
  opacity: 1;
}

.btn-prev {
  left: 20px;
  background: url(../img/btn-prev.png) no-repeat left;
}

.btn-prev:hover {
  opacity: 1;
}

.f-download, .f-download2, .f-download3, .f-download4, .dd-foot {
  padding: 0px 0 0 10px;
  font-size: 14px;
  color: #93949e;
}

.f-download2 {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  margin: 5px 75px 0 0;
}

.f-download3 {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  margin: 0 25px 5px 0;
}

.f-download4 {
  position: relative;
  margin: 5px 5px;
}

.dd-foot {
  position: relative;
  margin: 5px 0;
  padding: 0;
  margin-left: -10px;
}

/*chart*/
.table-1 {
}

.table-1 td:nth-child(2) {
  padding-left: 20px;
  font-size: 13px;
}

.table-1._a {
  margin: 0;
  padding: 0;
  margin-top: -10px;
}

.table-1._a tr td {
  position: relative;
  padding-bottom: 10px;
}

.table-c3 {
  width: 100%;
  display: block;
  margin-top: -5px;
}

.td-1, .td-2 {
  float: left;
  position: relative;
  text-align: center;
  width: 45%;
  border: solid 1px #a6a9ab;
  height: 65px;
  margin-bottom: 2px;
  padding-top: -2px;
}

.td-2 {
  text-align: left;
  font-size: 11px;
  color: #808184;
  padding-left: 10px;
  border-left: none;
}

.chart-label {
  position: absolute;
  z-index: 2;
  bottom: 0;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #808184;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#tablesorter, #tablesorter2 {
  font-size: 13px;
}

#tablesorter th, #tablesorter2 th {
  text-align: center;
}

#tablesorter th:nth-child(2), #tablesorter td:nth-child(2) {
  width: 20px;
  text-align: center;
}

#tablesorter th:nth-child(3), #tablesorter td:nth-child(3) {
  width: 50px;
  text-align: center;
}

#tablesorter th:nth-child(4), #tablesorter td:nth-child(4) {
  width: 50px;
  text-align: center;
}

#tablesorter th:nth-child(5), #tablesorter td:nth-child(5) {
  width: 40px;
  text-align: center;
}

#tablesorter th:nth-child(6) {
  width: 100px;
  text-align: center;
}

#tablesorter th:nth-child(8), #tablesorter td:nth-child(8) {
  width: 70px;
  text-align: center;
}

#tablesorter2 th:nth-child(1), #tablesorter2 td:nth-child(1) {
  width: 20px;
}

#tablesorter2 th:nth-child(2), #tablesorter2 td:nth-child(2) {
  width: 30px;
  text-align: center;
}

#tablesorter2 th:nth-child(3), #tablesorter2 td:nth-child(3) {
  width: 80px;
  text-align: center;
}

#tablesorter2 th:nth-child(5) {
  width: 140px;
  text-align: center;
}

#tablesorter2 th:nth-child(n+6), #tablesorter2 td:nth-child(n+6) {
  width: 50px;
  text-align: center;
}

.table-page {
  width: 98%;
  background: #eceff4;
  border: 1px solid #CCCCCC;
  font-size: 13px;
  padding: 5px 10px;
  margin: 0px auto 0;
  color: #93949e;
}

.tp-1 {
  float: left;
  padding-top: 3px;
}

.tp-2 {
  float: right;
}

.tp-page {
  float: left;
  margin-left: 5px;
}

.tp-page a {
  float: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 3px 6px;
  margin-left: 2px;
  font-size: 13px;
  color: #0095da;
  background: #e7e7e8;
  border: 1px solid #bfc0c3;
}

/* 			.tp-page a:hover, .tp-page a.active{color:#006c9e;} */
.tp-page a:hover, .tp-page a.active {
  color: #AA1E38;
}

a.tp-link {
  float: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 3px 6px;
  margin-left: 5px;
  font-size: 13px;
  color: #0095da;
  background: #e7e7e8;
  border: 1px solid #bfc0c3;
}

a:hover.tp-link {
  color: #006c9e;
}

.icon-pen {
  padding-left: 5px;
}

.icon-trash {
  width: 14px;
  height: 18px;
  display: block;
  background: url(../img/icon-trash.png) no-repeat center;
  margin: 0 auto;
  padding-top: 5px;
  opacity: 0.8;
}

.icon-trash:hover {
  opacity: 1;
}

.icon-pencil {
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url(../img/icon-pen2.png) no-repeat center;
  margin: 0 auto;
  margin-left: 5px;
  padding-top: 5px;
  opacity: 0.8;
}

.icon-pencil:hover {
  opacity: 1;
}

.icon-edit {
  width: 18px;
  height: 18px;
  display: block;
  background: url(../img/icon-edit.png) no-repeat center;
  margin: 0 auto;
  padding-top: 5px;
  opacity: 0.8;
}

.icon-edit:hover {
  opacity: 1;
}

.icon-view {
  width: 19px;
  height: 18px;
  display: block;
  background: url(../img/icon-view.png) no-repeat center;
  margin: 0 auto;
  padding-top: 5px;
  opacity: 0.8;
}

.icon-view:hover {
  opacity: 1;
}

.icon-flag {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../img/icon-flag.png) no-repeat center;
  margin: 0 auto;
  margin-top: 5px;
}

/*
	a.ts-link{color:#0095da;}
		a:hover.ts-link{color:#006c9e;}
 */
a.ts-link {
  color: #AA1E38;
}

a:hover.ts-link {
  color: #82192C;
}

.gauge-name {
  font-size: 11px;
}

/*thrending highlight*/
.th li {
  display: block;
  width: 100%;
  color: #93949e;
  font-size: 11px;
  background: #ffffff;
  padding: 5px 10px;
}

.th li:nth-child(2n) {
  background: #f3f3f4;
}

.th-date, .th-source, .th-num, .th-title, .th-dec {
  float: left;
  text-align: center;
  /*padding: 8px 2px !important;*/
  padding: 8px 5px !important;
}

.th-date {
}

.th-source {
}

.th-source a {
  color: #93949e;
}

.th-num {
  width: 25px;
}

.th-title {
  text-align: left;
}

.th-title a {
  color: #307aa9;
}

.th-dec {
  width: 245px;
  text-align: left;
}

/*list tv*/
.lt li {
  float: left;
  color: #818285;
  font-size: 12px;
  padding: 2px 0;
}

.lt li:nth-child(1) {
  width: 14%;
}

.lt li:nth-child(2) {
  width: 25%;
}

.lt li:nth-child(3) {
  width: 22%;
}

.lt li:nth-child(4) {
  width: 8%;
}

.lt li:nth-child(5), .lt li:nth-child(6) {
  width: 12%;
  text-align: center;
}

.lt li:nth-child(7) {
  width: 6%;
  text-align: center;
}

.f-tv1 {
  font-weight: bold;
  font-size: 14px;
}

.lt-1 {
  display: none;
}

a.btn-lt, a.btn-save {
  float: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 15px;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 13px;
  color: #444;
  background: #bcbdc0;
}

a.btn-save {
  margin-top: 0;
}

a:hover.btn-lt, a:hover.btn-save {
  color: #0095da;
}

/*media group*/
.mg li {
  float: left;
  color: #818285;
  font-size: 13px;
  padding: 2px 0;
}

.mg li:nth-child(1) {
  width: 56%;
  padding: 2px 5px;
}

.mg li:nth-child(1):hover {
  background: #f2aa5a;
  color: #2F2F2F;
  cursor: pointer;
}

.mg li:nth-child(n+2) {
  width: 13%;
  text-align: center;
}

/*media content*/
.mc {
  margin-left: 35px;
}

.mc li {
  float: left;
  background: #fff;
  border: solid 1px #a7a9ac;
  width: 13.9%;
  height: 40px;
}

a.btn-mg {
  float: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 15px;
  margin-right: 10px;
  font-size: 13px;
  color: #444;
  background: #e7e7e8;
}

a:hover.btn-mg {
  color: #0095da;
}

/*login*/
.login {
  width: 808px;
  margin: 0 auto;
  margin-top: 160px;
  border-bottom: solid 5px #00aeef;
}

.login-1, .login-2 {
  float: left;
}

.login-1 {
  width: 500px;
  border-top: solid 5px #f58220;
  padding: 68px 0;
  background: #58585a;
}

.login-logo {
  float: left;
  width: 92px;
  margin-left: 25px;
}

.login-text {
  float: left;
  width: 360px;
  margin-left: 20px;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #ffffff;
}

.login-text div {
  font-size: 12px;
  letter-spacing: normal;
  line-height: normal;
  padding-top: 10px;
}

.login-2 {
  width: 258px;
  height: 200px;
  border-top: solid 5px #00aeef;
  padding: 35px 25px 0 25px;
  background: #f3f3f4;
}

.f-login {
  font-size: 13px;
  color: #444;
}

.f-login2 {
  float: left;
}

.f-login2 a {
  font-size: 13px;
  color: #444;
}

.f-login2 a:hover {
  color: #0095da;
}

input.btn-login {
  float: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: solid 1px #bcbdc0;
  padding: 5px 20px;
  font-size: 13px;
  color: #444;
}

input:hover.btn-login {
  color: #0095da;
}

#fieldlogin {
  width: 100%;
  height: 32px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
  margin: 6px 0 12px 0;
  border: solid 1px #bcbdc0;
}

.boxlogin {
  width: 90%;
  height: 20px;
  border: none;
  background: none;
  color: #444;
  font-size: 12px;
  padding: 6px 0 0 12px;
  border: none;
  outline: none;
  position: relative;
}

#fieldtxt {
  width: 60%;
  height: 32px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffff;
  position: relative;
  margin: 6px 0 12px 0;
  border: solid 1px #bcbdc0;
  float: left;
  margin-left: 18px;
}

#fieldtxt._b {
  width: 55%;
}

#fieldtxt._c {
  width: 47%;
  float: right;
}

#fieldtxt._d {
  width: 60%;
  float: left;
}

#fieldtxt._e {
  width: 24%;
}

.boxtxt {
  width: 90%;
  height: 20px;
  border: none;
  background: none;
  color: #444;
  font-size: 12px;
  padding: 6px 0 0 12px;
  border: none;
  outline: none;
  position: relative;
}

.periodcontent {
  display: none;
  width: 80%;
  margin-bottom: 5px;
  margin-top: -5px;
  margin-left: 45px;
}

.periodcontent._a {
  margin: -4px 0;
}

.periodcontent._b {
  margin: -4px 0 0 0;
}

.pc-1, .pc-2, .pc-3 {
  font-size: 12px;
  color: #58595b;
  float: left;
  padding-top: 4px;
  padding-right: 20px;
}

.pc-2, .pc-3 {
  padding-left: 20px;
}

#fieldtxt._f {
  width: 12%;
  height: 22px;
  float: left;
  margin: 0;
}

#fieldtxt._f .boxtxt {
  height: 16px;
  padding: 0 0 0 12px;
}

.clear._pc {
  display: none;
}

/*search*/
.search-box {
  float: right;
  margin: 5px 10px 0 0;
}

.search-result {
  width: 98%;
  margin: 5px 10px 0 15px;
  padding: 10px 0;
  background: #e9ecf0;
}

.txt-search {
  float: left;
  font-size: 13px;
  color: #58595b;
  padding: 5px 20px 0 0;
}

#fieldsearch {
  width: 260px;
  height: 28px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffff;
  position: relative;
  border: solid 1px #bcbdc0;
  float: left;
}

.search-result #fieldsearch {
  margin-left: 20px;
  width: 80%;
  margin-right: 20px;
}

.boxsearch {
  width: 95%;
  height: 20px;
  border: none;
  background: none;
  color: #58595b;
  font-size: 12px;
  padding: 4px 0 0 8px;
  border: none;
  outline: none;
  position: relative;
  float: left;
}

.btn-search {
  width: 28px;
  height: 28px;
  background: #fff url(../img/icon-search.png) no-repeat center;
  border: solid 1px #bcbdc0;
  display: block;
  float: left;
}

.btn-search:hover {
  background: url(../img/icon-search-hover.png) no-repeat center;
}

.filter-search {
  width: 15%;
  float: left;
}

/*radio button*/
input[type="radio"] {
  display: none;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  background: url(../img/radio-off.png) no-repeat left;
  text-align: center;
}

input[type="radio"]:checked + label span {
  background: url(../img/radio-on.png) no-repeat left;
}

/*check box*/
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  background: url(../img/radio-off.png) no-repeat left;
  text-align: center;
}

input[type="checkbox"]:checked + label span {
  background: url(../img/radio-on.png) no-repeat left;
}

.f-m8-4 input[type="radio"] + label span {
  padding-left: 20px;
  height: 14px;
  margin: 0;
  margin-right: 20px;
  font-size: 12px;
  color: #58595b;
}

.lt-2 input[type="checkbox"] {
  margin: 0 auto;
}

/* editing checkbox */
.tablesorter-blue input[type="checkbox"] {
  display: block;
}

.lt input[type="checkbox"] {
  display: block;
}

/* Media Selection with checkbox */
input[type="checkbox"] {
  display: none;
}

.mc input[type="checkbox"] + label span {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  background: none;
  text-align: center;
}

.mc input[type="checkbox"]:checked + label span {
  background: #fdd1b0;
}

.mc input[type="checkbox"] + label span img {
  padding: 2px 0 0 0;
  max-width: 90%;
}

/*.mc input[type="radio"] + label span {display:inline-block;  width:100%; height:100%; margin:0 4px 0 0; vertical-align:middle; cursor:pointer; background:url(../img/radio-off2.png) no-repeat top right; text-align:center;}
.mc input[type="radio"]:checked + label span{
 background:#fdd1b0 url(../img/radio-on2.png) no-repeat top right;
}*/
.mc input[type="radio"] + label span {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  background: none;
  text-align: center;
}

.mc input[type="radio"]:checked + label span {
  background: #fdd1b0;
}

.mc input[type="radio"] + label span img {
  padding: 16px 0 0 0;
  max-width: 80%;
}

.rank1, .rank2, .rank3, .rank4 {
  float: left;
}

.rank1 input[type="radio"] + label span {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin: 0 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  background: url(../img/icon-rank-20.png) no-repeat top right;
  text-align: center;
}

.rank1 input[type="radio"]:checked + label span {
  background: url(../img/icon-rank-20-active.png) no-repeat top right;
}

.rank2 input[type="radio"] + label span {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin: 0 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  background: url(../img/icon-rank-15.png) no-repeat top right;
  text-align: center;
}

.rank2 input[type="radio"]:checked + label span {
  background: url(../img/icon-rank-15-active.png) no-repeat top right;
}

.rank3 input[type="radio"] + label span {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin: 0 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  background: url(../img/icon-rank-10.png) no-repeat top right;
  text-align: center;
}

.rank3 input[type="radio"]:checked + label span {
  background: url(../img/icon-rank-10-active.png) no-repeat top right;
}

.rank4 input[type="radio"] + label span {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin: 0 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  background: url(../img/icon-rank-5.png) no-repeat top right;
  text-align: center;
}

.rank4 input[type="radio"]:checked + label span {
  background: url(../img/icon-rank-5-active.png) no-repeat top right;
}

/*custom radio button*/
label > input { /* HIDE RADIO */
  display: none;
}

label > input + img { /* IMAGE STYLES */
  cursor: pointer;
}

/*scroll*/
/*#mycustomscroll {width: 95%; height: 220px; overflow: auto; position: relative; background:#ffffff; padding:10px; margin-top:5px;}
#mycustomscroll {width: 100%; height: 220px; overflow: auto; position: relative; background:#ffffff; padding:10px; margin-top:5px;}
.mediacontent #mycustomscroll {width: 96%; height: 170px; overflow: auto; position: relative; background:#ffffff; padding:10px; margin-top:5px;}
.main-6 #mycustomscroll {width: 99%; height: 480px; background:none; padding:0 10px;}*/
.customscroll {
  overflow: auto;
  position: relative;
  width: 100%;
}

#highlight.customscroll, #ms1.customscroll, #ms2.customscroll, #ms3.customscroll, #ms4.customscroll, #ms5.customscroll, #ms6.customscroll, #ms7.customscroll, #ms8.customscroll {
  padding: 5px 0;
  height: 210px;
}

#ms1.customscroll, #ms2.customscroll, #ms3.customscroll, #ms4.customscroll, #ms5.customscroll, #ms6.customscroll, #ms7.customscroll, #ms8.customscroll {
  height: auto;
  max-height: 220px;
}

/*#tablescroll.customscroll{width: 100%; padding:0; margin:0; height: 480px;}*/
#tablescroll.customscroll {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 620px;
}

#tablescroll2.customscroll {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 450px;
}

#tablescroll.customscroll .tablesorter-blue, #tablescroll2.customscroll .tablesorter-blue {
  width: 100%;
}

#group-selection.customscroll {
  height: auto;
  max-height: 380px;
}

#group-selection2.customscroll {
  height: auto;
  max-height: 300px;
}

#dom-selection.customscroll {
  height: auto;
  max-height: 480px;
}

#search-selection.customscroll {
  height: auto;
  max-height: 420px;
}

#coverage.customscroll {
  height: auto;
  max-height: 150px;
}

#coverage .mCSB_inside > .mCSB_container, #group-selection .mCSB_inside > .mCSB_container, #group-selection2 .mCSB_inside > .mCSB_container {
  margin-right: 0;
}

/*dom*/
#warning {
  display: none;
  overflow: hidden;
  border: solid 1px #444444;
  padding: 20px;
}

.warningDialog {
  display: none;
  overflow: hidden;
  border: solid 1px #444444;
  padding: 20px;
}

.dialogPadd {
  overflow: hidden;
  border: solid 1px #444444;
  padding: 20px;
}

.dom-content {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 500px;
  margin: 0 auto;
}

.d-1 {
  float: left;
  width: 95px;
}

.d-2 {
  float: left;
  padding: 5px 0 0 20px;
  width: 290px;
  text-align: right;
}

a.btn-d {
  float: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 15px;
  margin-left: 10px;
  font-size: 13px;
  color: #fff;
  background: #a1a2a5;
}

a:hover.btn-d {
  color: #0095da;
}

.dom-detail {
  display: none;
  overflow: hidden;
  border: solid 1px #444444;
  padding: 20px;
}

.dd-content {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.dd-title {
  font-size: 14px;
  font-weight: bold;
  color: #93949e;
}

.dd-text {
  font-size: 13px;
  color: #93949e;
}

.dd-text p {
  padding-bottom: 10px;
}

.dd-text img {
  max-width: 100%;
}

/*** loading animation ***/
#loading {
  background: rgba(255, 255, 255, 0.5);
  display: none;
  position: absolute;
  height: 110%;
  margin-top: -10%;
  width: 100%;
  text-align: center;
  z-index: 999999;
}

#loading > img {
  margin: 20% auto 0;
}

#blockeS {
  background: #ffffff;
  display: none;
  height: 100%;
  padding-top: 30px;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  z-index: 666;
  box-shadow: 0 0 5px #99ccff;
  -moz-box-shadow: 0 0 5px #99ccff;
  -webkit-box-shadow: 0 0 5px #99ccff;
}

/* LOADER FOR EVERY SEGMENT */
.loader {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8) url(../img/loader.gif) 50% 50% no-repeat;
}

/* Custom Table */
#tabelku {
  color: #a8a8a8;
  font-size: 13px;
  border-spacing: 0;
}

.ui-state-default {
  background: none;
}

.ui-accordion .ui-accordion-header {
  padding: 0.3em;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 0px;
}

.ui-accordion .ui-accordion-content {
  padding: 0.24em;
}

.defaultIcon {
  background-image: url(../img/acc-close.png) !important;
  width: 27px;
  height: 25px;
}

.selectedIcon {
  background-image: url(../img/acc-open.png) !important;
  width: 27px;
  height: 25px;
}

table.dataTable thead th {
  border-bottom: #c8c6c6 1px solid;
}

/* modif quotes */
div#orsee {
  width: auto;
  height: 205px;
  margin-left: 10px;
  margin-top: 10px;
}

div#outpic {
  width: 25%;
  height: auto;
  padding-bottom: 2px;
  float: left;
}

div#pickiri {
  width: 90%;
  height: 210px;
  background: #666666;
  border: #CCCCCC solid 5px;

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.idkiri {
  width: 140px;
  height: auto;
  margin-top: 10px;
  text-align: center;
  font-size: 10px;
}

.idkanan {
  width: 140px;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  font-size: 10px;
}

div#areaorsee {
  width: 20%;
  height: 200px;
  float: left;
}

div#textorsee {
  width: 619px;
  height: 40px;
}

.textor {
  font-size: 11px;
  padding-top: 10px;
}

div#downorsee {
  width: 619px;
  height: auto;
}

.textdownorsee {
  font-size: 11px;
  margin-left: 10px;
  padding-bottom: 3px;
}

div#areadownorsee {
  width: 160px;
  height: auto;
  float: left;
}

div#pickanan {
  width: 90%;
  height: 210px;
  background: #666666;
  margin-left: 10px;
  border: #CCCCCC solid 5px;

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

div#boxquote {
  width: 98%;
  height: 60px;
  display: table;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  color: #FFF;
  background: #296440; /* Fallback */
  background: -moz-linear-gradient(top, #C4C2C3, #C4C2C3);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#C4C2C3), to(#C4C2C3));
}

div#areaquotes {
  width: 98%;
  height: auto;
  margin-left: 0px;
  margin-top: 10px;
}

div#areaquotekiri {
  width: 50%;
  max-height: 600px;
  overflow-x: scroll;
  float: left
}

div#areaquotekanan {
  width: 50%;
  max-height: 600px;
  overflow-x: scroll;
  float: left
}

div#quotekiri {
  display: table-cell;
  width: 30%;
}

div#areaquote {
  width: auto;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.dropquote:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #666;
  position: absolute;
  margin-top: 13px;
  margin-left: 150px;
}

div#issue {
  display: table-cell;
  width: 30%;
}

div#listcontent span.highlighted {
  background-color: #ffffff;
  font-weight: bold;
}

.altImage {
  color: #a8a8a8;
  font-size: 12px;
}

/*footer*/
.logo-footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 0 10px 5px 0;
}

/* .logo-digivla2{position:fixed; z-index:1; bottom:0; left:0; margin:0 0 35px 40px;} */
.logo-digivla2 {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  margin: 0 0 35px 20px;
}

.footer-text {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  margin: 0 0 20px 15px;
  font-size: 11px;
  color: #ffffff;
}

/* .logo-digivla2 img{width: 108px; height: auto;} */
.logo-digivla2 img {
  width: 170px;
  height: auto;
}

/*style for button*
.f-download4{
	padding:2px 10px;
}
.f-download4 a{
	background:#58585A;
	padding:3px 5px;
	color:#EBEBEB;
}
.f-download4 a:hover{
	background:#0094DA;
	color:#fff;
	}
#pnl_filter input[type="button"]{
	background:#58585A;
	padding:3px 5px;
	color:#EBEBEB;
	margin-right:5px;
}
#pnl_filter input[type="button"]:hover{
	background:#0094DA;
	color:#fff;
}*/
