<section data-ng-controller="NewsTvController">
    <div class="head">
        <div class="header-l">
            <a href="http://app.digivla.id/Dashboard/">
                <img src="http://app.digivla.id/admin/asset/images/company/1466231911_Antara-Insight-red.png" onError="this.onerror=null;this.src='http://app.digivla.id/admin/asset/images/agent/digivla.png';" />
            </a>
        </div>
        <div class="header-r">
            <ul class="hr-2">
                <li class="_a"><a data-ui-sref-active="active" ui-sref="news.print">PRINT & ONLINE MEDIA</a></li>
                <li class="_c active"><a data-ui-sref-active="active" ui-sref="news.tv">TV</a></li>
                <li class="_b"><a data-ui-sref-active="active" ui-sref="news.radio">RADIO</a></li>

                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

    <!-- -->
    <div class="content">
        <!-- -->

        <div id="main-content">

            <div class="main-6">
                <div class="search-box">
                    <div class="txt-search">SEARCH</div>
                    <div id="fieldsearch"><input type="text" class="boxsearch" name="search" /></div>
                    <a href="#" class="btn-search"></a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div id="tablescroll2" class="customscroll">
                    <table id="tablesorter2" class="tablesorter-blue">
                        <thead>
                            <tr>
                                <th><input type="checkbox" onchange="checkAll(this)" name="chk[]" /></th>
                                <th>No</th>
                                <th>Tanggal</th>
                                <th>Judul</th>
                                <th>Media</th>
                                <th>Hal</th>
                                <th>Hapus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>1</td>
                                <td>01 Dec 2015</td>
                                <td><a href="#dd1" class="ts-link fancybox">Tak Ingin Kartu Kredit Bengkak, Hindari Ini</a></td>
                                <td>swa.co.id</td>
                                <td><a href="#dd1" class="ts-link fancybox">Lihat</a></td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>2</td>
                                <td>02 Dec 2015</td>
                                <td><a href="#dd2" class="ts-link fancybox">Tak Ingin Kartu Kredit Bengkak, Hindari Ini 2</a></td>
                                <td>kabar24.com</td>
                                <td><a href="#dd2" class="ts-link fancybox">Lihat</a></td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>3</td>
                                <td>03 Dec 2015</td>
                                <td><a href="#" class="ts-link fancybox">Contoh Title 1</a></td>
                                <td>rri.co.id</td>
                                <td><a href="#" class="ts-link fancybox">Lihat</a></td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>4</td>
                                <td>04 Dec 2015</td>
                                <td><a href="#" class="ts-link fancybox">Contoh Title 1</a></td>
                                <td>antaranews.com</td>
                                <td><a href="#" class="ts-link fancybox">Lihat</a></td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>5</td>
                                <td>05 Dec 2015</td>
                                <td><a href="#" class="ts-link fancybox">Contoh Title 1</a></td>
                                <td>Business News</td>
                                <td><a href="#" class="ts-link fancybox">Lihat</a></td>
                                <td>
                                    <a href="#" class="icon-trash"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clear"></div>
            <div class="table-page">
                <div class="tp-1">
                    Showing 1 to 5 of 5 entries
                </div>
                <div class="tp-2">
                    <a href="#" class="tp-link">First</a>
                    <a href="#" class="tp-link">Previous</a>
                    <div class="tp-page">
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                    </div>
                    <a href="#" class="tp-link">Next</a>
                    <a href="#" class="tp-link">Last</a>

                </div>
                <div class="clear"></div>
            </div>
            <div class="f-download4">
                Download <a href="#">PPT</a> | <a href="#">Excel</a>
            </div>

            <!-- dom content start -->
            <div class="dom-detail" id="dd1">
                <div id="dom-selection" class="customscroll dd-content">
                    <div class="dd-title">Tak Ingin Kartu Kredit Bengkak, Hindari Ini</div>
                    <div class="dd-text">
                        <p>Pernah, atau sedang mengalami tagihan kartu kredit bengkak? </p>
                        <img src="lib/dashboard/dist/img/dummy-1.jpg">
                        <p>Pernah, atau sedang mengalami tagihan kartu kredit bengkak? Jangan buru-buru menilai kalau ada kesalahan, atau merasa ditipu oleh pihak bank penerbit kartu kredit. Bisa jadi, penyebabnya berasal dari diri sendiri tanpa disadari.</p>
                        <p>Nah, bisa jadi Anda terjebak dalam kebiasaan-kebiasaan yang dapat membuat tagihan kartu kredit menjadi bengkak. Yuk, coba cek apakah Anda memiliki salah satu, atau lebih kebiasaan berikut:</p>
                        <p><strong>1. Belanja untuk pelampiasan stres</strong></p>
                        <p>Saat sedang stres atau mumet, karena tekanan pekerjaan atau usaha sedang agak jatuh, tindakan paling umum yang biasanya dilakukan adalah mengalihkan stres tersebut ke kegiatan lain.</p>
                        <p>Ada yang memilih untuk berlibur, makan-makan, menyendiri di pojok kamar, atau malah belanja besar. Nah, kalau sering mengalami stres dan melampiaskannya untuk kegiatan konsumtif, ya wajar saja kalau tagihan kartu kredit malah membengkak.</p>
                        <p>Dalam kondisi tersebut, biasanya logika kita akan lebih tertutup dan dikuasai oleh emosi negatif dan stres. Akibatnya, akan sering tidak berpikir panjang dan melakukan pengeluaran belanja yang tidak terlalu dibutuhkan.</p>
                        <p><strong>2. Belanja untuk pamer</strong></p>
                        <p>Saat sedang melewati butik baju trendi atau toko gadget, mungkin Anda kebetulan melihat ada baju, atau smartphone bermerk mahal. Dengan kartu kredit, cukup sekali gesek saja dan bisa langsung memperoleh barang tersebut untuk kamu pamerkan ke teman-temanmu. </p>
                        <p>Terkadang, bisa jadi bukan ingin pamer barang yang dibeli. Ada juga orang-orang yang merasa dirinya masuk kalangan borju (berduit) jika sering berbelanja dengan kartu kredit.</p>
                        <p>Jadi, yang ingin dipamerkan ke teman-teman, atau kasir penjaganya adalah bahwa termasuk ‘kalangan borju’ dan langsung membeli sesuatu dengan kartu kredit tanpa pikir panjang. Nah, keinginan untuk pamer inilah yang bisa membuat tagihan kartu kredit memiliki banyak angka nol di belakang.</p>
                        <p><strong>3. Belanja untuk berburu poin hadiah</strong></p>
                        <p>Bank biasanya sering memberikan berbagai promosi kartu kredit dalam bentuk poin hadiah untuk menarik konsumennya. Promosi ini juga sering diberikan sesuai momen yang pas, misalnya berbelanja di momen liburan akhir tahun untuk mendapatkan poin dua kali lebih banyak.</p>
                        <p>Nah, kalau tujuan berbelanja adalah untuk mengejar poin hadiahnya, maka penggunaan kartu kredit kamu akan bablas. Poin hadiah memang dapat digunakan untuk strategi penghematan dengan kartu kredit, namun bukan berarti tujuan utama adalah berburu poin tersebut sehingga banyak melakukan pengeluaran yang tidak perlu.</p>
                        <p>Jangan mudah tergiur dengan promosi-promosi tersebut. Tetaplah berbelanja sesuai kebutuhan agar tidak membuat tagihan bulananmu bengkak, dan tetap diuntungkan dengan penambahan poin hadiah. </p>
                        <p><strong>4. Belanja biasa saja</strong></p>
                        <p>Oke, anggap saja Anda tidak memiliki berbagai kebiasaan di atas dan benar-benar hanya belanja sesuai kebutuhan saja. Anehnya, tagihan kredit tetap bengkak besar.</p>
                        <p>Nah, kalau hanya melunasi tagihan bulanan dengan pembayaran minimum atau tidak penuh, Anda akan sering menumpuk bunga setiap bulannya. </p>
                        <p>Contoh sederhananya sebagai berikut. Anda melakukan transaksi pada 1 Januari sebesar Rp1 juta, kemudian tanggal jatuh tempo tagihan kamu adalah setiap tanggal 9.</p>
                        <p>Jika di tanggal 9 Januari, hanya melunasi pembayaran minimum sebesar 10 persen, atau Rp100 ribu, Anda masih memiliki Rp900 ribu yang belum dilunasi.</p>
                        <p>Biaya bunga kartu kredit maksimal yang ditetapkan oleh Bank Indonesia di tahun 2015 adalah 2,95 persen per bulan. Kalau tidak melunasi tagihan ini segera, maka pada saat jatuh tempo berikutnya (tanggal 9 Februari), Anda harus membayar bunga sebesar Rp36.000.</p>
                        <p>Bunga ini dihitung dari tanggal 1 Januari 2015 hingga 9 Februari, dengan mengeluarkan bunga atas Rp100 ribu yang sudah dilunasi. Bisa dibayangkan, kalau Anda selalu melunasi dengan pembayaran minimum, jumlah tagihan yang dibayar bisa bengkak hingga jutaan?</p>
                    </div>
                    <div class="dd-foot">
                        <a href="#">PRINT</a> | <a href="#">TEXT PDF</a> | <a href="#">DOC</a> | <a href="#">DELETE</a>
                    </div>
                </div>
            </div>

            <div class="dom-detail" id="dd2">
                <div id="dom-selection" class="customscroll dd-content">
                    <div class="dd-title">Tak Ingin Kartu Kredit Bengkak, Hindari Ini 2</div>
                    <div class="dd-text">
                        <p>Pernah, atau sedang mengalami tagihan kartu kredit bengkak? </p>
                        <p>Jangan mudah tergiur dengan promosi-promosi tersebut. Tetaplah berbelanja sesuai kebutuhan agar tidak membuat tagihan bulananmu bengkak, dan tetap diuntungkan dengan penambahan poin hadiah. </p>
                        <p><strong>4. Belanja biasa saja</strong></p>
                        <p>Oke, anggap saja Anda tidak memiliki berbagai kebiasaan di atas dan benar-benar hanya belanja sesuai kebutuhan saja. Anehnya, tagihan kredit tetap bengkak besar.</p>
                        <p>Nah, kalau hanya melunasi tagihan bulanan dengan pembayaran minimum atau tidak penuh, Anda akan sering menumpuk bunga setiap bulannya. </p>
                        <p>Contoh sederhananya sebagai berikut. Anda melakukan transaksi pada 1 Januari sebesar Rp1 juta, kemudian tanggal jatuh tempo tagihan kamu adalah setiap tanggal 9.</p>
                        <p>Jika di tanggal 9 Januari, hanya melunasi pembayaran minimum sebesar 10 persen, atau Rp100 ribu, Anda masih memiliki Rp900 ribu yang belum dilunasi.</p>
                        <p>Biaya bunga kartu kredit maksimal yang ditetapkan oleh Bank Indonesia di tahun 2015 adalah 2,95 persen per bulan. Kalau tidak melunasi tagihan ini segera, maka pada saat jatuh tempo berikutnya (tanggal 9 Februari), Anda harus membayar bunga sebesar Rp36.000.</p>
                        <p>Bunga ini dihitung dari tanggal 1 Januari 2015 hingga 9 Februari, dengan mengeluarkan bunga atas Rp100 ribu yang sudah dilunasi. Bisa dibayangkan, kalau Anda selalu melunasi dengan pembayaran minimum, jumlah tagihan yang dibayar bisa bengkak hingga jutaan?</p>
                    </div>
                    <div class="dd-foot">
                        <a href="#">PRINT</a> | <a href="#">TEXT PDF</a> | <a href="#">DOC</a> | <a href="#">DELETE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.fancybox').fancybox({});

            $('.periodcontent').hide();

            $('#select').change(function() {
                $('.periodcontent').hide();
                $('.' + $(this).val()).show();
            }).triggerHandler('change');
        });

        $(function() {
            $('#popupDatepicker').datepick();
            $('#popupDatepicker2').datepick();
            $('#dl-menu').dlmenu();
        });

        /* $('#tablesorter2').tablesorter({
           widgets: ['zebra']
           }); */

        function checkAll(ele) {
            var checkboxes = document.getElementsByTagName('input');
            if (ele.checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].type == 'checkbox') {
                        checkboxes[i].checked = true;
                    }
                }
            } else {
                for (var i = 0; i < checkboxes.length; i++) {
                    console.log(i)
                    if (checkboxes[i].type == 'checkbox') {
                        checkboxes[i].checked = false;
                    }
                }
            }
        }

        var config = {
            '.chosen-select-no-single': {
                disable_search_threshold: 10,
                disable_search: true
            }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        (function($) {
            $(window).load(function() {
                $("#tablescroll2").mCustomScrollbar({
                    axis: "yx",
                    theme: "rounded-dots"
                });
                $("#dom-selection").mCustomScrollbar({
                    theme: "rounded-dots"
                });
            });
        })(jQuery);
    </script>
</section>
