<section data-ng-controller="SearchController">
  <div class="head">
    <div class="header-l">
      <a href="http://app.digivla.id/Dashboard/">
        <img src="http://app.digivla.id/admin/asset/images/company/1466231911_Antara-Insight-red.png" onError="this.onerror=null;this.src='http://app.digivla.id/admin/asset/images/agent/digivla.png';" />
      </a>
    </div>
    <div class="header-r">
      <ul class="hr-2">
        <li class="_a"><a data-ui-sref-active="active" ui-sref="search.print">PRINT & ONLINE MEDIA</a></li>
        <li class="_c"><a data-ui-sref-active="active" ui-sref="search.tv">TV</a></li>
        <li class="_b active"><a data-ui-sref-active="active" ui-sref="search.radio">RADIO</a></li>
        <div class="clear"></div>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <!-- -->
  <div class="content">
    <!-- -->
    <div id="main-content">
      <form data-ng-submit="searchArticlePost()">
        <div class="search-result">
          <div id="fieldsearch">
            <input data-ng-model="formdata.keyword" type="text" class="boxsearch" name="search" placeholder="Search" />
          </div>
          <div class="filter-search">
            <select class="option-set clearfix chosen-select-no-single" placeholder="All Media">
              <option value="" class="selected">Semua Media</option>
              <option value="" class="">Media Cetak</option>
              <option value="" class="">Media Online</option>
            </select>
          </div>
          <button type="submit" class="btn-search"></button>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="main-7">
          <div class="f7-1" data-ng-show="isDisplay">Di Temukan {{ results.length }} Artikel (13 media)
            <div class="space-1"></div>
          </div>
          <div id="search-selection" class="customscroll">
            <div class="main-7-1" data-ng-repeat="items in filteredArticles">
              <div class="f7-2"><a href="#dd1" data-ng-click="detailArticle(items.article_id)" class="fancybox">{{ items.title }}</a></div>
              <div class="f7-3">{{ items.content }}</div>
              <div class="f7-4">{{ items.journalist }}</div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="table-page" data-ng-show="isDisplay">
          <div class="tp-1">
            Showing 1 to {{ results.length }} of {{ filteredArticles.length }} entries
          </div>
          <div class="tp-2">
            <pagination style="margin: 0px 0;" ng-model="currentPage" total-items="results.length" max-size="maxSize" boundary-links="true">
            </pagination>
          </div>
          <!-- <div class="tp-2">
            <a href="#" class="tp-link">First</a>
            <a href="#" class="tp-link">Previous</a>
            <div class="tp-page">
              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
            </div>
            <a href="#" class="tp-link">Next</a>
            <a href="#" class="tp-link">Last</a>
          </div> -->
          <div class="clear"></div>
        </div>
      </form>
      <!-- dom content start -->
      <div class="dom-detail" id="dd1">
        <div id="dom-selection" class="customscroll dd-content">
          <div class="dd-title">{{ articleDetail.title }}</div>
          <div class="dd-text">
            <p>{{ articleDetail.content }}</p>
          </div>
          <div class="dd-foot">
            <a href="#">PRINT</a> | <a href="#">TEXT PDF</a> | <a href="#">DOC</a> | <a href="#">DELETE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function() {
    $('.fancybox').fancybox();
    $('.periodcontent').hide();

    $('#select').change(function() {
      $('.periodcontent').hide();
      $('.' + $(this).val()).show();
    }).triggerHandler('change');
  });

  $(function() {
    $('#popupDatepicker').datepick();
    $('#popupDatepicker2').datepick();
    $('#dl-menu').dlmenu();
  });

  function checkAll(ele) {
    var checkboxes = document.getElementsByTagName('input');
    if (ele.checked) {
      for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].type == 'checkbox') {
          checkboxes[i].checked = true;
        }
      }
    } else {
      for (var i = 0; i < checkboxes.length; i++) {
        console.log(i)
        if (checkboxes[i].type == 'checkbox') {
          checkboxes[i].checked = false;
        }
      }
    }
  }

  var config = {
    '.chosen-select-no-single': {
      disable_search_threshold: 10,
      disable_search: true
    }
  }
  for (var selector in config) {
    $(selector).chosen(config[selector]);
  }

  (function($) {
    $(window).load(function() {
      $("#search-selection").mCustomScrollbar({
        theme: "rounded-dots"
      });
      $("#dom-selection").mCustomScrollbar({
        theme: "rounded-dots"
      });
    });
  })(jQuery);
  </script>
</section>
