/* Scroll Bar Master Styling Starts Here */
/* All comments can be freely removed from the css */

.scrollgeneric {line-height: 1px;font-size: 1px;position: absolute;top: 0; left: 0;}

/* force fleXcroll to always display the vertical scrollbase */
.vscrollerbase {
visibility: visible !important;
}
/* fleXcroll adapts to this CSS setting and sets positions correctly */


/* And style your scrollbar like you normally do */
.vscrollerbase {
width: 10px;
background:url(scrollbg.jpg) 0px 0px repeat-y;
}
.vscrollerbar {
width: 10px;
background:url(scrollbase.png) 0px 0px no-repeat;
margin-left:-4px;
}
/*.hscrollerbase {
height: 15px;
background:url(horizontalbarbody_cornerjog.png) 0px -15px repeat-x;
}
.hscrollerbar {
height: 15px;
background:url(horizontalbarbody_cornerjog.png) 0px -30px repeat-x;
}*/
.vscrollerbar, .hscrollerbar {
padding-top:8px;
padding-bottom:34px;
z-index: 1;
}
/*.hscrollerbarbeg {
background: url(basebarcaps_verticalbarbody.png) -60px -15px no-repeat;
height: 15px;
width: 15px !important;
}
.hscrollerbarend {
background: url(basebarcaps_verticalbarbody.png) -30px -15px no-repeat;
height: 15px;
width: 15px;
}
.scrollerjogbox {
width: 15px;
height: 15px;
top: auto; left: auto;
bottom: 0px; right: 0px;
background: #4E727C url(horizontalbarbody_cornerjog.png) 0px 0px;
}*/
.vscrollerbasebeg {
background: url(scrollbgtop.html) 0px 0px no-repeat;
width: 7px;
height: 16px !important;
}
/*.hscrollerbasebeg {
background: url(basebarcaps_verticalbarbody.png) -60px 0px no-repeat;
height: 15px;
width: 15px !important;
}
.hscrollerbaseend {
height: 15px;
width: 15px;
background: url(basebarcaps_verticalbarbody.png) -30px 0px no-repeat;
}
.scrollerjogbox:hover {
background: #5E828C url(basebarcaps_verticalbarbody.png) -45px -15px;
}*/
/* Scroll Bar Master Styling Ends Here */
