@media only screen (min-width: 1100px) {
}


/* Tablet (Portrait) */
/* Width of 768px */

@media only screen and (min-width: 768px) and (max-width: 1000px) {
header, .page_inner header, #content, footer{
 width:708px;
}

#support_24 img{
min-width:100%;
margin-bottom:10px;
}

/* home slider
----------------------------------------*/
.flex-control-nav {
	margin-top:30px;

}
.flex-caption {
    width:70%;
}
.flexslider {
    padding: 0 10px;
}

.flex-caption h1 {
    font-size: 39px;
}

/* Portfolio
----------------------------------------*/

.demo{
 width:768px;
}

.image-grid li{
width:154px;
}
#portfolio_carousel li div{
width:100%;

}
.image-grid_3col li{
width:216px;
}

.image-grid_2col li{
width:338px;
}

.image-grid_1col li{
width:463px;
}


.portfolio_content h3 {
    bottom: 30px;
}

}

/* Mobile landscape width 320 */
@media only screen and (max-width: 767px) {
header, .page_inner header, #content, footer{
 width:280px;
}

/* Logo
----------------------------------------*/
#logo{
width:100%;
text-align:center;
margin-bottom:20px;
}


/* Search box
----------------------------------------*/
#search_box{
float:none;
text-align:center;
width:100%;
}
#search_box #search-form{
float:none;
text-align:center;
width:100%;
clear:both;
}

/* Menu section
----------------------------------------*/
.jqueryslidemenu ul{
display:none;
}

.jqueryslidemenu select{
	display:block;
	width:96%;
	padding:2%;
	margin:0 auto;
}

.jqueryslidemenu {
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: inherit;
	padding:5px;
	border-radius:0px;
}

/* Home slider
----------------------------------------*/
.slides .one_third{
margin-bottom:10px;

}
.slides .one_third img{
width:80%;
text-align:center;
margin:0 auto;
}



.flex-caption {
    width: 100%;
	margin:0px;
	padding:0px;
	text-align:center;
}

.flex-caption h1 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
}

.flex-caption a.button {  
	text-align:center;
	float:none;
}


.flex-control-nav {
    bottom: 0;
    position: inherit ;
    text-align: center;
    width: 100%;
}


/* Portfolio
----------------------------------------*/
.splitter ul li a{
	display: block;
	width:100%;
}
.demo, #list li, .portfolio_content > img{
width:280px;
}

.portfolio_content h3{
font-size:15px;
}
.portfolio_content p {
display:none;

}
/* footer
----------------------------------------*/
footer .widget_container{
margin-bottom:30px;
}


/* Columns
----------------------------------------*/
.one_half, .one_half_last, .one_third, .one_third_last, .two_third, .two_third_last, .one_fourth, .one_fourth_last, .two_fourth, .two_fourth_last, .three_fourth, .three_fourth_last, .one_fifth, .one_fifth_last, .two_fifth, .two_fifth_last, .three_fifth, .three_fifth_last, .four_fifth, .four_fifth_last, #pricing_table .one_third, #pricing_table .one_fourth{
 width: 100%;
margin: 0 0 30px;
}
}
 @media only screen and (min-width: 480px) and (max-width: 767px) {
header, .page_inner header, #content, footer{
 width:440px;
}
/* Home slider
----------------------------------------*/
.slides .one_third{
margin-bottom:10px;

}
.slides .one_third img{
	width:70%;
	text-align:center;
	margin:0 auto;
}

.flex-caption h1 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 15px;
}

/* Portfolio
----------------------------------------*/
.demo, #list li, .portfolio_content > img{
width:440px;
}

.portfolio_content h3{
font-size:20px;
}
