<section data-ng-controller="FilterController" data-ng-show="authentication.user">
  <div class="filter" ng-init="initFilterOption()">
    <div class="filter-content active">
      <div class="f-category">Group Category</div>
      <!-- <div class="f-category">{{selectedGroupCategory}}</div> -->
      <!-- <select class="option-set clearfix chosen-select-no-single"
              ng-init="selectedGroupCategory = groupCategories[0]"
              ng-model="selectedGroupCategory"
              ng-options="gc.set as gc.descriptionz for gc in groupCategories">
      </select> -->
      <select class="option-set clearfix chosen-select-no-single"
              ng-model="$root.selectedGroupCategory"
              ng-options="gc.descriptionz for gc in groupCategories"
              ng-change="changeCategorySet();">
      </select>
    </div>
    <div class="filter-content">
      <div class="f-category">SUB-CATEGORY</div>
      <select class="option-set clearfix chosen-select-no-single"
              ng-model="$root.selectedSubCategory"
              ng-options="sc.category_id for sc in subCategories">
      </select>
    </div>
    <div class="filter-content">
      <div class="f-category">GROUP MEDIA</div>
      <select class="option-set clearfix chosen-select-no-single"
              ng-model="$root.selectedGroupMedia"
              ng-options="mc.media_set_name for mc in groupMedias"
              ng-change="changeMediaSet();">
      </select>
    </div>
    <div class="filter-content">
      <div class="f-category">MEDIA SELECTION</div>
      <!-- <select class="option-set clearfix chosen-select-no-single" placeholder="Pilih Kategori">
        <option class="selected">Choose Media</option>
      </select> -->
      <select class="option-set clearfix chosen-select-no-single"
              ng-model="$root.selectedMediaSelection"
              ng-options="ms.media_name for ms in mediaSelections">
      </select>
    </div>
    <div class="filter-content">
      <div class="f-category">PERIOD</div>
      <select class="option-set clearfix chosen-select-no-single" 
              id="select"
              ng-model="$root.selectedPeriodOptions"
              ng-options="po.name for po in periodOptions"
              ng-change="periodChange()">
      </select>
    </div>

    <div class="filter-content _last">
      <div class="f-category">RANKING</div>
      <div class="clear"></div>
      <div class="rank1">
        <input type="radio" checked id="rank_1" name="rank"/>
        <label for="rank_1" onclick=""><span></span></label>
      </div>
      <div class="rank2">
        <input type="radio" id="rank_2" name="rank"/>
        <label for="rank_2" onclick=""><span></span></label>
      </div>
      <div class="rank3">
        <input type="radio" id="rank_3" name="rank"/>
        <label for="rank_3" onclick=""><span></span></label>
      </div>
      <div class="rank4">
        <input type="radio" id="rank_4" name="rank"/>
        <label for="rank_4" onclick=""><span></span></label>
      </div>
      <div class="clear"></div>
    </div>

    <div class="btn-filter">
      <a href="javascript:;" ng-click="reloadPage()"><img src="asset/dist/img/btn-filter.png"></a>
    </div>
    <div class="clear"></div>
  </div>
</section>
