<div class="clearfix"></div>
<div data-ng-controller="PeriodController" class="periodcontent show0" style="display: block;" ng-hide="$root.hiddenPeriod">
  <div class="content">
	<div id="period-form" class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
	    <div class="label-form-1"><strong>Period : </strong></div>
	    <!-- <div class="clear _pc"></div>
	    <div class="pc-2" id="">From</div>
	    <div id="fieldtxt" class="_f fromdate">
	      <input type="text" class="boxtxt is-datepick" datepicker-popup="{{format}}" ng-model="$root.dateFrom" is-open="opened" min-date="minDate" max-date="{{maxDate}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" />
	    </div>
	    <div class="clear _pc"></div>
	    <div class="pc-3">To</div>
	    <div id="fieldtxt" class="_f todate">
	      <input type="text" class="boxtxt is-datepick" datepicker-popup="{{format}}" ng-model="$root.dateTo" is-open="opened" min-date="minDate" max-date="{{maxDate}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" />
	    </div>
	    <div class="clear"></div> -->

		<div class="form-group pull-left" id="wrap-from-date">
		    <label class="label-form-2" for="from">From Date</label>
		    <input type="text" id="from" class="boxtxt is-datepick form-control" datepicker-popup="{{format}}" ng-model="$root.dateFrom" is-open="opened" min-date="minDate" max-date="{{maxDate}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" />
		 </div>

		 <div class="form-group pull-left" id="wrap-to-date">
		    <label class="label-form-2" for="to">To Date</label>
		    <input type="text" id="to" class="boxtxt is-datepick form-control" datepicker-popup="{{format}}" ng-model="$root.dateTo" is-open="opened1" min-date="minDate" max-date="{{maxDate}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open1($event)" />
		 </div>

	  </div>
  </div>
</div>
<!-- Usage as a class -->
<div class="clearfix"></div>
