<section data-ng-controller="SidebarController" data-ng-show="authentication.user">
  <div id="loading">
    <img src="asset/images/ajax-loader.gif">
  </div>
  <div id="responsive_part">
    <ul class="nav responsive">
      <li>
        <btn class="btn btn-la1rge btn-i1nfo responsive_menu icon_item" data-toggle="collapse" data-target="#sidebar">
          <i class="icon-reorder"></i>
        </btn>
      </li>
    </ul>
  </div>
  
  <div id="dialog_ori"></div>

  <div class="sidebar">
    <ul class="menu-icon">
      <li data-ui-sref-active="active">
        <a ui-sref="home"><img src="asset/dist/img/icon-home.png"></a>
      </li>
      <li data-ui-sref-active="active" ng-if="authentication.user.menune.hasOwnProperty('configurations')">
        <a href="configurations" ng-switch="type" data-ng-class="{ active: $state.includes('configurations') }"><img src="asset/dist/img/icon-user.png"></a>
      </li>
      <li>
        <a href="/api/auth/signout" target="_self"><img src="asset/dist/img/icon-log.png"></a>
      </li>
      <div class="clear"></div>
    </ul>
    <div class="menu">
      <a href="{{path}}{{item.state}}" data-ng-repeat="item in menu.items | orderBy: 'title'" data-ng-if="(item.shouldRender(authentication.user)) && (authentication.user.menune.hasOwnProperty(item.state));" style="text-transform: uppercase;" ng-switch="item.type" data-ng-class="{ active: $state.includes(item.state) }" class="{{item.class}}">
        {{item.title}}
      </a>
    </div>
  </div>

  <div class="menu-m">
    <div id="dl-menu" class="dl-menuwrapper">
      <button>Open Menu</button>
      <ul class="dl-menu">
        <li data-ng-repeat="item in menu.items | orderBy: 'title'">
          <a  href="{{path}}{{item.state}}" data-ng-if="item.shouldRender(authentication.user) && (authentication.user.menune.hasOwnProperty(item.state));" style="text-transform: uppercase;" ng-switch="item.type" data-ng-class="{ active: $state.includes(item.state) }" class="{{item.class}}">{{item.title}}</a>
        </li>

        <li>
          <a href="configurations" ng-if="authentication.user.menune.hasOwnProperty('configurations')" ng-switch="type" data-ng-class="{ active: $state.includes('configurations') }">USER SETTING</a>
        </li>
        <li>
          <a href="/api/auth/signout" target="_self">LOGOUT</a>
        </li>
        <div class="clear"></div>
      </ul>
    </div>
  </div>

</section>