/* ---------- Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui ---------- */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}

strong { font-weight:bold }
em { font-style:italic }
a img { border:none } /* Gets rid of IE's blue borders */
sup { font-size: 50%; }

a, a:hover { text-decoration: none; }

@media print
    {
    	#non-printable { display: none; }
    	#printable { display: block; }
    }

/* style */
body{
	background-color:#FFFFFF;
	font-family: "Verdana", Helvetica, Arial;
	font-size:12px;
	}

div.clearer {
	clear: left;
	line-height: 0;
	height: 0;}


div#roundedind{
	width:960px;
	min-height:1000px;
	margin:auto;
	margin-top:5px;
	margin-bottom:20px;

	box-shadow:#999 0.08em 0.08em 0.1em 0.2em;}

div#roundedlogin{
	width:960px;
	margin:20px auto;
	padding:10px 0;
	background:#FFF;

	-webkit-border-radius: 10px;
 	-moz-border-radius: 10px;
 	border-radius: 10px;

	box-shadow:#999 0.08em 0.08em 0.1em 0.2em;}

div#header{
	width:960px;
	height:113px;
	margin:auto;
	margin-top:15px;
	margin-bottom:13px;}

div#head_icon{
	height:50px;
	margin:auto;}

div#headerpopbtn{
	padding-top:15px !important;
	width:815px;
	height:113px;}

div#boxlogin{
	width:415px;
	height:350px;
	background:#8da8b7;
	overflow:auto;
	text-align:left;

	-webkit-border-radius: 10px;
 	-moz-border-radius: 10px;
 	border-radius: 10px;

	box-shadow:#999 0.05em 0.05em 0.1em 0.08em;}

.textlogin{
	display:block;
	margin-top:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:19px;
	font-weight:bold;
	color:#FFF;
	text-align:center;}

div#tabheader{
	width:940px;
	background:#3a8b60;}

div#tabheader2{
	width:609px;
	background:#3a8b60;}

div#kotakusername{
	width:280px;
	height:170px;
	margin:auto;
	margin-top:30px;}

.textusername{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;}

div#kotakusername input[type="text"], div#kotakusername input[type="password"] {
	width:280px;
	margin:auto;
	margin-top:10px;
	margin-bottom:20px;
	font-size:16px;
	padding:1px 2px;}

div#kotakusername input[type="submit"]
{background: -moz-linear-gradient(center top , #CCCCCC, #999999) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
	color:#333333;
    margin-top:10px;
	margin-left:205px;
    padding:2px 10px;
    text-transform: uppercase;}

.textifyou{
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	color:#FFFFFF;
	margin-top:35px;}

div#pages{
	font-size:10px;
	color:#666666;}

div#rownavi{
	width:90px;
	height:12px;
	margin-top:8px;
	margin-bottom:8px;}

.picnavi{
	width:12px;
	height:12px;
	margin-right:15px;
	float:left;}

div#rownavi2{
	margin:auto;
	margin-top:2px;
	width:60px;
	height:15px;}

.picnavi2{
	margin:auto;
	width:20px;
	height:15px;
	float:left;}

div#menuhead{
	height:30px;
	margin-top:5px;}

div#user{
	width:130px;
	height:15px;
	margin-left:8px;
	padding-top:15px;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	float:left;}

div#selchart{
	width:300px;
	height:15px;
	margin-left:8px;
	padding-top:5px;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	float:left;}

div#selsum{
	width:auto;
	height:15px;
	margin-left:8px;
	padding-top:5px;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	float:left;}

div#user2{
	width:130px;
	height:15px;
	margin-left:8px;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666;
	float:left;}

div#date{
	width:250px;
	background-color:#666666;
	height:25px;
	padding-top:5px;
	padding-bottom:2px;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFF;
	float:left;}
div#flage{
	width:50px;
	background-color:#666666;
	height:25px;
	padding-top:7px;
	padding-bottom:0px;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFF;
	float:right;}

div#menub{
	width:660px;
	height:25px;
	font-size:12px;
	padding-top:5px;
	padding-bottom:2px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FFF;
	float:left}

div#menub p {
	float:left;}

.menu a{
	color:#FFF;
	text-decoration:none;}

.menu a:hover {
	color:#ffdd00;}

.menu p a:active{
	color:#F00;
	text-decoration:none;
	font-weight:bold;}

.menu{
	text-align:center;
	margin-right:10px;
	margin-left:10px;}



div#whatdid{
	width:785px;
	height:40px;
	margin-top:5px;
	padding-top:3px;
	padding-bottom:7px;
	margin-left:10px;

	-webkit-border-radius:8px;
 	-moz-border-radius:8px;
 	border-radius:8px;

	background: #f1d206; /* Fallback */
 	background: -moz-linear-gradient(top, #e3e3e3, #c9c9c9);
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#e3e3e3), to(#c9c9c9));}

.areawhat{
	height:37px;
	margin-top:4px;
	width:850px;}

.textwhat{
	font-size:14px;
	color:#333333;
	padding-top:6px;
	margin-left:20px;
	float:left;}

.fildid{
	width:453px;
	height:35px;
	margin-left:5px;
	background:#FFFFFF;
	float:left;

	-webkit-border-radius:8px;
 	-moz-border-radius:8px;
 	border-radius:8px;}

.tomsearch{
	width:100px;
	height:35px;
	margin-left:666px;
	background:#FFFFFF;

	-webkit-border-radius:8px;
 	-moz-border-radius:8px;
 	border-radius:8px;

	background: #fc5008; /* Fallback */
 	background: -moz-linear-gradient(top, #fc5008, #bb3c07);
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fc5008), to(#bb3c07));}

.texttom a{
	color:#FFF;
	text-decoration:none;}

.texttom a:hover{
	color:#ffdd00;}

.texttom p a:active{
	color:#F00;
	text-decoration:none;
	font-weight:bold;}

.texttom{
	font-size:16px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin:auto;
	padding-top:6px;
	text-align:center;
	color:#FFF;}

.fildid input[type="text"]{
	width:430px;
	margin:auto;
	border:none;
	margin-top:7px;
	font-size:16px;
	padding:1px 2px;}

div#panelkiri{
	width:130px;
	height:800px;
	float:left;}

div#leftbar {
	background-color:#FCFDFA;
	height:auto;
	margin-left:8px;
	width:130px;
	float: left;
	margin-top:20px;

	/*-webkit-border-radius: 10px;
 	-moz-border-radius: 10px;
 	border-radius: 10px;*/

	box-shadow:#CCC 0.01em 0.01em 0.3em 0.1em;}

div#pilihtanggal input[type="text"], select {
	margin-left:6px;
	color: #787a7e;
	font-size: 10px;
	border: 1px solid #d5d9de;
	outline: none;
	width:80px;
	padding:0px;
	box-shadow: 0 0 0 0;
	height:20px;}

div#pilihtanggal a{
   color:inherit;
}

div#kotakpilihtgl{
	width:130px;
	height:30px;

	border-bottom:#CCC 0.5px solid;

	/*-webkit-border-radius: 10px 10px 0 0;
 	-moz-border-radius: 10px 10px 0 0;
 	border-radius: 10px 10px 0 0;*/

	background: #d3d3d3; /* Fallback */
 	background: -moz-linear-gradient(top, #e9e9e9, #d3d3d3);
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#e9e9e9), to(#d3d3d3));}

div#kotakpilihtgl2 a{}

div#kotakpilihtgl2:hover{
	background:#26dcdc;}

div#kotakpilihtgl2:active{
	background:#f05328;}

div#kotakpilihtgl3 a{}

div#kotakpilihtgl3:hover{
	background:#26dcdc;}

div#kotakpilihtgl3:active{
	background:#f05328;}

div#kotakpilihtgl3{
	width:130px;
	height:30px;

	border-bottom:#CCC 0.5px solid;

	/*-webkit-border-radius: 0 0 10px 10px;
 	-moz-border-radius: 0 0 10px 10px;
 	border-radius: 0 0 10px 10px;*/

	background: #e2e2e2; /* Fallback */
 	background: -moz-linear-gradient(top, #f9f8f8, #e2e2e2);
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f8f8), to(#e2e2e2));}

div#kotakpilihtgl2{
	width:130px;

	height:30px;
	border-bottom:#CCC 0.5px solid;

	background: #e2e2e2; /* Fallback */
 	background: -moz-linear-gradient(top, #f9f8f8, #e2e2e2);
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f8f8), to(#e2e2e2));}

div#leftbar p.title{
	font-size:11px;
	padding:8px 0 0 15px;
	font-weight:bold;
	color:#666666;
	font:Verdana, Geneva, sans-serif;}

div#leftbar p.title2{
	font-size:11px;
	padding:8px 0 0 15px;
	font:Verdana, Geneva, sans-serif;}

div#leftbar p.title2 a{
	color:#333;
	text-decoration:none !important;}

div#leftbar p.title2 a:hover{
	color:#333 !important;
	text-decoration:underline !important;}

div#leftbar p.title2:active{
	text-decoration:underline;}

div#paneldalam{
	width:147px;
	height:auto;
	padding-top:30px;
	padding-bottom:20px;
	background:#f1f2f2;

	border-radius: 0px 10px 10px 0px;}

div#paneldalambwh{
	width:147px;
	height:410px;
	margin-top:15px;
	padding-bottom:20px;
	background:#f1f2f2;

	border-radius: 0px 10px 10px 0px;}

.tekdate{
	font-size:8px;
	margin-top:12px;}

.tekhead{
	font-size:10px;}

div#areachart{
	width:805px;
	height:auto;
	margin-left:155px;
	/*background:#CCC;*/
	margin-top:10px;
	margin-bottom:10px;}

div#areachart2{
	width:805px;
	height:587px;
	margin-left:155px;
	/*background:#CCC;*/
	margin-top:10px;}

div#areachart3{
	width:805px;
	min-height:100px;
	margin-left:155px;
	/*background:#CCC;*/
	margin-top:10px;
	margin-bottom:40px;}

div#areaquotes{
	width:805px;
	height:auto;
	margin-left:0px;
	margin-top:10px;}

div#areachartbwh{
	width:805px;
	min-height:600px;
	margin-left:155px;
	/*background:#CCC;*/
	margin-top:10px;}

div#areachartkiri{
	width:400px;
	height:auto;
	/*background:#9F0;*/
	float:left;}

div#areachartkiri2{
	width:490px;
	height:auto;
	/*background:#9F0;*/
	float:left;}

div#areachartkanan{
	width:400px;
	height:auto;
	margin-left:405px;
	/*background:#999;*/}

div#areachartkanan2{
	width:300px;
	height:auto;
	margin-left:655px;
	/*background:#999;*/}

div#areachartkiribwh{
	width:400px;
	height:500px;
	/*background:#9F0;*/
	float:left;}

div#areachartkananbwh{
	width:400px;
	height:500px;
	margin-left:405px;
	/*background:#9F0;*/}

.colspan{
	cursor:pointer;
	width:400px;
	height:37px;

	-webkit-border-radius: 17px;
 	-moz-border-radius: 17px;
 	border-radius: 17px;

	background: #f1d206; /* Fallback */
 	background: -moz-linear-gradient(top, #fff600, #ffdc03);
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff600), to(#ffdc03));}

div.plusmin{
	width:31px;
	height:32px;
	margin-left:3px;
	padding-top:3px;
	float:left;}

.currentpast{
	font-size:11px;
	color:#333333;
	padding-top:10px;
	margin-left:40px;}

div#imgchart{
	width:auto;
	height:auto;}

div#searcharea{
	width:388px;
	height:88px;
	/*background:#006699;*/}

div#ktkserch{
	width:388px;
	height:50px;
	/*background:#FC0;*/}

div#klmserc{
	width:410px;
	height:45px;
	background:#3a8b60;
	float:left;

	-webkit-border-radius:10px;
 	-moz-border-radius:10px;
 	border-radius:10px;}

div#tombarea{
	width:70px;
	height:45px;
	/*background:#090;*/
	margin-left:415px;}

div#areafound{
	width:388px;
	height:25px;
	/*background:#FF6699;*/}

.teksfound{
	font-size:9px;
	color:#666;
	padding-top:5px;
	/*margin-left:6px;*/}

p.linktitle{
	color:#176767;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;}

p.linktitle a{
	color:#16adad;
	text-decoration:none !important;
	font-size:12px;
	font-weight:bold;}

p.linktitle a:hover{
	text-decoration:underline !important;
	color:#176767}

p.description{
	font-size:11px;}

p.linkhalaman {
	font-weight:bold;
	font-size:10px;}

p.linkhalaman a{
	color:#038406;
	font-size:10px;}

p.linkhalaman a:hover{
	color:#038406 !important;
	text-decoration:underline !important;}

div#arealistpencarian{
	width:400px;
	height:auto;
	margin-left:405px;
	/*background:#9F0;*/}

div#areaquotekiri{
	width:395px;
	max-height:400px;
	overflow-x:scroll;
	float:left}
div#areaquotekanan{
	width:395px;
	max-height:400px;
	overflow-x:scroll;
	float:left}

div#listpencarian {
	background-color: #faffff;
    float: left;

    height:auto;
    width:490px;
	margin-bottom:10px;

	/*-moz-box-shadow: 0 0 0 5px #ffffff, inset 0 0 5px 5px #ffffff;
	-webkit-box-shadow: 0 0 0 5px #ffffff, inset 0 0 5px 5px #ffffff;
	box-shadow:#CCC 0.01em 0.01em 0.3em 0.1em, inset 0 0 7px 7px #f3f3f3;*/}

div#listpencarian2 {
	background-color: #faffff;
    float: left;

    height:auto;
    width:390px;
	margin-bottom:10px;

	/*-moz-box-shadow: 0 0 0 5px #ffffff, inset 0 0 5px 5px #ffffff;
	-webkit-box-shadow: 0 0 0 5px #ffffff, inset 0 0 5px 5px #ffffff;
	box-shadow:#CCC 0.01em 0.01em 0.3em 0.1em, inset 0 0 7px 7px #f3f3f3;*/}

div#listpencarian ul li{
	padding: 0px 18px 5px;}

div#listpencarian ul li p{}

div#pages{
	width:290px;
	height:18px;
	padding-top:20px;}

div#kotakpage{
	width:20px;
	height:18px;
	margin-top:15px;
	background:#fe5b00;

	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	border-radius: 5px;
	float:left;}

div#kotakpage2{
	width:20px;
	height:18px;
	margin-left:15px;
	margin-top:15px;
	background:#c34c09;

	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	border-radius: 5px;
	float:left;}

div#kotakpage2 a{
	background:#F0F;}

div#kotakpage2 a:hover{
	background:#0F0;}

div.nopage{
	font-size:10px;
	margin-top:2px;
	text-align:center;
	color:#FFF;}

div#saveq{
	width:150px;
	height:25px;
	margin-top:25px;
	margin-left:6px;
	background:#bb3c07;

	-webkit-border-radius:5px;
 	-moz-border-radius:5px;
 	border-radius:5px;

	background: #fc5008; /* Fallback */
 	background: -moz-linear-gradient(top, #fc5008, #bb3c07);
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fc5008), to(#bb3c07));}

div#saver{
	width:80px;
	height:25px;
	margin-top:15px;
	background:#f30372;
	float:left;

	-webkit-border-radius:5px;
 	-moz-border-radius:5px;
 	border-radius:5px;

	background: #fc5008; /* Fallback */
 	background: -moz-linear-gradient(top, #fc5008, #bb3c07);
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fc5008), to(#bb3c07));}

div#saves{
	width:80px;
	height:20px;
	margin-top:5px;
	margin-left:10px;
	background:#f30372;
	float:left;

	-webkit-border-radius:5px;
 	-moz-border-radius:5px;
 	border-radius:5px;

	background: #fc5008; /* Fallback */
 	background: -moz-linear-gradient(top, #fc5008, #bb3c07);
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fc5008), to(#bb3c07));}

.savea{
	width:auto !important;
	font-size:12px !important;
	font-weight:bold;
	text-align:center !important;
	margin-left:0px !important;
	padding-top:4px;}

.savea a{
	color:#FFF !important;
	text-decoration:none !important;}

.savea a:hover{
	color:#CCC !important;}

div#rowlist{
	width:805px;
	height:30px;
	margin-bottom:5px;
	/*background:#99CC33;*/}

div#rowlist2{
	width:805px;
	height:53px;
	/*background:#99CC33;*/}

div#rowlist21{
	width:805px;
	height:300px;
	/*background:#99CC33;*/}

div#rowlist3{
	width:805px;
	/*height:240px;*/
	/*background:#99CC33;*/}

div#rowlist31{
	width:805px;
	/*height:125px;*/
	/*background:#99CC33;*/}

div#namelist{
	width:200px;
	height:30px;
	float:left;
	/*background:#C90;*/}

div#namesum{
	width:auto;
	height:30px;
	float:left;
	/*background:#C90;*/}

div#ktklist{
	width:595px;
	height:30px;
	margin-left:210px;
	/*background:#F93;*/}

div#rowchecklist{
	width:194px;
	height:240px;
	float:left;
	/*background:#9999CC;*/}

div#alist{
	width:194px;
	height:23px;
	/*background:#33CC99;*/}

div#orsee{
	width:auto;
	height:215px;
	margin-left:20px;
	margin-top:10px;}

div#outpic{
	width:150px;
	height:auto;
	padding-bottom:10px;
	float:left;}

div#pickiri{
	width:130px;
	height:140px;
	background:#666666;
	border:#CCCCCC solid 5px;

	-webkit-border-radius:12px;
 	-moz-border-radius:12px;
 	border-radius:12px;}

.idkiri{
	width:140px;
	height:auto;
	margin-top:10px;
	text-align:center;
	font-size:10px;}

.idkanan{
	width:140px;
	height:auto;
	margin-top:10px;
	margin-left:10px;
	text-align:center;
	font-size:10px;}

div#areaorsee{
	width:463px;
	height:200px;
	float:left;}

div#textorsee{
	width:619px;
	height:40px;}

.textor{
	font-size:11px;
	padding-top:10px;}

div#downorsee{
	width:619px;
	height:auto;}

.textdownorsee{
	font-size:11px;
	margin-left:10px;
	padding-bottom:3px;}

div#areadownorsee{
	width:160px;
	height:auto;
	float:left;}

div#pickanan{
	width:130px;
	height:140px;
	background:#666666;
	margin-left:10px;
	border:#CCCCCC solid 5px;

	-webkit-border-radius:12px;
 	-moz-border-radius:12px;
 	border-radius:12px;}

div#boxquote{
	width:785px;
	height:60px;
	margin-left:10px;

	-webkit-border-radius:8px;
 	-moz-border-radius:8px;
 	border-radius:8px;

	background: #296440; /* Fallback */
 	background: -moz-linear-gradient(top, #48a072, #296440);
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#48a072), to(#296440));}

/*div#boxquote:before{
	content:"";
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #48a072;
	position:absolute;
	margin-top:-19px;
	margin-left:221px;}*/

div#quotekiri{
	width:285px;
	height:40px;
	float:left;}

div#areaquote{
	width:auto;
	height:40px;
	padding-top:10px;
	padding-bottom:15px;}

/*.dropquote{
	width:180px;
	height:35px;
	margin-left:105px;
	margin-top:3px;
	background:#CCC;

	-webkit-border-radius:8px;
 	-moz-border-radius:8px;
 	border-radius:8px;}*/

.dropquote:after{
	content:"";
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #666;
	position:absolute;
	margin-top:13px;
	margin-left:150px;}

div#issue{
	width:235px;
	height:40px;
	float:left;}

div#listcontent span.highlighted {
    background-color: #ffffff;
      font-weight: bold;
}

.setting_menu{
	min-width:450px;
	min-height:100px;
	width:auto;
	background:#E8E8E8;
	margin-top:10px;
	padding:10px 10px 10px 10px;
	-webkit-border-radius:10px;
 	-moz-border-radius:10px;
 	border-radius:10px;
}

.setting_menu2{
	min-width:350px;
	min-height:100px;
	width:auto;
	background:#E8E8E8;
	margin-top:10px;
	padding:10px 10px 10px 10px;
	-webkit-border-radius:10px;
 	-moz-border-radius:10px;
 	border-radius:10px;
}

.add_button{
	min-width:25px;
	min-height:10px;
	width:auto;
	background:#E8E8E8;
	margin-top:10px;
	-webkit-border-radius:10px;
 	-moz-border-radius:10px;
 	border-radius:10px;
}

.textissue{
	text-align:center;
	margin-top:22px;
	color:#FFFFFF;
	font-weight:bold;}

div#quotekanan{
	width:285px;
	height:40px;
	margin-left:587px;}

.textquote{
	font-size:14px;
	padding-top:10px;
	margin-left:20px;
	color:#FFFFFF;
	float:left;}


div#footenote{
	font-size:10px;
	color:#333333;
	text-align:center;
	margin-top:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:20px;}

#blocke {background:#ffffff;display:none;min-height:1200px;opacity:0.7;position:absolute;width:960px;z-index:666;box-shadow:0 0 5px #99ccff;-moz-box-shadow:0 0 5px #99ccff;-webkit-box-shadow:0 0 5px #99ccff;}
#blocke p {line-height:1.5;margin:50px auto;width:300px;}

#blockeS {background:#ffffff;display:none;min-height:900px;opacity:0.7;position:absolute;width:890px;z-index:666;box-shadow:0 0 5px #99ccff;-moz-box-shadow:0 0 5px #99ccff;-webkit-box-shadow:0 0 5px #99ccff;}
#blockeS p {line-height:1.5;margin:50px auto;width:300px;}

#blockeC {background:#ffffff;display:none;min-height:900px;opacity:0.7;position:absolute;width:890px;z-index:666;box-shadow:0 0 5px #99ccff;-moz-box-shadow:0 0 5px #99ccff;-webkit-box-shadow:0 0 5px #99ccff;}
#blockeC p {line-height:1.5;margin:50px auto;width:300px;}

#blockeSC {background:#ffffff;display:none;min-height:900px;opacity:0.7;position:absolute;width:890px;z-index:666;box-shadow:0 0 5px #99ccff;-moz-box-shadow:0 0 5px #99ccff;-webkit-box-shadow:0 0 5px #99ccff;}
#blockeSC p {line-height:1.5;margin:50px auto;width:300px;}

/****************************************************/

#catlist {}
#catlist > li {margin:3px 0;}
#catlist .subcatlist {margin:0 0 5px 24px;}

#loggu {}
#loggu th, #loggu td {padding:2px 5px;}
#loggu tr {background:none;}
#loggu tr:first-child td {
    background:none;
    border:none;
    color:inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    text-align: left;
}
#loggu thead tr:last-child {border-bottom:2px solid #999999;}
#loggu thead th {font-weight:bold;}
#loggu tbody tr {border-bottom:1px solid #cccccc;}
#loggu tfoot {font-size:0.8em;}

.periodcontent {
	margin: 0 0 0 50px;
}
