<section data-ng-controller="NewsController">
  <div class="head">
    <div class="header-l">
      <a data-ui-sref-active="active" ui-sref="home">
        <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" onerror="this.onerror=null;this.src='http://admin.antara-insight.id/asset/images/agent/digivla.png';"/>
      </a>
    </div>
    <div class="clear"></div>
  </div>

  <!-- -->
  <div class="content" data-ng-init="initData(true)">
    <!-- -->
    <div id="main-content">
      <div class="main-6" style="padding-top: 10px">
        <div id="pnl_btn" style="display: block;" data-ng-show="showButtonEmail">
          <input class="btn-danger" id="del-all" ng-click="deleteArticles();" ng-if="authentication.user.user_detail.stat_edit === 'Y'" value="Hapus" type="button">
          <input class="btn-info" id="text-all" value="Scan Media" ng-click="originale(1, 1, 'pdf_scan');" type="button">
          <input class="btn-info" id="pdf-all" value="Teks Asli" ng-click="originale(2, 1, 'pdf_text');" type="button">
          <input class="btn-info" id="doc-all" value="Doc" ng-click="originale(1, 0, 'doc');" type="button">
          <input class="btn-warning" id="email-push" value="Email" type="button">
          <div style="clear:both;">&nbsp;</div>
        </div>
        Search: <input type="text" ng-model="searchTable">
        <div style="float: right;">
          Check All<input type="checkbox" ng-model="selectedAll" ng-click="checkAll();" style="display: block;" />
        </div>
        <div class="clear"></div>
        <div class="customscroll">
          
          <table ng-table="tableData" show-filter="false" class="tablesorter-blue table table-bordered table-striped table-condensed">
            <tr ng-repeat="article in $data">

                <td data-title="'✔'" align="center" sortable="'article_id'">
                  <input type="checkbox" value="{{article.article_id}}" ng-checked="checkSelectionExists(article)" ng-click="toggleSelection(article)">
                </td>

                <td data-title="'No'">
                  {{((tableData.page() - 1) * tableData.count()) + $index + 1}}
                </td>

                <td data-title="'Tanggal'" sortable="'detail.datee'" show="true">
                  {{article.detail.datee.substring(0,10)}}
                </td>

                <td data-title="'Judul'" sortable="'detail.title'">

                  <a href="#" ng-click="getDetailArticle(article.article_id, article.detail.media_name, article.categories)" class="ts-link fancybox">
                    {{ article.detail.title }}
                  </a>

                  <img ng-show="article.detail.activity.indexOf('print') !== -1" src="/asset/images/print-icon.png" title="Artikel sudah dicetak" alt="Artikel sudah dicetak">
                  <img ng-show="article.detail.activity.indexOf('doc') !== -1" src="/asset/images/docx-win-icon.png" title="Dokumen artikel sudah diunduh" alt="Dokumen artikel sudah diunduh">
                  <img ng-show="article.detail.activity.indexOf('pdf_scan') !== -1" src="/asset/images/pdf-icon.png" title="Scan PDF artikel sudah diunduh" alt="Scan PDF artikel sudah diunduh">
                  <img ng-show="article.detail.activity.indexOf('pdf_text') !== -1" src="/asset/images/accdb-icon.png" title="Teks PDF artikel sudah diunduh" alt="Teks PDF artikel sudah diunduh">

                </td>

                <td data-title="'Media'">
                  {{article.detail.media_name}}
                </td>

                <td data-title="'Hal'">
                  <a href="{{article.detail.file_pdf}}" ng-if="article.detail.file_pdf.indexOf('http') > -1" target="_blank">
                    Link
                  </a>

                  <p ng-if="article.detail.file_pdf.indexOf('http') == -1">
                    {{article.detail.page}}
                  </p>
                </td>

                <td ng-if="authentication.user.user_detail.stat_edit === 'Y'" data-title="'Hapus'">
                  <a href="#" ng-click="deleteArticle(article);" class="icon-trash fancybox"></a>
                </td>

            </tr>
          </table>


        </div>
      </div>
      <div class="clear"></div>
      <div class="table-page">
        <div class="tp-1">
          Found {{totalArticles}} article(s)
        </div>
        <div class="tp-2">
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>

  <!-- dom content start -->
    <div class="dom-detail" id="dd1">
      <div id="dom-selection" class="customscroll dd-content">

        <div id="printable">
          <div>
            <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" style="height:70px; float:right;">
            <table>
              <tbody><tr>
                <td>
                  <b>Title<b>
                </b></b></td>
                <td>
                  &nbsp;&nbsp;:&nbsp;&nbsp;
                </td>
                <td>{{articleDetail.title}}<br/></td>
              </tr>
              <tr>
                <td><b>Date</b></td>
                <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                <td>{{articleDetail.datee.substring(0,10)}}<br/></td>
              </tr>
              <tr>
                <td><b>Media</b></td>
                <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                <td>{{articleDetail.media_name}}<br/></td>
              </tr>
              <tr>
                <td><b>NewsValue</b></td>
                <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                <td>{{articleDetail.values.newsvalue_bw}}<br/></td>
              </tr>
              <tr>
                <td><b>AdValue</b></td>
                <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                <td>{{articleDetail.values.advalue_bw}}<br/></td>
              </tr>
              <tr><td colspan="3"><br/></td></tr>
              <tr>
                <td><b>Content</b></td>
                <td>&nbsp;&nbsp;:</td>
                <td></td>
              </tr>
            </tbody></table>
          </div>
          <br>
          <hr>
            <div>
              <p ng-bind-html="trustAsHtml(articleDetail.content);"></p>
              <br><br>
              <div ng-bind-html="trustAsHtml(mediaHTML);"></div>
              <br><br>
            </div>
          <hr>
          <br>

          <br>
          <b><i>Kategori</i></b>:
          <span ng-repeat="ci in articleDetail.categories">
            <span ng-class="articleDetail.selectedCategories.indexOf(ci) > -1 ? 'tag-selected' : 'tag'">
              <b>{{ci}}</b>
              &nbsp;&nbsp;
              <a ng-show="articleDetail.selectedCategories.indexOf(ci) > -1" title='Hapus tag kategori ini.' class='untag' ng-click="deleteArticle({_id: [articleDetail._id[$index]], article_id: articleDetail.article_id, categories: [ci]});">
                <span class='icon-remove'></span>
              </a>
            </span> 
            <span ng-if="!$last">,&nbsp;</span>
          </span>

        </div>

        <br>
        <br>
        <br>

        <b>
          <div id="non-printable">
            <input class="btn-info" value="Print" type="button" ng-click="saveActivity(articleDetail, 'print');" ng-print print-element-id="printable">&nbsp;&nbsp;
            <input class="btn-info" value="Teks pdf" ng-click="getPDF('teks_pdf', articleDetail.article_id);" type="button">&nbsp;&nbsp;
            <input class="btn-info" value="Doc" ng-click="originaleSingle(1, 0, articleDetail, 'doc');" type="button">&nbsp;&nbsp;
            <input ng-show="articleDetail.file_pdf.indexOf('.pdf') !== -1" class="btn-info" value="Teks Asli" ng-click="originaleSingle(2, 1, articleDetail, 'pdf_text');" type="button">&nbsp;&nbsp;
            <input ng-show="articleDetail.file_pdf.indexOf('.pdf') !== -1" class="btn-info" value="Scan Media" ng-click="originaleSingle(1, 1, articleDetail, 'pdf_scan');" type="button">&nbsp;&nbsp;
          </div>
        </b>

      </div>
    </div>

    <div class="dom-detail" id="email-box">
      <div id="dom-selection" class="customscroll dd-content">
        <div class="dd-title">Input your email</div>
        <p class="validateTips">Jika email yang akan dikirim lebih dari 1 maka gunakan koma (,) sebagai pemisah email. Cth: abc@mail.com,def@mail.com
          </p>
        <br>
        <br>
        <textarea ng-model="destinationEmail"></textarea>
        <br>
        <input type="button" class="btn-info" value="Send" ng-click="emailAll();">
      </div>
    </div>

    <div class="dom-detail" id="warning-box">
      <div id="dom-selection" class="customscroll dd-content">
        <div class="d-1"><img src="asset/dist/img/icon-warning.png"></div>
        <div class="d-2">
          Are you sure you want to delete this article?
          <div class="space-1"></div>
          <a href="#" class="btn-d closeFancybox">Cancel</a>
          <a href="#" class="btn-d closeFancybox" ng-click="deleteArticle();">Delete</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="dom-detail" id="dialog-form-delete-many">
      <div id="dom-selection" class="customscroll dd-content">
        <div class="d-1"><img src="asset/dist/img/icon-warning.png"></div>
        <div class="d-2">
          Are you sure you want to delete those articles?
          <div class="space-1"></div>
          <a href="#" class="btn-d closeFancybox">Cancel</a>
          <a href="#" class="btn-d closeFancybox" ng-click="doDeleteArticles();">Delete</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="dom-detail" id="dialog-form-delete-single">
      <div id="dom-selection" class="customscroll dd-content">
        <div class="d-1"><img src="asset/dist/img/icon-warning.png"></div>
        <div class="d-2">
          Are you sure you want to delete this article?
          <div class="space-1"></div>
          <a href="#" class="btn-d closeFancybox">Cancel</a>
          <a href="#" class="btn-d closeFancybox" ng-click="doDeleteArticles();">Delete</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>

  <script type="text/javascript">
    $('#dl-menu').dlmenu();

    $('#email-push').click(function(){
      $.fancybox([
        { href: '#email-box' }
      ]);
    });

    (function($) {
      $(window).load(function() {
        $("#tablesorter2").mCustomScrollbar({axis: "yx", theme: "rounded-dots"});
        $(".customscroll").mCustomScrollbar({axis: "yx", theme: "rounded-dots"});
        $("#dom-selection").mCustomScrollbar({theme: "rounded-dots"});
      });
    })(jQuery);
  </script>
</section>
