<section data-ng-controller="DashboardsListArticleController">
  <div class="head">
    <div class="header-l">
      <a data-ui-sref-active="active" ui-sref="home">
        <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" onError="this.onerror=null;this.src='http://admin.antara-insight.id/asset/images/agent/digivla.png';" />
      </a>
    </div>
    <div class="clear"></div>
  </div>
  <!-- -->
  <div class="content">
    <!-- -->
    <div id="main-content">
      <a href="#" class="backbutton" ng-click="goBackToPreviousState();">
        <span>Back</span>
      </a>
      <div id="normal-dash">
        <!-- ***************************************************************************** -->
        <div class="main-7">
          <div class="f7-1">
            <b>
            <p ng-if="initData.type === '0'" class="teksfound" id="subcl_tit_det_1" ng-init="requestData(initData)">Artikel ( Category : {{initData.sub_category}} )</p>
            <p ng-if="initData.type === '4'" class="teksfound" id="subcl_tit_det_1" ng-init="requestData(initData)">Artikel ( Date : {{initData.date_from}}, Category : {{initData.sub_category}} )</p>
            <p ng-if="initData.type === '050'" class="teksfound" id="subcl_tit_det_1" ng-init="requestData(initData)">Artikel ( Media : {{initData.media_id.name}}, Sentimen: {{initData.tone}} )</p>
            <p ng-if="initData.type === '019'" class="teksfound" id="subcl_tit_det_1" ng-init="requestData(initData)">Artikel ( Category : {{initData.sub_category}}, Sentimen: {{initData.tone}} )</p>
            <p ng-if="initData.type === 'ews'" class="teksfound" id="subcl_tit_det_1" ng-init="requestData(initData)">Artikel ( Date : {{initData.date_from}}, Category : {{initData.category}} )</p>

            <p ng-if="initData.type === 'date'" class="teksfound" id="subcl_tit_det_1" ng-init="requestData(initData)">Artikel ( Date : {{initData.date_from}}, Category : {{initData.category}} )</p>
            <p ng-if="initData.type === 'category'" class="teksfound" id="subcl_tit_det_1" ng-init="requestData(initData)">Artikel ( Category : {{initData.category}} )</p>
            <p ng-if="initData.type === '018'" class="teksfound" id="subcl_tit_det_1" ng-init="requestData(initData)">Artikel ( Date : {{initData.date_from}}, Sentimen: {{initData.tone}} )</p>
          </b>
          </div>
          <div class="space-1"></div>
          <div id="search-selection" class="customscroll mCustomScrollbar _mCS_1">
            <div id="isinee">
              <div class="main-7-1" ng-repeat="al in articleLists">
                <div class="f7-2">
                  <a href="#" ng-click="getDetailArticle(al.article_id);" class="fancybox">{{al.title}}</a>
                </div>
                <div class="f7-3">
                  {{al.content}}
                </div>
                <div class="f7-4">
                  Media : {{al.media_name}} | Tanggal : {{al.datee.substring(0,10)}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ***************************************************************************** -->
        <div class="clear"></div>
        <div class="table-page">
          <div class="tp-1">
            <!-- Showing 1 to 5 of 5 entries -->
            Found {{totalItems}} articles
          </div>
          <div class="tp-2">
            <pagination style="margin: 0px 0;" ng-model="currentPage" total-items="totalItems" max-size="maxSize" boundary-links="true" ng-change="pageChanged()">
            </pagination>
          </div>
          <div class="clear"></div>
        </div>
        <br/>
        <!-- <div id="ios-arrow-left" title="Back"></div> -->
      </div>
    </div>
    <!-- DOM -->
    <!-- dom content start -->
    <div class="dom-detail" id="dd1">
      <div id='printable'>
        <div>
          <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" style="height:70px; float:right;">
          <table>
            <tbody>
              <tr>
                <td>
                  <b>Title<b>
            </b></b>
                </td>
                <td>
                  &nbsp;&nbsp;:&nbsp;&nbsp;
                </td>
                <td>{{articleDetail.title}}
                  <br/>
                </td>
              </tr>
              <tr>
                <td><b>Date</b></td>
                <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                <td>{{articleDetail.datee.substring(0,10)}}
                  <br/>
                </td>
              </tr>
              <tr>
                <td><b>Media</b></td>
                <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                <td>{{articleDetail.media_name}}
                  <br/>
                </td>
              </tr>
              <!-- <tr><td colspan="3">&nbsp;</td></tr> -->
              <tr>
                <td colspan="3">
                  <br/>
                </td>
              </tr>
              <tr>
                <td><b>Content</b></td>
                <td>&nbsp;&nbsp;:</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <div>
          <p ng-bind-html="trustAsHtml(articleDetail.content);"></p>
        </div>
        <hr>
      </div>
          <br>
          <b>
      <div id="non-printable">
        <input style="font-weight:bold" class="btn" type="button" onclick="close_dialog()" value="Close">&nbsp;&nbsp;
        <input style="font-weight:bold" class="btn" type="button" ng-print print-element-id="printable" value="Print">&nbsp;&nbsp;
        <!-- <input style="font-weight:bold" class="btn" type="button" onclick="print_detail_news(254309246)" value="Print">&nbsp;&nbsp; -->
        <!--input style="font-weight:bold" class="btn" type="button" onclick="pdf_detail_news(254309246)" value="Pdf Text">&nbsp;&nbsp;
        <input style="font-weight:bold" class="btn" type="button" onclick="originale('', 1)" value="Original Text">&nbsp;&nbsp;
        <input style="font-weight:bold" class="btn" type="button" onclick="originale('', 2)" value="Original Image" -->&nbsp;&nbsp;
      </div>
    </b>
        </div>
        <!-- dom content end -->
        <!-- DOM -->
        <!-- -->
      </div>
      <!-- -->
      <script type="text/javascript">
      (function($) {
        $('#dl-menu').dlmenu();
        $("#highlight").mCustomScrollbar({
          theme: "rounded-dots",
        });
        $(document).on('click', '.closeFancybox', function() {
          $.fancybox.close();
        });
        // $("#search-selection").mCustomScrollbar({
        //   axis:"yx",
        //   theme:"rounded-dots"
        // });
        $('#filterBar').show();
      })(jQuery);

      $(document).ready(function() {
        $('.fancybox').fancybox({
          closeBtn: true,
        });
      });

      function close_dialog() {
        $.fancybox.close();
      }
      </script>
</section>
