<section data-ng-controller="DashboardsHome1Controller">
  <div class="head">
    <div class="header-l">
      <a data-ui-sref-active="active" ui-sref="home">
        <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" onError="this.onerror=null;this.src='http://admin.antara-insight.id/asset/images/agent/digivla.png';"/>
      </a>
    </div>
    <!-- <div class="header-r">
      <ul class="hr-2">
        <li class="_a active "><a data-ui-sref-active="active" ui-sref="dashboards.print1">PRINT & ONLINE MEDIA</a></li>
        <li class="_c  "><a data-ui-sref-active="active" ui-sref="dashboards.tv">TV</a></li>
        <li class="_b  "><a data-ui-sref-active="active" ui-sref="dashboards.radio">RADIO</a></li>
        <div class="clear"></div>
      </ul>
    </div> -->
    <div class="clear"></div>
  </div>
  <!-- -->
  <div class="content" ng-init="initData();">
    <div id="main-content">
      <div id="normal-dash">
        <div class="f-download2">
          Download <a href="#" ng-click="downloadPPT();">PPT</a> | <a href="javascript:;" ng-click="downloadExcel();">Excel</a>
        </div>
        <a data-ui-sref-active="active" ui-sref="dashboards.print2" class="btn-next"></a>
        <div class="main-1">
          <span class="f-title">Media Visibility</span>
          <div id="container_chart_007">
            <highchart id="chart_007" config="mediaVisibilityConfig" style="padding: 0px; position: relative;"></highchart>
          </div>
        </div>
        <div class="main-2">
          <div class="main-2-1">
            <span class="f-title">Summary</span>
            <div id="container_chart_007">
              <highchart id="chart_008" config="summaryConfig" style="padding: 0px; position: relative;"></highchart>
            </div>
          </div>
          <div class="main-2-2">
            <div class="f-sub-title">Trending Highlight</div>
            <div id="highlight" class="customscroll">
              <ul class="th">
                <!-- <li>{{trendingHighlightList|json}}</li> -->
                <li ng-repeat="item in trendingHighlightList">
                  <div class="th-date">{{item.datee.substring(0,10)}}</div>
                  <div class="th-source">{{item.media_name}}</div>
                  <div class="th-num">{{item.page}}</div>
                  <div class="th-title"><a ng-click="getDetailArticle(item.article_id);" href="#" class="fancybox">{{item.title.substring(0,20) + '...'}}</a></div>
                  <div class="th-dec">{{item.content}}</div>
                  <div class="clear"></div>
                </li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->
  </div>
  <!-- -->

  <!-- DOM -->
  <!-- dom content start -->
  <div class="dom-detail" id="dd1">
    <div id="printable">
      <div>
        <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" style="height:70px; float:right;">
        <table>
          <tbody><tr>
            <td>
              <b>Title<b>
            </b></b></td>
            <td>
              &nbsp;&nbsp;:&nbsp;&nbsp;
            </td>
            <td>{{articleDetail.title}}<br/></td>
          </tr>
          <tr>
            <td><b>Date</b></td>
            <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
            <td>{{articleDetail.datee.substring(0,10)}}<br/></td>
          </tr>
          <tr>
            <td><b>Media</b></td>
            <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
            <td>{{articleDetail.media_name}}<br/></td>
          </tr>
          <tr><td colspan="3"><br/></td></tr>
          <tr>
            <td><b>Content</b></td>
            <td>&nbsp;&nbsp;:</td>
            <td></td>
          </tr>
        </tbody></table>
      </div>

      <hr>
        <div>
          <p ng-bind-html="trustAsHtml(articleDetail.content);"></p>
        </div>
      <hr>
      <br>
    </div>

    <b>
      <div id="non-printable">
        <input style="font-weight:bold" class="btn" type="button" onclick="close_dialog()" value="Close">&nbsp;&nbsp;
        <input style="font-weight:bold" class="btn" type="button" ng-print print-element-id="printable" value="Print">&nbsp;&nbsp;
        <!--input style="font-weight:bold" class="btn" type="button" onclick="pdf_detail_news(254309246)" value="Pdf Text">&nbsp;&nbsp;
        <input style="font-weight:bold" class="btn" type="button" onclick="originale('', 1)" value="Original Text">&nbsp;&nbsp;
        <input style="font-weight:bold" class="btn" type="button" onclick="originale('', 2)" value="Original Image" -->&nbsp;&nbsp;
      </div>
    </b>

  </div>
  <!-- dom content end -->
  <!-- DOM -->

  <script type="text/javascript">
  $('#filterBar').show();
  $('#dl-menu').dlmenu();
  $(document).ready(function() {
    $("#highlight").mCustomScrollbar({
      theme: "rounded-dots",
    });
    $("#content-8").mCustomScrollbar({
      axis: "yx",
      theme: "rounded-dots"
    });

    $(document).on('click','.closeFancybox',function(){
      $.fancybox.close();
    });
    $('.fancybox').fancybox({
      closeBtn   : true,
    });
  });

  function close_dialog(){
    $.fancybox.close();
  }
  </script>
</section>
