<section data-ng-controller="DashboardsHome3Controller">
  <div class="head">
    <div class="header-l">
      <a data-ui-sref-active="active" ui-sref="home">
        <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" onError="this.onerror=null;this.src='http://admin.antara-insight.id/asset/images/agent/digivla.png';" />
      </a>
    </div>
    <div class="header-r">
      <ul class="hr-2">
        <li class="_a active "><a data-ui-sref-active="active" ui-sref="dashboards.print1">PRINT & ONLINE MEDIA</a></li>
        <li class="_c  "><a data-ui-sref-active="active" ui-sref="dashboards.tv">TV</a></li>
        <li class="_b  "><a data-ui-sref-active="active" ui-sref="dashboards.radio">RADIO</a></li>
        <div class="clear"></div>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <!-- -->
  <div class="content" ng-init="initData();">
    <!-- -->
    <div id="main-content">
      <div id="normal-dash">
        <div class="f-download2">
          Download <a href="javascript:;" ng-click="downloadPPT();">PPT</a> | <a href="javascript:;" ng-click="downloadExcel();">Excel</a>
        </div>
        <a data-ui-sref-active="active" ui-sref="dashboards.print2" class="btn-prev"></a>
        <div class="main-1">
          <span class="f-title">Early Warning System</span>
          <div id="container_chart_007">
            <highchart id="chart_012" config="ewsConfig" style="padding: 0px; position: relative;"></highchart>
          </div>
        </div>
        <div class="main-2">
          <!-- XXXXXXXXXXXXXXXXXX -->
          <div class="main-2-1">
            <div id="gaugeews">
              <div class="table-c3">
                <div class="td-1">
                  <div id="potential-gauge" class="c3" style="max-height: 55px; position: relative;">
                    <svg width="151.984375" height="55" style="overflow: hidden;">
                      <defs>
                        <clipPath id="c3-1480848212100-clip">
                          <rect width="151.984375" height="51"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212100-clip-xaxis">
                          <rect x="-31" y="-20" width="213.984375" height="20"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212100-clip-yaxis">
                          <rect x="-29" y="-4" width="20" height="75"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212100-clip-grid">
                          <rect width="151.984375" height="51"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212100-clip-subchart">
                          <rect width="151.984375"></rect>
                        </clipPath>
                      </defs>
                      <g transform="translate(0.5,4.5)">
                        <text class="c3-text c3-empty" text-anchor="middle" dominant-baseline="middle" x="75.9921875" y="25.5" style="opacity: 0;"></text>
                        <rect class="c3-zoom-rect" width="151.984375" height="51" style="opacity: 0;"></rect>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212100-clip)" class="c3-regions" style="visibility: hidden;"></g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212100-clip-grid)" class="c3-grid" style="visibility: hidden;">
                          <g class="c3-xgrid-focus">
                            <line class="c3-xgrid-focus" x1="-10" x2="-10" y1="0" y2="51" style="visibility: hidden;"></line>
                          </g>
                        </g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212100-clip)" class="c3-chart">
                          <g class="c3-event-rects c3-event-rects-single" style="fill-opacity: 0;">
                            <rect class=" c3-event-rect c3-event-rect-0" x="0.0078125" y="0" width="151.984375" height="51"></rect>
                          </g>
                          <g class="c3-chart-bars">
                            <g class="c3-chart-bar c3-target c3-target-data" style="opacity: 1; pointer-events: none;">
                              <g class=" c3-shapes c3-shapes-data c3-bars c3-bars-data" style="cursor: pointer;"></g>
                            </g>
                          </g>
                          <g class="c3-chart-lines">
                            <g class="c3-chart-line c3-target c3-target-data" style="opacity: 1; pointer-events: none;">
                              <g class=" c3-shapes c3-shapes-data c3-lines c3-lines-data"></g>
                              <g class=" c3-shapes c3-shapes-data c3-areas c3-areas-data"></g>
                              <g class=" c3-selected-circles c3-selected-circles-data"></g>
                              <g class=" c3-shapes c3-shapes-data c3-circles c3-circles-data" style="cursor: pointer;"></g>
                            </g>
                          </g>
                          <g class="c3-chart-arcs" transform="translate(75.9921875,46)">
                            <text class="c3-chart-arcs-title" style="text-anchor: middle; opacity: 1;"></text>
                            <path class="c3-chart-arcs-background" d="M-43.699999999999996,-5.351706512273933e-15A43.699999999999996,43.699999999999996 0 0,1 43.699999999999996,0L28.699999999999996,0A28.699999999999996,28.699999999999996 0 0,0 -28.699999999999996,-3.514736313552903e-15Z"></path>
                            <text class="c3-chart-arcs-gauge-unit" dy=".75em" style="text-anchor: middle; pointer-events: none;"></text>
                            <text class="c3-chart-arcs-gauge-min" dx="-36.199999999999996px" dy="1.2em" style="text-anchor: middle; pointer-events: none;"></text>
                            <text class="c3-chart-arcs-gauge-max" dx="36.199999999999996px" dy="1.2em" style="text-anchor: middle; pointer-events: none;"></text>
                            <g class="c3-chart-arc c3-target c3-target-data">
                              <g class=" c3-shapes c3-shapes-data c3-arcs c3-arcs-data">
                                <path class=" c3-shape c3-shape c3-arc c3-arc-data" transform="" d="M-43.699999999999996,-5.351706512273933e-15A43.699999999999996,43.699999999999996 0 0,1 -25.68621552518107,-35.3540426541852L-16.869436740793972,-23.218787738560987A28.699999999999996,28.699999999999996 0 0,0 -28.699999999999996,-3.514736313552903e-15Z" style="fill: rgb(113, 100, 227); cursor: pointer; opacity: 1;"></path>
                              </g>
                              <text dy="-.1em" class="c3-gauge-value" transform="" style="opacity: 1; text-anchor: middle; pointer-events: none; font-size: 9px;"></text>
                            </g>
                          </g>
                          <g class="c3-chart-texts">
                            <g class="c3-chart-text c3-target c3-target-data" style="opacity: 1; pointer-events: none;">
                              <g class=" c3-texts c3-texts-data"></g>
                            </g>
                          </g>
                        </g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212100-clip-grid)" class="c3-grid c3-grid-lines">
                          <g class="c3-xgrid-lines"></g>
                          <g class="c3-ygrid-lines"></g>
                        </g>
                        <g class="c3-axis c3-axis-x" clip-path="url(http://app.digivla.id/home/home3#c3-1480848212100-clip-xaxis)" transform="translate(0,51)" style="visibility: visible; opacity: 0;">
                          <text class="c3-axis-x-label" transform="" x="151.984375" dx="-0.5em" dy="-0.5em" style="text-anchor: end;"></text>
                          <g class="tick" transform="translate(76, 0)" style="opacity: 1;">
                            <line y2="6" x1="0" x2="0"></line>
                            <text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
                              <tspan x="0" dy=".71em" dx="0">0</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M0,6V0H151.984375V6"></path>
                        </g>
                        <g class="c3-axis c3-axis-y" clip-path="url(http://app.digivla.id/home/home3#c3-1480848212100-clip-yaxis)" transform="translate(0,0)" style="visibility: visible; opacity: 0;">
                          <text class="c3-axis-y-label" transform="rotate(-90)" x="0" dx="-0.5em" dy="1.2em" style="text-anchor: end;"></text>
                          <g class="tick" transform="translate(0,47)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">0</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,40)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">5</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,33)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">10</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,26)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">15</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,20)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">20</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,13)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">25</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,6)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">30</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M-6,1H0V51H-6"></path>
                        </g>
                        <g class="c3-axis c3-axis-y2" transform="translate(151.984375,0)" style="visibility: hidden; opacity: 0;">
                          <text class="c3-axis-y2-label" transform="rotate(-90)" x="0" dx="-0.5em" dy="-0.5em" style="text-anchor: end;"></text>
                          <g class="tick" transform="translate(0,51)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,46)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.1</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,42)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.2</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,36)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.3</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,31)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.4</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,26)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.5</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,22)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.6</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,17)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.7</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,11)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.8</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,6)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.9</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,1)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">1</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M6,1H0V51H6"></path>
                        </g>
                      </g>
                      <g transform="translate(0.5,55.5)" style="visibility: hidden;">
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212100-clip-subchart)" class="c3-chart">
                          <g class="c3-chart-bars"></g>
                          <g class="c3-chart-lines"></g>
                        </g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212100-clip)" class="c3-brush" style="pointer-events: all; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                          <rect class="background" x="0" width="151.984375" style="visibility: hidden; cursor: crosshair;"></rect>
                          <rect class="extent" x="0" width="0" style="cursor: move;"></rect>
                          <g class="resize e" transform="translate(0,0)" style="cursor: ew-resize; display: none;">
                            <rect x="-3" width="6" height="6" style="visibility: hidden;"></rect>
                          </g>
                          <g class="resize w" transform="translate(0,0)" style="cursor: ew-resize; display: none;">
                            <rect x="-3" width="6" height="6" style="visibility: hidden;"></rect>
                          </g>
                        </g>
                        <g class="c3-axis-x" transform="translate(0,0)" clip-path="url(http://app.digivla.id/home/home3#c3-1480848212100-clip-xaxis)" style="opacity: 0;">
                          <g class="tick" transform="translate(76, 0)" style="opacity: 1;">
                            <line y2="6" x1="0" x2="0"></line>
                            <text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
                              <tspan x="0" dy=".71em" dx="0">0</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M0,6V0H151.984375V6"></path>
                        </g>
                      </g>
                      <g transform="translate(0,55)" style="visibility: hidden;"></g>
                    </svg>
                    <div class="c3-tooltip-container" style="position: absolute; pointer-events: none; display: none;"></div>
                  </div>
                  <div class="chart-label">Potential</div>
                </div>
                <div class="td-2">
                  <div ng-repeat="category in ewsConfigData.summary.potential">
                    <div id="pg-box"></div> <span style="font-size: 8px;">{{category}}</span>
                    <br>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="td-1">
                  <div id="emerging-gauge" class="c3" style="max-height: 55px; position: relative;">
                    <svg width="151.984375" height="55" style="overflow: hidden;">
                      <defs>
                        <clipPath id="c3-1480848212161-clip">
                          <rect width="151.984375" height="51"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212161-clip-xaxis">
                          <rect x="-31" y="-20" width="213.984375" height="20"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212161-clip-yaxis">
                          <rect x="-29" y="-4" width="20" height="75"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212161-clip-grid">
                          <rect width="151.984375" height="51"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212161-clip-subchart">
                          <rect width="151.984375"></rect>
                        </clipPath>
                      </defs>
                      <g transform="translate(0.5,4.5)">
                        <text class="c3-text c3-empty" text-anchor="middle" dominant-baseline="middle" x="75.9921875" y="25.5" style="opacity: 0;"></text>
                        <rect class="c3-zoom-rect" width="151.984375" height="51" style="opacity: 0;"></rect>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212161-clip)" class="c3-regions" style="visibility: hidden;"></g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212161-clip-grid)" class="c3-grid" style="visibility: hidden;">
                          <g class="c3-xgrid-focus">
                            <line class="c3-xgrid-focus" x1="-10" x2="-10" y1="0" y2="51" style="visibility: hidden;"></line>
                          </g>
                        </g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212161-clip)" class="c3-chart">
                          <g class="c3-event-rects c3-event-rects-single" style="fill-opacity: 0;">
                            <rect class=" c3-event-rect c3-event-rect-0" x="0.0078125" y="0" width="151.984375" height="51"></rect>
                          </g>
                          <g class="c3-chart-bars">
                            <g class="c3-chart-bar c3-target c3-target-data" style="opacity: 1; pointer-events: none;">
                              <g class=" c3-shapes c3-shapes-data c3-bars c3-bars-data" style="cursor: pointer;"></g>
                            </g>
                          </g>
                          <g class="c3-chart-lines">
                            <g class="c3-chart-line c3-target c3-target-data" style="opacity: 1; pointer-events: none;">
                              <g class=" c3-shapes c3-shapes-data c3-lines c3-lines-data"></g>
                              <g class=" c3-shapes c3-shapes-data c3-areas c3-areas-data"></g>
                              <g class=" c3-selected-circles c3-selected-circles-data"></g>
                              <g class=" c3-shapes c3-shapes-data c3-circles c3-circles-data" style="cursor: pointer;"></g>
                            </g>
                          </g>
                          <g class="c3-chart-arcs" transform="translate(75.9921875,46)">
                            <text class="c3-chart-arcs-title" style="text-anchor: middle; opacity: 1;"></text>
                            <path class="c3-chart-arcs-background" d="M-43.699999999999996,-5.351706512273933e-15A43.699999999999996,43.699999999999996 0 0,1 43.699999999999996,0L28.699999999999996,0A28.699999999999996,28.699999999999996 0 0,0 -28.699999999999996,-3.514736313552903e-15Z"></path>
                            <text class="c3-chart-arcs-gauge-unit" dy=".75em" style="text-anchor: middle; pointer-events: none;"></text>
                            <text class="c3-chart-arcs-gauge-min" dx="-36.199999999999996px" dy="1.2em" style="text-anchor: middle; pointer-events: none;"></text>
                            <text class="c3-chart-arcs-gauge-max" dx="36.199999999999996px" dy="1.2em" style="text-anchor: middle; pointer-events: none;"></text>
                            <g class="c3-chart-arc c3-target c3-target-data">
                              <g class=" c3-shapes c3-shapes-data c3-arcs c3-arcs-data">
                                <path class=" c3-shape c3-shape c3-arc c3-arc-data" transform="" d="M-43.699999999999996,-5.351706512273933e-15A43.699999999999996,43.699999999999996 0 0,1 1.2379202491360834e-14,-43.699999999999996L8.130048318124849e-15,-28.699999999999996A28.699999999999996,28.699999999999996 0 0,0 -28.699999999999996,-3.514736313552903e-15Z" style="fill: rgb(255, 255, 0); cursor: pointer; opacity: 1;"></path>
                              </g>
                              <text dy="-.1em" class="c3-gauge-value" transform="" style="opacity: 1; text-anchor: middle; pointer-events: none; font-size: 9px;"></text>
                            </g>
                          </g>
                          <g class="c3-chart-texts">
                            <g class="c3-chart-text c3-target c3-target-data" style="opacity: 1; pointer-events: none;">
                              <g class=" c3-texts c3-texts-data"></g>
                            </g>
                          </g>
                        </g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212161-clip-grid)" class="c3-grid c3-grid-lines">
                          <g class="c3-xgrid-lines"></g>
                          <g class="c3-ygrid-lines"></g>
                        </g>
                        <g class="c3-axis c3-axis-x" clip-path="url(http://app.digivla.id/home/home3#c3-1480848212161-clip-xaxis)" transform="translate(0,51)" style="visibility: visible; opacity: 0;">
                          <text class="c3-axis-x-label" transform="" x="151.984375" dx="-0.5em" dy="-0.5em" style="text-anchor: end;"></text>
                          <g class="tick" transform="translate(76, 0)" style="opacity: 1;">
                            <line y2="6" x1="0" x2="0"></line>
                            <text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
                              <tspan x="0" dy=".71em" dx="0">0</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M0,6V0H151.984375V6"></path>
                        </g>
                        <g class="c3-axis c3-axis-y" clip-path="url(http://app.digivla.id/home/home3#c3-1480848212161-clip-yaxis)" transform="translate(0,0)" style="visibility: visible; opacity: 0;">
                          <text class="c3-axis-y-label" transform="rotate(-90)" x="0" dx="-0.5em" dy="1.2em" style="text-anchor: end;"></text>
                          <g class="tick" transform="translate(0,51)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">-5</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,47)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">0</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,43)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">5</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,39)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">10</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,35)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">15</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,31)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">20</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,26)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">25</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,22)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">30</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,18)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">35</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,14)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">40</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,10)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">45</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,6)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">50</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,1)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">55</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M-6,1H0V51H-6"></path>
                        </g>
                        <g class="c3-axis c3-axis-y2" transform="translate(151.984375,0)" style="visibility: hidden; opacity: 0;">
                          <text class="c3-axis-y2-label" transform="rotate(-90)" x="0" dx="-0.5em" dy="-0.5em" style="text-anchor: end;"></text>
                          <g class="tick" transform="translate(0,51)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,46)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.1</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,42)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.2</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,36)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.3</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,31)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.4</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,26)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.5</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,22)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.6</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,17)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.7</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,11)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.8</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,6)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.9</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,1)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">1</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M6,1H0V51H6"></path>
                        </g>
                      </g>
                      <g transform="translate(0.5,55.5)" style="visibility: hidden;">
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212161-clip-subchart)" class="c3-chart">
                          <g class="c3-chart-bars"></g>
                          <g class="c3-chart-lines"></g>
                        </g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212161-clip)" class="c3-brush" style="pointer-events: all; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                          <rect class="background" x="0" width="151.984375" style="visibility: hidden; cursor: crosshair;"></rect>
                          <rect class="extent" x="0" width="0" style="cursor: move;"></rect>
                          <g class="resize e" transform="translate(0,0)" style="cursor: ew-resize; display: none;">
                            <rect x="-3" width="6" height="6" style="visibility: hidden;"></rect>
                          </g>
                          <g class="resize w" transform="translate(0,0)" style="cursor: ew-resize; display: none;">
                            <rect x="-3" width="6" height="6" style="visibility: hidden;"></rect>
                          </g>
                        </g>
                        <g class="c3-axis-x" transform="translate(0,0)" clip-path="url(http://app.digivla.id/home/home3#c3-1480848212161-clip-xaxis)" style="opacity: 0;">
                          <g class="tick" transform="translate(76, 0)" style="opacity: 1;">
                            <line y2="6" x1="0" x2="0"></line>
                            <text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
                              <tspan x="0" dy=".71em" dx="0">0</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M0,6V0H151.984375V6"></path>
                        </g>
                      </g>
                      <g transform="translate(0,55)" style="visibility: hidden;"></g>
                    </svg>
                    <div class="c3-tooltip-container" style="position: absolute; pointer-events: none; display: none;"></div>
                  </div>
                  <div class="chart-label">Emerging</div>
                </div>
                <div class="td-2">
                  <div ng-repeat="category in ewsConfigData.summary.emerging">
                    <div id="pg-box"></div> <span style="font-size: 8px;">{{category}}</span>
                    <br>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="td-1">
                  <div id="current-gauge" class="c3" style="max-height: 55px; position: relative;">
                    <svg width="151.984375" height="55" style="overflow: hidden;">
                      <defs>
                        <clipPath id="c3-1480848212188-clip">
                          <rect width="151.984375" height="51"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212188-clip-xaxis">
                          <rect x="-31" y="-20" width="213.984375" height="20"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212188-clip-yaxis">
                          <rect x="-29" y="-4" width="20" height="75"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212188-clip-grid">
                          <rect width="151.984375" height="51"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212188-clip-subchart">
                          <rect width="151.984375"></rect>
                        </clipPath>
                      </defs>
                      <g transform="translate(0.5,4.5)">
                        <text class="c3-text c3-empty" text-anchor="middle" dominant-baseline="middle" x="75.9921875" y="25.5" style="opacity: 0;"></text>
                        <rect class="c3-zoom-rect" width="151.984375" height="51" style="opacity: 0;"></rect>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212188-clip)" class="c3-regions" style="visibility: hidden;"></g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212188-clip-grid)" class="c3-grid" style="visibility: hidden;">
                          <g class="c3-xgrid-focus">
                            <line class="c3-xgrid-focus" x1="-10" x2="-10" y1="0" y2="51" style="visibility: hidden;"></line>
                          </g>
                        </g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212188-clip)" class="c3-chart">
                          <g class="c3-event-rects c3-event-rects-single" style="fill-opacity: 0;">
                            <rect class=" c3-event-rect c3-event-rect-0" x="0.0078125" y="0" width="151.984375" height="51"></rect>
                          </g>
                          <g class="c3-chart-bars">
                            <g class="c3-chart-bar c3-target c3-target-data" style="opacity: 1; pointer-events: none;">
                              <g class=" c3-shapes c3-shapes-data c3-bars c3-bars-data" style="cursor: pointer;"></g>
                            </g>
                          </g>
                          <g class="c3-chart-lines">
                            <g class="c3-chart-line c3-target c3-target-data" style="opacity: 1; pointer-events: none;">
                              <g class=" c3-shapes c3-shapes-data c3-lines c3-lines-data"></g>
                              <g class=" c3-shapes c3-shapes-data c3-areas c3-areas-data"></g>
                              <g class=" c3-selected-circles c3-selected-circles-data"></g>
                              <g class=" c3-shapes c3-shapes-data c3-circles c3-circles-data" style="cursor: pointer;"></g>
                            </g>
                          </g>
                          <g class="c3-chart-arcs" transform="translate(75.9921875,46)">
                            <text class="c3-chart-arcs-title" style="text-anchor: middle; opacity: 1;"></text>
                            <path class="c3-chart-arcs-background" d="M-43.699999999999996,-5.351706512273933e-15A43.699999999999996,43.699999999999996 0 0,1 43.699999999999996,0L28.699999999999996,0A28.699999999999996,28.699999999999996 0 0,0 -28.699999999999996,-3.514736313552903e-15Z"></path>
                            <text class="c3-chart-arcs-gauge-unit" dy=".75em" style="text-anchor: middle; pointer-events: none;"></text>
                            <text class="c3-chart-arcs-gauge-min" dx="-36.199999999999996px" dy="1.2em" style="text-anchor: middle; pointer-events: none;"></text>
                            <text class="c3-chart-arcs-gauge-max" dx="36.199999999999996px" dy="1.2em" style="text-anchor: middle; pointer-events: none;"></text>
                            <g class="c3-chart-arc c3-target c3-target-data">
                              <g class=" c3-shapes c3-shapes-data c3-arcs c3-arcs-data">
                                <path class=" c3-shape c3-shape c3-arc c3-arc-data" transform="" d="M-43.699999999999996,-5.351706512273933e-15A43.699999999999996,43.699999999999996 0 0,1 33.671428709302,-27.855428352017725L22.113730067665156,-18.294068505787383A28.699999999999996,28.699999999999996 0 0,0 -28.699999999999996,-3.514736313552903e-15Z" style="fill: rgb(242, 61, 100); cursor: pointer; opacity: 1;"></path>
                              </g>
                              <text dy="-.1em" class="c3-gauge-value" transform="" style="opacity: 1; text-anchor: middle; pointer-events: none; font-size: 9px;"></text>
                            </g>
                          </g>
                          <g class="c3-chart-texts">
                            <g class="c3-chart-text c3-target c3-target-data" style="opacity: 1; pointer-events: none;">
                              <g class=" c3-texts c3-texts-data"></g>
                            </g>
                          </g>
                        </g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212188-clip-grid)" class="c3-grid c3-grid-lines">
                          <g class="c3-xgrid-lines"></g>
                          <g class="c3-ygrid-lines"></g>
                        </g>
                        <g class="c3-axis c3-axis-x" clip-path="url(http://app.digivla.id/home/home3#c3-1480848212188-clip-xaxis)" transform="translate(0,51)" style="visibility: visible; opacity: 0;">
                          <text class="c3-axis-x-label" transform="" x="151.984375" dx="-0.5em" dy="-0.5em" style="text-anchor: end;"></text>
                          <g class="tick" transform="translate(76, 0)" style="opacity: 1;">
                            <line y2="6" x1="0" x2="0"></line>
                            <text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
                              <tspan x="0" dy=".71em" dx="0">0</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M0,6V0H151.984375V6"></path>
                        </g>
                        <g class="c3-axis c3-axis-y" clip-path="url(http://app.digivla.id/home/home3#c3-1480848212188-clip-yaxis)" transform="translate(0,0)" style="visibility: visible; opacity: 0;">
                          <text class="c3-axis-y-label" transform="rotate(-90)" x="0" dx="-0.5em" dy="1.2em" style="text-anchor: end;"></text>
                          <g class="tick" transform="translate(0,47)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">0</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,42)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">10</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,37)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">20</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,31)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">30</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,26)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">40</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,21)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">50</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,15)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">60</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,10)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">70</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,5)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">80</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M-6,1H0V51H-6"></path>
                        </g>
                        <g class="c3-axis c3-axis-y2" transform="translate(151.984375,0)" style="visibility: hidden; opacity: 0;">
                          <text class="c3-axis-y2-label" transform="rotate(-90)" x="0" dx="-0.5em" dy="-0.5em" style="text-anchor: end;"></text>
                          <g class="tick" transform="translate(0,51)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,46)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.1</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,42)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.2</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,36)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.3</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,31)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.4</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,26)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.5</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,22)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.6</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,17)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.7</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,11)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.8</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,6)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.9</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,1)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">1</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M6,1H0V51H6"></path>
                        </g>
                      </g>
                      <g transform="translate(0.5,55.5)" style="visibility: hidden;">
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212188-clip-subchart)" class="c3-chart">
                          <g class="c3-chart-bars"></g>
                          <g class="c3-chart-lines"></g>
                        </g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212188-clip)" class="c3-brush" style="pointer-events: all; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                          <rect class="background" x="0" width="151.984375" style="visibility: hidden; cursor: crosshair;"></rect>
                          <rect class="extent" x="0" width="0" style="cursor: move;"></rect>
                          <g class="resize e" transform="translate(0,0)" style="cursor: ew-resize; display: none;">
                            <rect x="-3" width="6" height="6" style="visibility: hidden;"></rect>
                          </g>
                          <g class="resize w" transform="translate(0,0)" style="cursor: ew-resize; display: none;">
                            <rect x="-3" width="6" height="6" style="visibility: hidden;"></rect>
                          </g>
                        </g>
                        <g class="c3-axis-x" transform="translate(0,0)" clip-path="url(http://app.digivla.id/home/home3#c3-1480848212188-clip-xaxis)" style="opacity: 0;">
                          <g class="tick" transform="translate(76, 0)" style="opacity: 1;">
                            <line y2="6" x1="0" x2="0"></line>
                            <text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
                              <tspan x="0" dy=".71em" dx="0">0</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M0,6V0H151.984375V6"></path>
                        </g>
                      </g>
                      <g transform="translate(0,55)" style="visibility: hidden;"></g>
                    </svg>
                    <div class="c3-tooltip-container" style="position: absolute; pointer-events: none; display: none; top: 24px; left: 101.031px;">
                      <table class="c3-tooltip">
                        <tbody>
                          <tr class="c3-tooltip-name-data">
                            <td class="name"><span style="background-color:#F23D64"></span>data</td>
                            <td class="value">78</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="chart-label">Current</div>
                </div>
                <div class="td-2">
                  <div ng-repeat="category in ewsConfigData.summary.current">
                    <div id="pg-box"></div> <span style="font-size: 8px;">{{category}}</span>
                    <br>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="td-1">
                  <div id="crisis-gauge" class="c3" style="max-height: 55px; position: relative;">
                    <svg width="151.984375" height="55" style="overflow: hidden;">
                      <defs>
                        <clipPath id="c3-1480848212210-clip">
                          <rect width="151.984375" height="51"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212210-clip-xaxis">
                          <rect x="-31" y="-20" width="213.984375" height="20"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212210-clip-yaxis">
                          <rect x="-29" y="-4" width="20" height="75"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212210-clip-grid">
                          <rect width="151.984375" height="51"></rect>
                        </clipPath>
                        <clipPath id="c3-1480848212210-clip-subchart">
                          <rect width="151.984375"></rect>
                        </clipPath>
                      </defs>
                      <g transform="translate(0.5,4.5)">
                        <text class="c3-text c3-empty" text-anchor="middle" dominant-baseline="middle" x="75.9921875" y="25.5" style="opacity: 0;"></text>
                        <rect class="c3-zoom-rect" width="151.984375" height="51" style="opacity: 0;"></rect>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212210-clip)" class="c3-regions" style="visibility: hidden;"></g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212210-clip-grid)" class="c3-grid" style="visibility: hidden;">
                          <g class="c3-xgrid-focus">
                            <line class="c3-xgrid-focus" x1="-10" x2="-10" y1="0" y2="51" style="visibility: hidden;"></line>
                          </g>
                        </g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212210-clip)" class="c3-chart">
                          <g class="c3-event-rects c3-event-rects-single" style="fill-opacity: 0;">
                            <rect class=" c3-event-rect c3-event-rect-0" x="0.0078125" y="0" width="151.984375" height="51"></rect>
                          </g>
                          <g class="c3-chart-bars">
                            <g class="c3-chart-bar c3-target c3-target-data" style="opacity: 1; pointer-events: none;">
                              <g class=" c3-shapes c3-shapes-data c3-bars c3-bars-data" style="cursor: pointer;"></g>
                            </g>
                          </g>
                          <g class="c3-chart-lines">
                            <g class="c3-chart-line c3-target c3-target-data" style="opacity: 1; pointer-events: none;">
                              <g class=" c3-shapes c3-shapes-data c3-lines c3-lines-data"></g>
                              <g class=" c3-shapes c3-shapes-data c3-areas c3-areas-data"></g>
                              <g class=" c3-selected-circles c3-selected-circles-data"></g>
                              <g class=" c3-shapes c3-shapes-data c3-circles c3-circles-data" style="cursor: pointer;"></g>
                            </g>
                          </g>
                          <g class="c3-chart-arcs" transform="translate(75.9921875,46)">
                            <text class="c3-chart-arcs-title" style="text-anchor: middle; opacity: 1;"></text>
                            <path class="c3-chart-arcs-background" d="M-43.699999999999996,-5.351706512273933e-15A43.699999999999996,43.699999999999996 0 0,1 43.699999999999996,0L28.699999999999996,0A28.699999999999996,28.699999999999996 0 0,0 -28.699999999999996,-3.514736313552903e-15Z"></path>
                            <text class="c3-chart-arcs-gauge-unit" dy=".75em" style="text-anchor: middle; pointer-events: none;"></text>
                            <text class="c3-chart-arcs-gauge-min" dx="-36.199999999999996px" dy="1.2em" style="text-anchor: middle; pointer-events: none;"></text>
                            <text class="c3-chart-arcs-gauge-max" dx="36.199999999999996px" dy="1.2em" style="text-anchor: middle; pointer-events: none;"></text>
                            <g class="c3-chart-arc c3-target c3-target-data">
                              <g class=" c3-shapes c3-shapes-data c3-arcs c3-arcs-data">
                                <path class=" c3-shape c3-shape c3-arc c3-arc-data" transform="" d="M-43.699999999999996,-5.351706512273933e-15A43.699999999999996,43.699999999999996 0 1,1 43.699999999999996,1.9406698470447734e-14L28.699999999999996,1.2745360322696795e-14A28.699999999999996,28.699999999999996 0 1,0 -28.699999999999996,-3.514736313552903e-15Z" style="fill: rgb(255, 0, 0); cursor: pointer; opacity: 1;"></path>
                              </g>
                              <text dy="-.1em" class="c3-gauge-value" transform="" style="opacity: 1; text-anchor: middle; pointer-events: none; font-size: 9px;"></text>
                            </g>
                          </g>
                          <g class="c3-chart-texts">
                            <g class="c3-chart-text c3-target c3-target-data" style="opacity: 1; pointer-events: none;">
                              <g class=" c3-texts c3-texts-data"></g>
                            </g>
                          </g>
                        </g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212210-clip-grid)" class="c3-grid c3-grid-lines">
                          <g class="c3-xgrid-lines"></g>
                          <g class="c3-ygrid-lines"></g>
                        </g>
                        <g class="c3-axis c3-axis-x" clip-path="url(http://app.digivla.id/home/home3#c3-1480848212210-clip-xaxis)" transform="translate(0,51)" style="visibility: visible; opacity: 0;">
                          <text class="c3-axis-x-label" transform="" x="151.984375" dx="-0.5em" dy="-0.5em" style="text-anchor: end;"></text>
                          <g class="tick" transform="translate(76, 0)" style="opacity: 1;">
                            <line y2="6" x1="0" x2="0"></line>
                            <text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
                              <tspan x="0" dy=".71em" dx="0">0</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M0,6V0H151.984375V6"></path>
                        </g>
                        <g class="c3-axis c3-axis-y" clip-path="url(http://app.digivla.id/home/home3#c3-1480848212210-clip-yaxis)" transform="translate(0,0)" style="visibility: visible; opacity: 0;">
                          <text class="c3-axis-y-label" transform="rotate(-90)" x="0" dx="-0.5em" dy="1.2em" style="text-anchor: end;"></text>
                          <g class="tick" transform="translate(0,51)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">-10</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,47)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">0</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,43)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">10</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,39)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">20</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,35)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">30</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,31)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">40</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,26)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">50</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,22)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">60</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,18)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">70</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,14)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">80</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,10)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">90</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,6)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">100</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,1)" style="opacity: 1;">
                            <line x2="-6"></line>
                            <text x="-9" y="0" style="text-anchor: end;">
                              <tspan x="-9" dy="3">110</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M-6,1H0V51H-6"></path>
                        </g>
                        <g class="c3-axis c3-axis-y2" transform="translate(151.984375,0)" style="visibility: hidden; opacity: 0;">
                          <text class="c3-axis-y2-label" transform="rotate(-90)" x="0" dx="-0.5em" dy="-0.5em" style="text-anchor: end;"></text>
                          <g class="tick" transform="translate(0,51)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,46)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.1</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,42)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.2</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,36)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.3</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,31)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.4</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,26)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.5</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,22)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.6</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,17)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.7</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,11)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.8</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,6)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">0.9</tspan>
                            </text>
                          </g>
                          <g class="tick" transform="translate(0,1)" style="opacity: 1;">
                            <line x2="6" y2="0"></line>
                            <text x="9" y="0" style="text-anchor: start;">
                              <tspan x="9" dy="3">1</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M6,1H0V51H6"></path>
                        </g>
                      </g>
                      <g transform="translate(0.5,55.5)" style="visibility: hidden;">
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212210-clip-subchart)" class="c3-chart">
                          <g class="c3-chart-bars"></g>
                          <g class="c3-chart-lines"></g>
                        </g>
                        <g clip-path="url(http://app.digivla.id/home/home3#c3-1480848212210-clip)" class="c3-brush" style="pointer-events: all; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                          <rect class="background" x="0" width="151.984375" style="visibility: hidden; cursor: crosshair;"></rect>
                          <rect class="extent" x="0" width="0" style="cursor: move;"></rect>
                          <g class="resize e" transform="translate(0,0)" style="cursor: ew-resize; display: none;">
                            <rect x="-3" width="6" height="6" style="visibility: hidden;"></rect>
                          </g>
                          <g class="resize w" transform="translate(0,0)" style="cursor: ew-resize; display: none;">
                            <rect x="-3" width="6" height="6" style="visibility: hidden;"></rect>
                          </g>
                        </g>
                        <g class="c3-axis-x" transform="translate(0,0)" clip-path="url(http://app.digivla.id/home/home3#c3-1480848212210-clip-xaxis)" style="opacity: 0;">
                          <g class="tick" transform="translate(76, 0)" style="opacity: 1;">
                            <line y2="6" x1="0" x2="0"></line>
                            <text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
                              <tspan x="0" dy=".71em" dx="0">0</tspan>
                            </text>
                          </g>
                          <path class="domain" d="M0,6V0H151.984375V6"></path>
                        </g>
                      </g>
                      <g transform="translate(0,55)" style="visibility: hidden;"></g>
                    </svg>
                    <div class="c3-tooltip-container" style="position: absolute; pointer-events: none; display: none;"></div>
                  </div>
                  <div class="chart-label">Crisis</div>
                </div>
                <div class="td-2">
                  <div ng-repeat="category in ewsConfigData.summary.crisis">
                    <div id="pg-box"></div> <span style="font-size: 8px;">{{category}}</span>
                    <br>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>

          <!-- XXXXXXXXXXXXXXXXXX -->

          <!-- <div class="main-2-1">
            <span class="f-title">Summary</span>
            <div id="container_chart_007">
              <highchart id="chart_008" config="summaryConfig" style="padding: 0px; position: relative;"></highchart>
            </div>
          </div> -->
          <div class="main-2-2">
            <div class="f-sub-title">Trending Highlight</div>
            <div id="highlight" class="customscroll">
              <ul class="th">
                <!-- <li>{{trendingHighlightList}}</li> -->
                <li ng-repeat="item in trendingHighlightList">
                  <div class="th-date">{{item.datee.substring(0,10)}}</div>
                  <div class="th-source">{{item.media_name}}</div>
                  <div class="th-num">{{item.page}}</div>
                  <div class="th-title"><a ng-click="getDetailArticle(item.article_id);" href="#" class="fancybox">{{item.title.substring(0,20) + '...'}}</a></div>
                  <div class="th-dec">{{item.content}}</div>
                  <div class="clear"></div>
                </li>
                <!-- <li>
                  <div class="th-date">30 OCT 2015</div>
                  <div class="th-source"><a href="#">Rakyat Merdeka</a></div>
                  <div class="th-num">11</div>
                  <div class="th-title"><a href="#">Lorem ipsum dolor sit amet</a></div>
                  <div class="th-dec">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut luctus arcu. Curabitur eget arcu et quam sollicitudin aliquam at vitae erat. Aenean molestie ante eu pretium sollicitudin.</div>
                  <div class="clear"></div>
                </li>
                <li>
                  <div class="th-date">30 OCT 2015</div>
                  <div class="th-source"><a href="#">Rakyat Merdeka</a></div>
                  <div class="th-num">11</div>
                  <div class="th-title"><a href="#">Lorem ipsum dolor sit amet</a></div>
                  <div class="th-dec">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut luctus arcu. Curabitur eget arcu et quam sollicitudin aliquam at vitae erat. Aenean molestie ante eu pretium sollicitudin.</div>
                  <div class="clear"></div>
                </li>
                <li>
                  <div class="th-date">30 OCT 2015</div>
                  <div class="th-source"><a href="#">Rakyat Merdeka</a></div>
                  <div class="th-num">11</div>
                  <div class="th-title"><a href="#">Lorem ipsum dolor sit amet</a></div>
                  <div class="th-dec">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut luctus arcu. Curabitur eget arcu et quam sollicitudin aliquam at vitae erat. Aenean molestie ante eu pretium sollicitudin.</div>
                  <div class="clear"></div>
                </li>
                <li>
                  <div class="th-date">30 OCT 2015</div>
                  <div class="th-source"><a href="#">Rakyat Merdeka</a></div>
                  <div class="th-num">11</div>
                  <div class="th-title"><a href="#">Lorem ipsum dolor sit amet</a></div>
                  <div class="th-dec">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut luctus arcu. Curabitur eget arcu et quam sollicitudin aliquam at vitae erat. Aenean molestie ante eu pretium sollicitudin.</div>
                  <div class="clear"></div>
                </li> -->
              </ul>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- -->
  </div>
  <!-- -->

  <!-- DOM -->
  <!-- dom content start -->
  <div class="dom-detail" id="dd1">
    <div id="printable">
      <div>
        <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" style="height:70px; float:right;">
        <table>
          <tbody><tr>
            <td>
              <b>Title<b>
            </b></b></td>
            <td>
              &nbsp;&nbsp;:&nbsp;&nbsp;
            </td>
            <td>{{articleDetail.title}}<br/></td>
          </tr>
          <tr>
            <td><b>Date</b></td>
            <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
            <td>{{articleDetail.datee.substring(0,10)}}<br/></td>
          </tr>
          <tr>
            <td><b>Media</b></td>
            <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
            <td>{{articleDetail.media_name}}<br/></td>
          </tr>
          <!-- <tr><td colspan="3">&nbsp;</td></tr> -->
          <tr><td colspan="3"><br/></td></tr>
          <tr>
            <td><b>Content</b></td>
            <td>&nbsp;&nbsp;:</td>
            <td></td>
          </tr>
        </tbody></table>
      </div>

      <hr>
        <div>
          <!-- {{articleDetail.content}} -->
          <p ng-bind-html="trustAsHtml(articleDetail.content);"></p>
        </div>
      <hr>
      <br>
    </div>

    <b>
      <div id="non-printable">
        <input style="font-weight:bold" class="btn" type="button" onclick="close_dialog()" value="Close">&nbsp;&nbsp;
        <input style="font-weight:bold" class="btn" type="button" ng-print print-element-id="printable" value="Print">&nbsp;&nbsp;
        <!--input style="font-weight:bold" class="btn" type="button" onclick="pdf_detail_news(254309246)" value="Pdf Text">&nbsp;&nbsp;
        <input style="font-weight:bold" class="btn" type="button" onclick="originale('', 1)" value="Original Text">&nbsp;&nbsp;
        <input style="font-weight:bold" class="btn" type="button" onclick="originale('', 2)" value="Original Image" -->&nbsp;&nbsp;
      </div>
    </b>

  </div>
  <!-- dom content end -->
  <!-- DOM -->

  <script type="text/javascript">
    $('#dl-menu').dlmenu();
    $('#filterBar').show();
    $("#highlight").mCustomScrollbar({
      theme: "rounded-dots",
    });

    function close_dialog(){
      $.fancybox.close();
    }
  </script>
</section>
