<section data-ng-controller="SummaryController">
  <div class="head">
    <div class="header-l">
      <a data-ui-sref-active="active" ui-sref="home">
        <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" onerror="this.onerror=null;this.src='http://admin.antara-insight.id/asset/images/agent/digivla.png';"/>
      </a>
    </div>
    <!-- <div class="header-r">
      <ul class="hr-2">
        <li class="_a active">
          <a data-ui-sref-active="active" ui-sref="summary.print">PRINT & ONLINE MEDIA</a>
        </li>
        <li class="_c">
          <a data-ui-sref-active="active" ui-sref="summary.tv">TV</a>
        </li>
        <li class="_b">
          <a data-ui-sref-active="active" ui-sref="summary.radio">RADIO</a>
        </li>
        <div class="clear"></div>
      </ul>
    </div> -->
    <div class="clear"></div>
  </div>
  <!-- -->
  <div class="content" data-ng-init="initData()">
    <!-- -->
    <div id="main-content">

      <div class="main-6">
        <style>
          .one-edge-shadow {
            -webkit-box-shadow: 0 8px 6px -6px black;
            -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
          }

          .shadow {
            -moz-box-shadow: 3px 3px 5px 6px #ccc;
            -webkit-box-shadow: 3px 3px 5px 6px #ccc;
            box-shadow: 3px 3px 5px 6px #ccc;
          }
          .ui-widget-header {
            background: none;
            border: none;
          }
          label {
            text-transform: uppercase;
          }
          label > input {
            display: inherit;
            height: 22px;
          }

          .tag {
            border: solid 1px #B73013;
            padding: 2px 5px 2px 2px;
            border-radius: 0 11px 11px 0;
            -webkit-box-shadow: rgba(192, 190, 190, 1) 0 1px 0;
            -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
            background: #e84723;
            color: #ffffff;
            font-size: 0.8em;
          }
          .tag a {
            color: white;
            cursor: pointer;
          }

          .dataTables_paginate {
            margin-bottom: 8px;
          }

        </style>
        <div id="pnl_btn" style="display: block;" data-ng-show="showButtonEmail">
          <input ng-if="authentication.user.user_detail.stat_edit === 'Y'" class="btn-danger" id="del-all" value="Hapus" type="button" ng-click="deleteArticles();">
          <!-- <input class="btn-info" id="print-all" value="Print" type="button"> -->
          <!-- <input class="btn-info" id="text-all" value="Scan Media" ng-click="originale(1, 1);" type="button">
          <input class="btn-info" id="pdf-all" value="Teks Asli" ng-click="originale(2, 1);" type="button">
          <input class="btn-info" id="doc-all" value="Doc" ng-click="originale(1, 0);" type="button">
          <input class="btn-warning" id="email-push" value="Email" type="button"> -->
          <div style="clear:both;">&nbsp;</div>
        </div>
        Search: <input type="text" ng-model="searchTable">
        <div style="float: right;">
          Check All<input type="checkbox" ng-model="selectedAll" ng-click="checkAll();" style="display: block;" />
        </div>
        <div class="clear"></div>
        <!-- <div class="f-download4">
          Limit <select ng-options="item as item for item in showLimit" ng-model="selectedLimit" ng-change="limitChanging();"></select>
        </div> -->
        <div class="clear"></div>
        <div id="tablescroll" class="customscroll">



          <table ng-table="tableData" show-filter="false" class="tablesorter-blue table table-bordered table-striped table-condensed">
            <tr ng-repeat="article in $data">

                <td data-title="'✔'" align="center" sortable="'article_id'">
                  <input type="checkbox" value="{{article.article_id}}" ng-checked="checkSelectionExists(article)" ng-click="toggleSelection(article)">
                </td>

                <td data-title="'No'">
                  {{((tableData.page() - 1) * tableData.count()) + $index + 1}}
                </td>

                <td data-title="'Tanggal'" sortable="'detail.datee'" show="true">
                  {{article.detail.datee.substring(0,10)}}
                </td>

                <td data-title="'Media'">
                  {{article.detail.media_name}}
                </td>

                <td data-title="'Hal'">
                  <a href="{{article.detail.file_pdf}}" ng-if="article.detail.file_pdf.indexOf('http') > -1" target="_blank">
                    Link
                  </a>

                  <p ng-if="article.detail.file_pdf.indexOf('http') == -1">
                    {{article.detail.page}}
                  </p>
                </td>

                <td data-title="'Judul'" sortable="'detail.title'">

                  <a href="#" ng-click="getDetailArticle(article.article_id, article.detail.media_name, article.categories)" class="ts-link fancybox">
                    {{ article.detail.title }}
                  </a>

                  <img ng-show="article.detail.activity.indexOf('print') !== -1" src="/asset/images/print-icon.png" title="Artikel sudah dicetak" alt="Artikel sudah dicetak">
                  <img ng-show="article.detail.activity.indexOf('doc') !== -1" src="/asset/images/docx-win-icon.png" title="Dokumen artikel sudah diunduh" alt="Dokumen artikel sudah diunduh">
                  <img ng-show="article.detail.activity.indexOf('pdf_scan') !== -1" src="/asset/images/pdf-icon.png" title="Scan PDF artikel sudah diunduh" alt="Scan PDF artikel sudah diunduh">
                  <img ng-show="article.detail.activity.indexOf('pdf_text') !== -1" src="/asset/images/accdb-icon.png" title="Teks PDF artikel sudah diunduh" alt="Teks PDF artikel sudah diunduh">

                </td>

                <td data-title="'Ringkasan'" sortable="'summary'">
                  {{(article.summary !== '' ? article.summary : 'There is no summary')}}
                  <a ng-if="authentication.user.user_detail.stat_edit === 'Y'" href="#" data-ng-click="editSummary(item, 'dialog-form-summary')">
                    <img src="asset/dist/img/icon-pen2.png" class="icon-pen">
                  </a>
                  <a href="#" class="icon-flag" ng-show="article.detail.activity.indexOf('summary_deleted') !== -1 || article.detail.activity.indexOf('summary_edited') !== -1"></a>
                </td>

                <td data-title="'Sentimen'">
                  <!-- <a href="#" class="ts-link" ng-if="article.tone.toString() === '1'">POSITIVE</a>
                  <a href="#" class="ts-link" ng-if="article.tone.toString() === '0'">NEUTRAL</a>
                  <a href="#" class="ts-link" ng-if="article.tone.toString() === '-1'">NEGATIVE</a> -->
		  <a href="#" class="ts-link" ng-if="article.tone.toString() > 0">POSITIVE</a>
                  <a href="#" class="ts-link" ng-if="article.tone.toString() == 0">NEUTRAL</a>
                  <a href="#" class="ts-link" ng-if="article.tone.toString() < 0">NEGATIVE</a>
                  <a ng-if="authentication.user.user_detail.stat_edit === 'Y'" href="#" data-ng-click="editSummary(article, 'dialog-tone-form')">
                    <img src="asset/dist/img/icon-pen2.png" class="icon-pen">
                  </a>
                  <a href="#" class="icon-flag" ng-show="article.detail.activity.indexOf('tone_edited') !== -1 || article.detail.activity.indexOf('tone_deleted') !== -1"></a>
                </td>

                <td ng-if="authentication.user.user_detail.stat_edit === 'Y'" data-title="'Hapus'">
                  <a href="#" ng-click="deleteArticle(article);" class="icon-trash fancybox"></a>
                </td>

            </tr>
          </table>
          <!-- <table id="tablesorter" class="tablesorter-blue">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" ng-model="selectedAll" ng-click="checkAll();"/>
                </th>
                <th>No</th>
                <th>Tanggal</th>
                <th>Media</th>
                <th>Hal</th>
                <th>Judul</th>
                <th>Ringkasan</th>
                <th>Sentimen</th>
                <th ng-if="authentication.user.user_detail.stat_edit === 'Y'">Hapus</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-show="loadingData" class="content-show-hide">
                <td colspan="9" style="text-align: center;">Loading . . .</td>
              </tr>

              <tr ng-show="getTableDataError" class="content-show-hide">
                <td colspan="9" style="text-align: center;">Something error when fetching data :(</td>
              </tr>

              <tr ng-repeat="item in tableData">
                <td><input type="checkbox" value="{{item.article_id}}" ng-checked="checkSelectionExists(item)" ng-click="toggleSelection(item)"></td>
                <td>{{ offset + $index + 1 }}</td>
                <td>{{item.datee}}</td>
                <td>{{item.media_name}}</td>
                <td>
                  <a href="{{item.page}}" ng-if="item.page.indexOf('http') > -1" target="_blank">Link</a>
                  <p ng-if="item.page.indexOf('http') == -1">{{item.page}}</p>
                </td>
                <td>
                  <a href="#" ng-click="getDetailArticle(item.article_id, item.media_name)" class="ts-link fancybox">{{item.title}}</a>
                </td>
                <td>
                  {{(item.summary !== '' ? item.summary : 'There is no summary')}}
                  <a ng-if="authentication.user.user_detail.stat_edit === 'Y'" href="#" data-ng-click="editSummary(item, 'dialog-form-summary')">
                    <img src="asset/dist/img/icon-pen2.png" class="icon-pen">
                  </a>
                  <a href="#" class="icon-flag" ng-show="item.activity.indexOf('summary_deleted') !== -1 || item.activity.indexOf('summary_edited') !== -1"></a>
                </td>
                <td>
                  <a href="#" class="ts-link" ng-if="item.tone.toString() === '1'">POSITIVE</a>
                  <a href="#" class="ts-link" ng-if="item.tone.toString() === '0'">NEUTRAL</a>
                  <a href="#" class="ts-link" ng-if="item.tone.toString() === '-1'">NEGATIVE</a>
                  <a ng-if="authentication.user.user_detail.stat_edit === 'Y'" href="#" data-ng-click="editSummary(item, 'dialog-tone-form')">
                    <img src="asset/dist/img/icon-pen2.png" class="icon-pen">
                  </a>
                  <a href="#" class="icon-flag" ng-show="item.activity.indexOf('tone_edited') !== -1 || item.activity.indexOf('tone_deleted') !== -1"></a>
                </td>
                <td ng-if="authentication.user.user_detail.stat_edit === 'Y'">
                  <a href="#" class="icon-trash" ng-click="deleteArticle(item, 0, $index);"></a>
                </td>
              </tr>
            </tbody>
          </table> -->


        </div>
        <div class="space-1"></div>
      </div>

      <div class="table-page">
        <div class="tp-1">
          Found {{totalArticles}} article(s)
        </div>
        <div class="tp-2">
          <pagination style="margin: 0px 0;" ng-model="currentPage" total-items="totalItems" max-size="maxSize" boundary-links="true" ng-change="pageChanged();" items-per-page="selectedLimit"></pagination>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>

  <div id="dialog-form-title" class="dialogPadd warningDialog">
    <form>
      <fieldset>
        <label for="title">Edit Judul dibawah ini:</label>
        <div id="title_asli" data-ng-bind="selectedArticleData.title" style="background-color:#ffcc33; border: 2px solid #333; border-radius:10px; padding:5px;"></div>
        <!-- <div id="title_asli" style="background-color:#ffcc33; border: 2px solid #333; border-radius:10px; padding:5px;"></div> -->
        <textarea data-ng-model="selectedArticleData.title" id="fST_title" name="title" style="margin: 10px 0px 10px;width: 426px;height: 67px;"></textarea>
        <div style="margin-top:5px;">
          <!-- <input type="hidden" id="fST_article_id" name="article_id" value=""> -->
          <a href="javascript:;" class="btn-d pointer closeFancybox">Batal</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="javascript:;" class="btn-d pointer" ng-click="doUpdateSummary();">Simpan</a>
        </div>
      </fieldset>
    </form>
  </div>

  <div id="dialog-form-summary" title="Edit Ringkasan" class="dialogPadd warningDialog">
    <form name="formSaveSummary" id="formSaveSummary">
      <fieldset>
        <label for="summary">Edit Ringkasan dibawah ini:</label>
        <div id="summary_asli" data-ng-bind="selectedArticleData.summary" style="background-color:#ffcc33; border: 2px solid #333; border-radius:10px; padding:5px;"></div>
        <!-- <div id="summary_asli" style="background-color:#ffcc33; border: 2px solid #333; border-radius:10px; padding:5px;"></div> -->
        <textarea name="summary"
          data-ng-model="selectedArticleData.summary"
          style="margin: 10px 0px 10px; width:100%; height: 100px;">
        </textarea>
        <div style="margin-top:20px;">
          <a href="javascript:;" class="btn-d pointer closeFancybox">Batal</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="javascript:;" class="btn-d pointer" ng-click="doUpdateSummary();">Simpan</a>
        </div>
      </fieldset>
    </form>
  </div>

  <div id="dialog-tone-form" title="Edit Tonalitas" class="dialogPadd warningDialog">
    <!-- <div>Edit Tonalitas berita: <p style="display:inline" ng-show="selectedArticleData.tone === '-1'">Negative</p><p style="display:inline" ng-show="selectedArticleData.tone === '0'">Neutral</p><p style="display:inline" ng-show="selectedArticleData.tone === '1'">Positive</p></div> -->
    <div>
      Edit Tonalitas berita: <p style="display:inline" ng-show="updateValue === '-1'">Negative</p><p style="display:inline" ng-show="updateValue === '0'">Neutral</p><p style="display:inline" ng-show="updateValue === '1'">Positive</p>
    </div>
    <div style="margin-left: auto;margin-right: auto;">
      <label>
        Negative <input type="radio" style="display: inline-block;" ng-checked="selectedArticleData.tone === '-1'" ng-model="selectedArticleData.tone" ng-value="'-1'" name="edit-tone">
      </label><br/>
      <label>
        Neutral <input type="radio" style="display: inline-block;" ng-checked="selectedArticleData.tone === '0'" ng-model="selectedArticleData.tone" ng-value="'0'" name="edit-tone">
      </label><br/>
      <label>
        Positive <input type="radio" style="display: inline-block;" ng-checked="selectedArticleData.tone === '1'" ng-model="selectedArticleData.tone" ng-value="'1'" name="edit-tone">
      </label>
    </div>

    <div style="margin-top:20px;">
      <a href="javascript:;" class="btn-d pointer closeFancybox">Batal</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="javascript:;" class="btn-d pointer" ng-click="doUpdateTonality();">Simpan</a>
    </div>
  </div>

  <div class="dom-detail" id="dialog-form-delete-many">
    <div id="dom-selection" class="customscroll dd-content">
      <div class="d-1"><img src="asset/dist/img/icon-warning.png"></div>
      <div class="d-2">
        Are you sure you want to delete those articles?
        <div class="space-1"></div>
        <a href="#" class="btn-d closeFancybox">Cancel</a>
        <a href="#" class="btn-d closeFancybox" ng-click="doDeleteArticles();">Delete</a>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="dom-detail" id="dialog-form-delete-single">
    <div id="dom-selection" class="customscroll dd-content">
      <div class="d-1"><img src="asset/dist/img/icon-warning.png"></div>
      <div class="d-2">
        Are you sure you want to delete this article?
        <div class="space-1"></div>
        <a href="#" class="btn-d closeFancybox">Cancel</a>
        <a href="#" class="btn-d closeFancybox" ng-click="doDeleteArticles();">Delete</a>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <!-- DOM -->
  <div class="dom-detail" id="dd1">
    <div id="dom-selection" class="customscroll dd-content">

      <div id="printable">
        <div>
          <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" style="height:70px; float:right;">
          <table>
            <tbody><tr>
              <td>
                <b>Title<b>
              </b></b></td>
              <td>
                &nbsp;&nbsp;:&nbsp;&nbsp;
              </td>
              <td>{{articleDetail.title}}<br/></td>
            </tr>
            <tr>
              <td><b>Date</b></td>
              <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
              <td>{{articleDetail.datee.substring(0,10)}}<br/></td>
            </tr>
            <tr>
              <td><b>Media</b></td>
              <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
              <td>{{articleDetail.media_name}}<br/></td>
            </tr>
            <tr>
              <td><b>NewsValue</b></td>
              <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
              <td>{{articleDetail.values.newsvalue_bw}}<br/></td>
            </tr>
            <tr>
              <td><b>AdValue</b></td>
              <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
              <td>{{articleDetail.values.advalue_bw}}<br/></td>
            </tr>
            <tr><td colspan="3"><br/></td></tr>
            <tr>
              <td><b>Content</b></td>
              <td>&nbsp;&nbsp;:</td>
              <td></td>
            </tr>
          </tbody></table>
        </div>
        <br>
        <hr>
          <div>
            <p ng-bind-html="trustAsHtml(articleDetail.content);"></p>
          </div>
        <hr>
        <br>

        <br>
        <b><i>Kategori</i></b>:
        <span ng-repeat="ci in articleDetail.categories">
          <span ng-class="articleDetail.selectedCategories.indexOf(ci) > -1 ? 'tag-selected' : 'tag'">
            <b>{{ci}}</b>
            &nbsp;&nbsp;
            <a ng-show="articleDetail.selectedCategories.indexOf(ci) > -1" title='Hapus tag kategori ini.' class='untag' ng-click="deleteArticle({_id: [articleDetail._id[$index]], article_id: articleDetail.article_id, categories: [ci]});">
              <span class='icon-remove'></span>
            </a>
          </span> 
          <span ng-if="!$last">,&nbsp;</span>
        </span>

      </div>

      <br>

      <b>
        <div id="non-printable">
          <br><br>
          <input ng-if="authentication.user.user_detail.stat_edit === 'Y'" class="btn-danger" value="Delete Article" ng-click="deleteArticle(articleDetail, 1)" type="button">&nbsp;&nbsp;
          <input ng-if="authentication.user.user_detail.stat_edit === 'Y'" class="btn-success" value="Save News" type="button" ng-click="saveArticle(articleDetail);">&nbsp;&nbsp;
      </b>

    </div>
  </div>

  <div class="dom-detail" id="save-article">
    <div id="dom-selection" class="customscroll dd-content">
      <div class="dd-title">Choose Category</div>
        <div class="clear"></div>
        <div class="space-1"></div>
        <div class="category">
          <div class="acc-title">Sub-Category</div>
        </div>
        <div class="categorycontent">
          <div id="ms1" class="customscroll" style="height:300px;">
            <ul class="acc-link">
              <li ng-repeat="item in categoryLists">
                <a href="javascript:;">
                  <input style="float:left;margin-right:15px;display: block;" class="clisetdach" type="checkbox" ng-model="item.selected" ng-change="addCategory(item.category_id);" value="item.category_id">
                  <label>{{item.category_id}}</label>
                </a>
              </li>
            </ul>
          </div>
        </div>
      <!-- </div> -->
      <input type="button" class="btn-info" value="Save" ng-click="doSaveArticle();">
    </div>
  </div>
  
  <script type="text/javascript">
    $('#dl-menu').dlmenu();
    $(function() {
      $(document).on('click', '.closeFancybox', function() {
        $.fancybox.close();
      });
    });

    (function($) {
      $(window).load(function() {
        $("#tablescroll").mCustomScrollbar({axis: "yx", theme: "rounded-dots"});
      });
    })(jQuery);
  </script>
</section>
