<section data-ng-controller="SubCategoryController">
  <div class="head">
    <div class="header-l">
      <a data-ui-sref-active="active" ui-sref="home">
        <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" onError="this.onerror=null;this.src='http://admin.antara-insight.id/asset/images/agent/digivla.png';"/>
      </a>
    </div>
    <div class="header-r">
      <ul class="hr-2">
        <li class="_a"><a data-ui-sref-active="active" ui-sref="configurations.groupMedia">Group Media</a></li>
        <li class="_c"><a data-ui-sref-active="active" ui-sref="configurations.groupCategory">Group Category</a></li>
        <li class="_b active"><a data-ui-sref-active="active" ui-sref="configurations.groupSubCategory">Sub Category</a></li>

        <div class="clear"></div>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

<!-- content start -->
<div class="content-profile">
    <div class="main"> 
        <!-- ************* CONTENT GOEST HERE ************* -->
        <div class="main-8">            
            <div class="main-8-1">
                <div class="f-sub-title2">Sub Category Group</div>
                <div class="f-m8-1">Add Sub Category Group : </div>
                <div id="fieldtxt" class="_c"><input ng-model="newSubCategoryValue" type="text" class="boxtxt" name="media group"/></div>                
                <div class="clear"></div>
                <a class="pointer btn-save" ng-click="addNewSubCategory();">SAVE</a>
                <!-- <p class="pointer btn-save" ng-click="addNewSubCategory">SAVE</p> -->
                <div class="clear"></div>
                <div class="space-2"></div>
                
                <ul class="mg">
                    <li></li>
                    <li>Detail</li>
                    <li>Edit</li>
                    <li>Delete</li>
                    <div class="clear"></div>
                </ul>
                <div id="group-selection" class="customscroll" ng-init="initSetData();">
                    <ul ng-if="dataSetError" class="mg">
                      <li>Error connecting to server :(</li>
                      <li>
                        <p>-</p>
                      </li>
                      <li>
                        <p>-</p>
                      </li>
                      <li>
                        <p>-</p>
                      </li>
                      <div class="clear"></div>
                    </ul>

                    <!-- {"client_id":"robmp","category_id":"Bebiluck","usere":"1459626617","input_data_date":"2016-09-17T08:56:25.000Z","pc_name":"192.168.10.10"} -->
                    <ul ng-if="!dataSetError" ng-repeat="item in dataSet" class="mg">
                      <li>{{item.category_id}}</li>
                      <li>
                        <!-- <a style="cursor: pointer;" class="fancybox icon-view" ng-click="getDetail(item.category_set);"></a> -->
                        <p class="icon-view pointer" ng-click="getDetail(item);"></p>
                      </li>
                      <li>
                        <!-- <a href="#warning" class="fancybox icon-edit"></a> -->
                        <!-- <p class="icon-edit pointer"></p> -->
                        <a href="#edit_subcliset" class="fancybox icon-edit" ng-click="openEditSubCliset(item);"></a>
                      </li>
                      <li>
                        <a href="#warning" class="fancybox icon-trash" ng-click="getDeleteSubCategoryId(0, item.category_id);"></a>
                        <!-- <p class="icon-trash pointer" ng-click="deleteSubCategory(item.category_id);"></p> -->
                      </li>
                      <div class="clear"></div>
                    </ul>
                    
                    <div class="space-1"></div>
                </div>
            </div>
            <div class="main-8-2" ng-show="showDetail">
                <div class="f-sub-title2">Sub Category Selection : {{clisetName}}</div>
                <div class="space-1"></div>
                <div class="f-m8-2">Add Sub Category Group </div>
                <div id="fieldtxt" class="_d"><input type="text" ng-model="keyword" class="boxtxt" name="media group"/></div>                
                <div class="clear"></div>
                <div class="f-m8-3">Show Period</div>
                <div class="f-m8-4">
                    <input type="radio" id="period_1" name="period1"/><label for="period_1" onClick=""><span>Yes</span></label>
                </div> 
                <div class="f-m8-4">
                    <input type="radio" id="period_2" name="period1"/><label for="period_2" onClick=""><span>No</span></label>
                </div>
                <div class="clear"></div> 
                
                <div class="f-m8-2">From</div>
                <div id="fieldtxt" class="_e">
                    <!-- <input type="text" class="boxtxt" name="from" id="popupDatepicker"/> -->
                    <input type="text" class="boxtxt is-datepick" 
                       datepicker-popup="{{format}}" 
                       ng-model="dateFrom" 
                       is-open="opened" 
                       min-date="minDate" 
                       max-date="{{maxDate}}"
                       datepicker-options="dateOptions" 
                       date-disabled="disabled(date, mode)" 
                       ng-required="true" 
                       close-text="Close"
                       ng-click="open($event)"
                    />
                </div>

                <div class="f-m8-5">To</div>
                <div id="fieldtxt" class="_e">
                    <!-- <input type="text" class="boxtxt" name="to" id="popupDatepicker2"/> -->
                    <input type="text" class="boxtxt is-datepick" 
                       datepicker-popup="{{format}}" 
                       ng-model="dateTo" 
                       is-open="opened1" 
                       min-date="minDate" 
                       max-date="{{maxDate}}"
                       datepicker-options="dateOptions" 
                       date-disabled="disabled(date, mode)" 
                       ng-required="true" 
                       close-text="Close"
                       ng-click="open1($event)"
                    />
                </div>
                <div class="clear"></div>

                <a class="pointer btn-save" ng-click="addNewKeyword();">ADD</a>
                <div class="clear"></div>
                <div class="main-8-3">
                    <div class="f-m8-6"><strong>Keywords</strong></div>
                    <div class="f-m8-7"><strong>Delete</strong></div>
                    <div class="clear"></div>
                    <div id="group-selection2" class="customscroll">
                        <div ng-repeat="item in dataDetail">
                            <div class="f-m8-6">{{item.keyword}}</div>
                            <!-- <div class="f-m8-7"><a href="#warningkeyword" class="fancybox icon-trash" ng-click="getDeleteKeyword(item.category_id);"></a></div> -->
                            <div class="f-m8-7"><a href="#warning" class="fancybox icon-trash" ng-click="getDeleteSubCategoryId(1, item.keyword);"></a></div>
                            <!-- <div class="f-m8-7"><p class="icon-trash pointer" ng-click="deleteKeyword();"></p></div> -->
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <!-- Fancybox start -->
    <div id="edit_subcliset" style="display: none;">
      <div class="dialogPadd">
        <table width="350px;">
          <tr>
            <td width="20%">Sub Category</td>
            <td width="5%" align="center">:</td>
            <td width="50%">
              <input type="text" style="width:100%;" ng-value="subClisetValue" ng-model="subClisetValue" id="subcliset_edit" />
            </td>
          </tr>
          <tr>
            <td colspan=3>&nbsp</td>
          </tr>
          <tr>
            <td align="center" colspan=3>
              <a class="btn-d pointer closeFancybox">Cancel</a>
              <a class="btn-d pointer" ng-click="editSubClisetName();">Submit</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div id="warning">
        <div class="dom-content">
            <div class="d-1"><img src="http://localhost/digivla/assets/dist/img/icon-warning.png"></div>
            <div class="d-2">
                Are you sure you want to delete this?
                <div class="space-1"></div>
                <a href="#" class="btn-d closeFancybox">Cancel</a>
                <a href="#" class="btn-d closeFancybox" ng-click="deleteSubCategory();">Delete</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- Fancybox end -->

</div>
<!-- content end -->
  
  <script type="text/javascript">
    $( '#dl-menu' ).dlmenu();
    $('#filterBar').hide();
    $(document).ready(function() {
        $('.fancybox').fancybox({
            closeBtn   : false, 
        });
    });

    $(function(){
        $(document).on('click','.closeFancybox',function(){
                $.fancybox.close();
        });

        //$('#popupDatepicker').datepick();
        //$('#popupDatepicker2').datepick();
    });

    var config = {
        '.chosen-select-no-single' : {disable_search_threshold:10,disable_search:true}
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

    (function($){
        $(window).load(function(){
            $("#ms1,#ms2,#ms3,#ms4,#ms5,#ms6,#ms7,#ms8,#group-selection,#group-selection2").mCustomScrollbar({
                theme:"rounded-dots", 
            });
        });
    })(jQuery);

    $('#check-all').on('click', function(){
        // Change values
        $('div.main-5-2').find("input[type='checkbox']").prop('checked', ($(this).val() == 'Check'));
        // Change caption of this button
        $(this).val( ($(this).val() == 'Check' ? 'Uncheck' : 'Check') );
    });
  </script>
</section>
