<style>
  input[type="checkbox"] {
    display: block;
  }

</style>
<section data-ng-controller="GroupMediaController">
  <div class="head">
    <div class="header-l">
      <a data-ui-sref-active="active" ui-sref="home">
        <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" onError="this.onerror=null;this.src='http://admin.antara-insight.id/asset/images/agent/digivla.png';" />
      </a>
    </div>
    <div class="header-r">
      <ul class="hr-2">
        <li class="_a active"><a data-ui-sref-active="active" ui-sref="configurations.groupMedia">Group Media</a></li>
        <li class="_c"><a data-ui-sref-active="active" ui-sref="configurations.groupCategory">Group Category</a></li>
        <li class="_b"><a data-ui-sref-active="active" ui-sref="configurations.groupSubCategory">Sub Category</a></li>
        <div class="clear"></div>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <!-- content start -->
  <div class="content-profile">
    <div class="main">
      <div class="main-5">
        <div class="main-5-1">
          <div class="f-sub-title2">Media Group</div>
          <div class="f-m5-1">Add Media Group : </div>
          <div id="fieldtxt">
            <input type="text" class="boxtxt" ng-model="newMediaSet" name="media group" />
          </div>
          <div class="clear"></div>
          <a class="btn-save" ng-click="addNewMediaSet();">SAVE</a>
          <div class="clear"></div>
          <div class="space-2"></div>
          <div id="warning">
            <div class="dom-content">
              <div class="d-1"><img src="asset/dist/img/icon-warning.png"></div>
              <div class="d-2">
                Are you sure you want to delete this?
                <div class="space-1"></div>
                <a href="#" class="btn-d closeFancybox">Cancel</a>
                <a href="#" class="btn-d closeFancybox" ng-click="deleteMediaSet();">Delete</a>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <ul class="mg">
            <li></li>
            <li>Detail</li>
            <li>Edit</li>
            <li>Delete</li>
            <div class="clear"></div>
          </ul>
          <div id="group-selection" class="customscroll" ng-init="initSetData();">
            <ul ng-if="dataSetError" class="mg">
              <li>Error connecting to server :(</li>
              <li>
                <p>-</p>
                <!-- <a href="#warning" class="fancybox icon-view"></a> -->
              </li>
              <li>
                <p>-</p>
                <!-- <a href="#warning" class="fancybox icon-edit"></a> -->
              </li>
              <li>
                <p>-</p>
                <!-- <a href="#warning" class="fancybox icon-trash"></a> -->
              </li>
              <div class="clear"></div>
            </ul>
            <ul ng-if="!dataSetError" ng-repeat="item in dataSet" class="mg">
              <li>{{item.media_set_name}}</li>
              <li>
                <p class="icon-view pointer" ng-click="getDetail(item);"></p>
              </li>
              <li>
                <!-- <p class="icon-edit pointer"></p> -->
                <a href="#edit_medset" class="fancybox icon-edit" ng-click="openEditMedset(item);"></a>
              </li>
              <li>
                <!-- <p class="icon-trash pointer"></p> -->
                <a href="#warning" class="fancybox icon-trash" ng-click="getDeleteMediaSetId(item.media_set_id);"></a>
              </li>
              <div class="clear"></div>
            </ul>
            <div class="space-1"></div>
          </div>
        </div>
        <div class="main-5-2" ng-show="showDetail">
          <div class="f-sub-title2">Edit Media Set "{{mediaSetName}}"</div>
          <div class="space-1"></div>

          <div ng-if="dataDetailError">
            <p>No media has selected for this user. Please contact Administrator for further verification.</p>
          </div>

          <div ng-if="!dataDetailError">
            <a href="#" ng-click="selectAll();" class="btn-mg">Mark All</a>
            <a href="#" class=" pointer btn-mg" ng-click="updateMediaSetList();">Save</a>
            <a href="#" ng-click="clearAll();" class="btn-mg">Cancel</a>
            <div class="clear"></div>
            <div class="space-1"></div>
            
            <accordion>
              <accordion-group ng-repeat="item in dataDetail">
                <div class="media">
                  <div accordion-heading class="acc-title">{{item.media_type}}</div>
                </div>
                <!-- <div class="mediacontent"> -->
                <div class="categorycontent">
                  <!-- <div id="ms1" class="customscroll">
                    <ul class="mc">
                      <li ng-repeat="media in item.media_list">
                        <input type="checkbox" ng-model="media.chosen" ng-checked="media.chosen" id="med_all_{{media.media_id}}" />
                        <label for="med_all_{{media.media_id}}"><span><img src="asset/dist/img/media/{{media.media_id}}.png" title="{{media.media_name}}"></span></label>
                      </li>
                    <ul></ul>
                  </div> -->
                  <div id="ms1" class="customscroll" style="height:300px;">
                    <ul class="acc-link">
                      <li ng-repeat="media in item.media_list">
                        <a href="javascript:;" for="ch3">
                          <!-- <input type="checkbox" ng-model="media.chosen" ng-checked="media.chosen" id="med_all_{{media.media_id}}" /> -->
                          <input style="float:left;margin-right:15px" type="checkbox" ng-model="media.chosen" ng-checked="media.chosen" id="med_all_{{media.media_id}}" class="clisetdach">
                          <label for="ch3">{{media.media_name}}</label>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>

                </div>
              </accordion-group>
            </accordion>
          </div>


      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- Fancybox start -->
  <div id="edit_medset" style="display: none;">
    <div class="dialogPadd">
      <table width="350px;">
        <tr>
          <td width="20%">Media Set</td>
          <td width="5%" align="center">:</td>
          <td width="50%">
            <input type="text" style="width:100%;" ng-value="medsetValue" ng-model="medsetValue" id="medset_edit" />
          </td>
        </tr>
        <tr>
          <td colspan=3>&nbsp</td>
        </tr>
        <tr>
          <td align="center" colspan=3>
            <a class="btn-d pointer closeFancybox">Cancel</a>
            <a class="btn-d pointer" ng-click="editMedsetName();">Submit</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- Fancybox end -->
  </div>
  <script type="text/javascript">
  $('#dl-menu').dlmenu();
  $('#filterBar').hide();
  $('.fancybox').fancybox({
    closeBtn: false,
  });
  $(document).on('click', '.closeFancybox', function() {
    $.fancybox.close();
  });
  $(window).load(function() {
    $("#ms1,#ms2,#ms3,#ms4,#ms5,#ms6,#ms7,#ms8,#group-selection,#group-selection2").mCustomScrollbar({
      theme: "rounded-dots",
    });
  });

  var config = {
    '.chosen-select-no-single': {
      disable_search_threshold: 10,
      disable_search: true
    }
  }

  for (var selector in config) {
    $(selector).chosen(config[selector]);
  }

  $('#check-all').on('click', function() {
    // Change values
    $('div.main-5-2').find("input[type='checkbox']").prop('checked', ($(this).val() == 'Check'));
    // Change caption of this button
    $(this).val(($(this).val() == 'Check' ? 'Uncheck' : 'Check'));
  });
  </script>
  <!-- content end -->
</section>
