<style>
  input[type="checkbox"] {
    display: block;
  }

</style>
<section data-ng-controller="GroupCategoryController">
  <div class="head">
    <div class="header-l">
      <a data-ui-sref-active="active" ui-sref="home">
        <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" onError="this.onerror=null;this.src='http://admin.antara-insight.id/asset/images/agent/digivla.png';" />
      </a>
    </div>
    <div class="header-r">
      <ul class="hr-2">
        <li class="_a"><a data-ui-sref-active="active" ui-sref="configurations.groupMedia">Group Media</a></li>
        <li class="_c active"><a data-ui-sref-active="active" ui-sref="configurations.groupCategory">Group Category</a></li>
        <li class="_b"><a data-ui-sref-active="active" ui-sref="configurations.groupSubCategory">Sub Category</a></li>
        <div class="clear"></div>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <!-- content start -->
  <div class="content-profile">
    <div class="main">
      <!-- ************* CONTENT GOEST HERE ************* -->
      <div class="main-5">
        <div class="main-5-1">
          <div class="f-sub-title2">Category Group</div>
          <div class="f-m5-1">Add Category Group : </div>
          <div id="fieldtxt">
            <input type="text" class="boxtxt" ng-model="newCategorySet" name="media group" />
          </div>
          <div class="clear"></div>
          <a class="pointer btn-save" ng-click="addNewCategorySet();">SAVE</a>
          <div class="clear"></div>
          <div class="space-2"></div>
          <div id="warning">
            <div class="dom-content">
              <div class="d-1"><img src="http://localhost/digivla/assets/dist/img/icon-warning.png"></div>
              <div class="d-2">
                Are you sure you want to delete this?
                <div class="space-1"></div>
                <a href="#" class="btn-d closeFancybox">Cancel</a>
                <a href="#" class="btn-d closeFancybox" ng-click="deleteCategorySet();">Delete</a>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <ul class="mg">
            <li></li>
            <li>Detail</li>
            <li>Edit</li>
            <li>Delete</li>
            <div class="clear"></div>
          </ul>
          <div id="group-selection" class="customscroll" ng-init="initSetData();">
            <ul ng-if="dataSetError" class="mg">
              <li>Error connecting to server :(</li>
              <li>
                <p>-</p>
              </li>
              <li>
                <p>-</p>
              </li>
              <li>
                <p>-</p>
              </li>
              <div class="clear"></div>
            </ul>

            <ul ng-if="!dataSetError" ng-repeat="item in dataSet" class="mg">
              <li>{{item.descriptionz}}</li>
              <li>
                <!-- <a style="cursor: pointer;" class="fancybox icon-view" ng-click="getDetail(item.category_set);"></a> -->
                <p class="icon-view pointer" ng-click="getDetail(item);"></p>
              </li>
              <li>
                <a href="#edit_cliset" class="fancybox icon-edit" ng-click="openEditCliset(item);"></a>
                <!-- <p fancybox class="icon-edit pointer" ng-click="openFancyBox('edit', item)"></p> -->
              </li>
              <li>
                <!-- <a href="#warning" class="fancybox icon-trash"></a> -->
                <!-- <p class="icon-trash pointer"></p> -->
                <a href="#warning" class="fancybox icon-trash" ng-click="getDeleteCategorySetId(item.category_set);"></a>
              </li>
              <div class="clear"></div>
            </ul>
            <div class="space-1"></div>
          </div>
        </div>

        <div class="main-5-2">
        <div id="cliset_table" ng-show="showDetail">
        <div class="f-sub-title2">Edit Grup Kategori <label id="cliset_name">{{clisetName}}</label></div>
          <div class="space-1"></div>
            <a ng-click="updateCategoryList();" class="pointer btn-mg">Save</a>
            <a href="javascript:;" onclick="cancel_cliset()()" class="btn-mg">Cancel</a>
            <div class="clear"></div>
            <div class="space-1"></div>
            <div class="category">
              <div class="acc-title">Sub-Category</div>
            </div>
            <div class="categorycontent">
              <div id="ms1" class="customscroll" style="height:300px;">
                <ul class="acc-link">
                  <li ng-repeat="item in dataDetail">
                    <a href="javascript:;" for="ch3">
                      <input style="float:left;margin-right:15px" type="checkbox" ng-model="item.chosen" ng-checked="item.chosen" class="clisetdach" value="item.category_id"><label for="ch3">{{item.category_id}}</label>
                    </a>
                  </li>
                </ul>
                </div>
              </div>
          </div>
        </div>

        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- content end -->

  <!-- Fancybox start -->
  <div id="edit_cliset" style="display: none;">
    <div class="dialogPadd">
      <table width="350px;">
        <tr>
          <td width="20%">Group Category Set</td>
          <td width="5%" align="center">:</td>
          <td width="50%">
            <input type="text" style="width:100%;" ng-value="clisetValue" ng-model="clisetValue" id="cliset_edit" />
          </td>
        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" colspan="3">
            <a class="btn-d pointer closeFancybox">Cancel</a>
            <a class="btn-d pointer" ng-click="editClisetName();">Submit</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- Fancybox end -->

  <script type="text/javascript">
  $('#dl-menu').dlmenu();
  $('#filterBar').hide();
  $('.fancybox').fancybox({
    closeBtn: false
  });
  $(document).on('click', '.closeFancybox', function() {
    $.fancybox.close();
  });

  var config = {
    '.chosen-select-no-single': {
      disable_search_threshold: 10,
      disable_search: true
    }
  }
  for (var selector in config) {
    $(selector).chosen(config[selector]);
  }

  $(window).load(function() {
    $("#ms1,#ms2,#ms3,#ms4,#ms5,#ms6,#ms7,#ms8,#group-selection").mCustomScrollbar({
      theme: "rounded-dots",
    });
  });

  $('#check-all').on('click', function() {
    // Change values
    $('div.main-5-2').find("input[type='checkbox']").prop('checked', ($(this).val() == 'Check'));
    // Change caption of this button
    $(this).val(($(this).val() == 'Check' ? 'Uncheck' : 'Check'));
  });
  </script>
</section>
