body {
	color: #A29C9A;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}


p, ul, ol, dl, table, fieldset, blockquote, pre, code {
}
/* headings
------------------------------------------------------*/
h1, h2, h3, h4, h5, .jqueryslidemenu a, .jqueryslidemenu ul li ul li a {
	color:#fefefe;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5 {
	color:#282724;
	font-weight:500;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 11px;
}
hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}
hr {
	border: 1px solid #eee;
	width: 100%;
	color: #eee;
	height: 1px;
}
p {
	color:#888888;
	padding-bottom:10px;
}

strong{
color:#666;
}

footer strong{
color:#999;
}

/* imgage alignment
----------------------------------------------------------------------------------------------------*/
.alignright {
	float: right;
	margin: 3px 0 0px 10px;
	width:auto;
}
.alignleft {
	float: left;
	margin:0px 20px 0px 0px;
	width:auto;
}
.align {
	float: left;
	margin: 0 10px 0px 0;
	width:auto;
}
a img {
	border:none;
}
img {
	max-width:100%;
	height:auto;
}
 *|*:focus {
 outline: none;
}
a:link, a {
	color:#a29c9a;
	text-decoration:none;
}
a:hover {
	color:#3FC6CE;
}

.thumb_img {
	float: left;
	margin: 0px 20px 0px 0px;
}
.description {
	display:block;
	overflow:hidden;
}

.description h3{
padding-top:20px;
overflow:hidden;
}

.drop_cap {
	background-color:#343434;
	height: 70px;
	width: 70px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px; /* Safari and Chrome */
	border-radius: 35px;
	text-align:center;
}
.drop_cap h4{
	color:#fff;
	padding-top:25px;
}
.drop_cap:hover {
	-moz-transition: background-color 0.3s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
	background-color:#3FC6CE;
	cursor:pointer;
}


.clear {
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	width: 100%;
}


span.divider {
	overflow:hidden;
	clear:both;
	margin-top:40px;
	margin-bottom:40px;
	border-top:1px solid #E3E8EC;
	display: block;
}

.blockquotes{
background-image:url(images/blockquote_img.png);
background-repeat:no-repeat;
background-position:6px 10px;
font-style:italic;
background-color:#FAFAFA;
padding:20px;
border-left:4px solid #3FC6CE;
}


.button{
margin-top:5px !important;
background-color:#000000;
float:left;
}

a.button{
	background-color:#303030;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#111111'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#111111)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #303030, #111111); /* for firefox 3.6+ */
	background: -o-linear-gradient(top, #303030, #111111); /* for opera 3.6+ */
	border:1px solid #000;
	padding:7px 15px 7px 15px;
	border-radius:5px;
	color:#fff;
	font-size:13px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-moz-transition: all 0.2s ease 0s;
	font-family: 'Open Sans', sans-serif;
}
	
a.button:hover {
	background-color:#111111;
	-moz-transition: background-color 0.3s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111', endColorstr='#303030'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#111111), to(#303030)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #111111, #303030); /* for firefox 3.6+ */
	background: -o-linear-gradient(top, #111111, #303030); /* for opera 3.6+ */
	border:1px solid #000;
	color:#3FC6CE;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

a.detail {
	-moz-transition: all 0.2s ease 0s;
	background: url("images/detail_bt.png") no-repeat scroll right 5px transparent;
	color: #303030;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	line-height: 15px;
	padding: 0 16px 0 0;
	text-decoration: none;
}
a.detail:hover {
	color:#3FC6CE;
	text-decoration:underline;
	padding:0px 20px 0px 0px;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}

.separator {
margin-top:10px;
margin-bottom:20px;
}

.separator .blue{
    background: none repeat scroll 0 0 #3fc6ce;
    height:4px;
    width:100px;
}

.separator .grey {
 background: none repeat scroll 0 0 #222222;
    height:4px;
    margin-left:100px;
    margin-top: -4px;
    width:6px;
    z-index: 1;
}

ul.list{
list-style:none;
}

ul.list li{
padding-bottom:8px !important;
margin-bottom:8px !important;
background-image:url(images/list_img.png);
background-repeat:no-repeat;
background-position:left 8px;
padding-left:16px;
}

ul.list li:last-child{
padding-bottom:0px !important;
margin-bottom:0px !important;
}

.hilight-blue {
	background-color: #3FC6CE;
	color:#000;
}
.hilight-black {
	background-color: #000;
	color:#fff;
}
/*end common/genral style*/

/*Header start*/
#header_wrap{
width:100%;
background-image:url(images/header_bg.png);
background-repeat:repeat;
background-color:#e3e8ec;
float:left;
}

header{
margin:0px auto;
width:1000px;
padding-top:50px;
padding-bottom:30px;
}

.page_inner header{
margin:0px auto;
width:1000px;
height:235px;
padding-top:50px;
padding-bottom:0px;
}

#logo{
float:left;
}

#search_box{
float:right;
}

#search-form {
    float: right;
    padding-top: 10px;
    position: relative;
    vertical-align: top;
    width: 187px;
}

#search-form fieldset {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 16px 16px 16px 16px;
    overflow: hidden;
    padding: 2px 2px 3px 13px;
}

#search-form label {
    display: block;
    float: left;
}

#search-form input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #A8A8A8;
    font: 12px "Trebuchet MS",Arial,Helvetica,sans-serif;
    margin: 0;
    outline: medium none;
    padding: 5px 6px 3px;
    text-transform: uppercase;
    width: 130px;
}

#search-form a {
    background: url("images/search-button.png") no-repeat scroll center top transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    height: 26px;
    overflow: hidden;
    text-decoration: none;
    width: 27px;
}

/*Content start*/
#content_wrap{
width:100%; 
}

#content{
margin:0px auto;
width:1000px;
padding:40px 0px 40px 0px !important;
overflow:hidden;
}


.strip{
	margin-top:80px;
	margin-bottom:70px;
	width:100%;
	overflow:hidden;
}

.inner_content .strip{
margin-top:80px;
	margin-bottom:30px;
	width:100%;
	overflow:hidden;
}

/*Footer start*/
#footer_wrap{
width:100%;
background: #1F1F1F; /* Old browsers */
background: -moz-linear-gradient(left,  #1F1F1F 0%, #343434 50%, #1F1F1F 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1F1F1F), color-stop(50%,#343434), color-stop(100%,#1F1F1F)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1F1F1F 0%,#343434 50%,#1F1F1F 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1F1F1F 0%,#343434 50%,#1F1F1F 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1F1F1F 0%,#343434 50%,#1F1F1F 100%); /* IE10+ */
background: linear-gradient(to right,  #1F1F1F 0%,#343434 50%,#1F1F1F 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1F1F1F', endColorstr='#343434',GradientType=1 ); /* IE6-9 */
}

footer{
margin:0px auto;
width:1000px;
border-top:4px solid #3fc6ce;
overflow:hidden;
padding-bottom:50px;
}

footer h3{
color:#fff;
}

footer .detail{
color:#838383;
}
.contact_info{
background-color:#1a1a1a;
overflow:hidden;
padding:20px;
text-align:center;
margin-bottom:50px;
}

.contact_info h5{
color:#fff;
padding:20px 0px 10px 0px;
}

.contact_info h6{
color:#fff;
}

span.contact_icon {
	background-color:#3fc6ce;
	border:5px solid #878787;
	display: block;
	height:60px;
	width:60px;
	margin:0px auto;
	border-radius:68px 68px 68px 68px;
	position:relative;
}

span.contact_icon img {
	position:absolute;
	margin-top:-12px;
	left:50%;
	margin-left:-13px;
	top:50%;
}

/*Sub Header start*/
.sub_header{
float:left;
margin-top:6px;
margin-bottom:20px;
}

.sub_title{
float:left;
}

.sub_title h1{
padding-bottom:15px;
}

/*aside start*/
aside{
/*background-color:#fafafa;*/
/*overflow:hidden;*/
}



/*Pricing Table start*/
.pricing_table{
background-color:#fafafa;
text-align:center;
border:1px solid #E3E8EC;
margin-bottom:20px;
}

.pricing_header{
background: -moz-linear-gradient(#343434, #1f1f1f); /* FF 3.6+ */  
background: -ms-linear-gradient(#343434, #1f1f1f); /* IE10 */  
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #343434), color-stop(100%, #1f1f1f)); /* Safari 4+, Chrome 2+ */  
background: -webkit-linear-gradient(#343434, #1f1f1f); /* Safari 5.1+, Chrome 10+ */  
background: -o-linear-gradient(#343434, #1f1f1f); /* Opera 11.10 */  
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#343434', endColorstr='#1f1f1f'); /* IE6 & IE7 */  
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#343434', endColorstr='#1f1f1f')"; /* IE8+ */  
background: linear-gradient(#343434, #1f1f1f); /* the standard */ 
padding:20px;
border-bottom: 1px solid #626262;
} 

.price_highlights .pricing_header{
background: -moz-linear-gradient(#31c1ce, #28aec3); /* FF 3.6+ */  
background: -ms-linear-gradient(#31c1ce, #28aec3); /* IE10 */  
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #31c1ce), color-stop(100%, #28aec3)); /* Safari 4+, Chrome 2+ */  
background: -webkit-linear-gradient(#31c1ce, #28aec3); /* Safari 5.1+, Chrome 10+ */  
background: -o-linear-gradient(#31c1ce, #28aec3); /* Opera 11.10 */  
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#31c1ce', endColorstr='#28aec3'); /* IE6 & IE7 */  
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#31c1ce', endColorstr='#28aec3')"; /* IE8+ */  
background: linear-gradient(#31c1ce, #28aec3); /* the standard */ 
padding:20px;
border-bottom: 1px solid #83dae1;
} 

.price{
background: -moz-linear-gradient(#373737, #2a2a2a); /* FF 3.6+ */  
background: -ms-linear-gradient(#373737, #2a2a2a); /* IE10 */  
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #373737), color-stop(100%, #2a2a2a)); /* Safari 4+, Chrome 2+ */  
background: -webkit-linear-gradient(#373737, #2a2a2a); /* Safari 5.1+, Chrome 10+ */  
background: -o-linear-gradient(#373737, #2a2a2a); /* Opera 11.10 */  
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#373737', endColorstr='#2a2a2a'); /* IE6 & IE7 */  
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#373737', endColorstr='#2a2a2a')"; /* IE8+ */  
background: linear-gradient(#373737, #2a2a2a); /* the standard */ 
padding:50px;
}

.price_highlights .price{
background: -moz-linear-gradient(#57c5d2, #43b4c8); /* FF 3.6+ */  
background: -ms-linear-gradient(#57c5d2, #43b4c8); /* IE10 */  
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #57c5d2), color-stop(100%, #43b4c8)); /* Safari 4+, Chrome 2+ */  
background: -webkit-linear-gradient(#57c5d2, #43b4c8); /* Safari 5.1+, Chrome 10+ */  
background: -o-linear-gradient(#57c5d2, #43b4c8); /* Opera 11.10 */  
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57c5d2', endColorstr='#43b4c8'); /* IE6 & IE7 */  
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#57c5d2', endColorstr='#43b4c8')"; /* IE8+ */  
background: linear-gradient(#57c5d2, #43b4c8); /* the standard */ 
padding:50px;
}

.triangle { 
border-left:10px solid transparent;
border-right:10px solid transparent;
border-top:10px solid #2a2a2a;
height: 0;
width: 0; 
margin:0px auto;
padding-bottom:4px;
}

.price_highlights .triangle{
border-left:10px solid transparent;
border-right:10px solid transparent;
border-top:10px solid #43b4c8;
height: 0;
width: 0; 
margin:0px auto;
padding-bottom:4px;
}

.pricing_header h3{
color:#fff;
}

.pricing_table ul li{
padding-bottom:10px;
padding-top:10px;
border-bottom: 1px solid #dfdfdf;
border-top: 1px solid #F9F9F9;
text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
}

.pricing_table ul li:nth-child(2n) {
    background-color: #ececec;
}



.price h1{
font-size:35px;
padding-bottom:20px;
color:#fff;
}

.price em{
color:#fff;
font-weight:bold;
}


.price_button{
background: #282828; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4d4d', endColorstr='#282828'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#4d4d4d), to(#282828)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #4d4d4d,  #282828); /* for firefox 3.6+ */
background: -o-linear-gradient(top,  #4d4d4d,  #282828); /* for opera 3.6+ */ 
padding:30px;
border-top:1px solid #212121;
overflow:hidden;
}

.price_button a{
background-color:#303030;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#111111'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#111111)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #303030, #111111); /* for firefox 3.6+ */
	background: -o-linear-gradient(top, #303030, #111111); /* for opera 3.6+ */
	border:1px solid #000;
	padding:7px 15px 7px 15px;
	border-radius:5px;
	color:#fff;
	font-size:13px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-moz-transition: all 0.2s ease 0s;
}

.price_button a:hover {
	background-color:#111111;
	-moz-transition: background-color 0.3s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111', endColorstr='#303030'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#111111), to(#303030)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #111111, #303030); /* for firefox 3.6+ */
	background: -o-linear-gradient(top, #111111, #303030); /* for opera 3.6+ */
	border:1px solid #000;
	color:#3FC6CE;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}


/*contact start*/
#contact-form input, #contact-form textarea {
	padding: 5px;
	width:95%;
	font-family: Helvetica, sans-serif;
	margin: 10px 0px 10px 0px;
	border: 1px solid #E1E1E1;
	background-color:#F6F6F6;
	color:#666666;
	-moz-box-shadow: inset 2px 1px 1px #fff;
	-webkit-box-shadow: inset 2px 1px 1px #fff;
	 box-shadow: inset 2px 1px 1px #fff;
}
#contact-form textarea {
	height:185px;
	background-color:#F6F6F6;
}
#contact-form textarea:focus, #contact-form input:focus {
	border: 1px solid #E1E1E1;
}
#contact-form p input#submit {
	float:left;
	background-color:#303030;
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#111111'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#111111)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #303030, #111111); /* for firefox 3.6+ */
	background: -o-linear-gradient(top, #303030, #111111); /* for opera 3.6+ */
	border:1px solid #000;
	padding:7px 15px 7px 15px;
	border-radius:5px;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	float:left;
	margin-top:10px;
	-moz-transition: all 0.2s ease 0s;
	width:100px;
}
#contact-form p input#submit:hover {
	background-color:#111111;
	-moz-transition: background-color 0.3s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111', endColorstr='#303030'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#111111), to(#303030)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #111111, #303030); /* for firefox 3.6+ */
	background: -o-linear-gradient(top, #111111, #303030); /* for opera 3.6+ */
	border:1px solid #000;
	color:#3FC6CE;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	cursor:pointer;
}
#contact-form label {
	float: left;
	width:70px;
	padding-top: 5px;
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
}
.vaidate_error {
	border:1px solid #3FC6CE!important;
}
#response{
color:#006633;
}

/*contact end*/


