<section class="row" data-ng-controller="ChangePasswordController">
  <div class="content">
    <div class="container-fluid">
      <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
        <form data-ng-submit="changeUserPassword()" class="signin form-horizontal" autocomplete="off">
          <fieldset>
            <div class="form-group">
              <label for="currentPassword">Current Password</label>
              <input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
            </div>
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
            </div>
            <div class="form-group">
              <label for="verifyPassword">Verify Password</label>
              <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
            </div>
            <div class="text-center form-group">
              <button type="submit" class="btn btn-lg btn-primary">Save Password</button>
            </div>
            <div data-ng-show="success" class="text-center text-success">
              <strong>Password Changed Successfully</strong>
            </div>
            <div data-ng-show="error" class="text-center text-danger">
              <strong data-ng-bind="error"></strong>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
