<!--
<style type="text/css">
  @import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
  body {
    background: url({{ url }}asset/8385.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  #layer {
    background: rgba(240, 240, 240, 0.3) none repeat scroll 0 0;
    overflow: hidden;
  }

  .no-padding {
    padding: 2px;
  }

  .nopadding {
    padding: 0px;
  }
  /**/

  .wrapper {
    padding-top: 100px;
    background: rgba(240, 240, 240, 0.5);
  }

  .container {
    max-width: 600px;
    padding-bottom: 100px;
  }
  /**/

  .left {
    background: rgba(57, 62, 70, 0.3);
    padding: 30px;
    min-height: 250px;
  }

  .left label {
    color: white;
    font-weight: 100;
    font-size: 13px;
  }

  .right label {
    color: white;
    font-weight: 100;
    font-size: 13px;
  }

  .right {
    background: rgba(57, 62, 70, 0.3);
    padding: 30px;
    min-height: 250px;
    text-align: center;
    ;
    vertical-align: middle;
  }

  .bottom {
    background: rgba(57, 62, 70, 0.3);
    margin-top: 2px;
    min-height: 50px;
    text-align: center;
    padding-top: 5px;
  }

  .bottom span {
    color: white;
    margin-left: 30px;
    vertical-align: middle;
    float: left;
    margin-top: 5px;
  }

  .bottom button {
    margin: 0 auto;
    vertical-align: middle;
    float: left;
  }
  /**/

  .border1 {
    border: solid 3px #f08519;
  }
  /* .border2{border:solid 3px #008fd7;} */

  .border2 {
    border: solid 3px #AA1E38;
  }

  .footer {
    background: #12192c;
    min-height: 500px;
  }

  @media (min-width: 992px) {
    body {
      overflow: hidden;
    }
  }

  @media (max-width: 991px) {
    body {
      overflow: visible;
    }
    footer {
      min-height: 100%;
      overflow: hidden;
    }
  }
  /*STYLE PADA RADIO BUTTON*/

  .radio {
    padding-left: 20px;
  }

  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
  }

  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
  }

  .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  }

  .radio input[type="radio"] {
    opacity: 0;
  }

  .radio input[type="radio"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  .radio input[type="radio"]:checked+label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  .radio input[type="radio"]:disabled+label {
    opacity: 0.65;
  }

  .radio input[type="radio"]:disabled+label::before {
    cursor: not-allowed;
  }

  .radio.radio-inline {
    margin-top: 0;
  }

  .radio-primary input[type="radio"]+label::after {
    background-color: #428bca;
  }

  .radio-primary input[type="radio"]:checked+label::before {
    border-color: #428bca;
  }

  .radio-primary input[type="radio"]:checked+label::after {
    background-color: #428bca;
  }

  .form-control {
    border-radius: 20px;
  }

  .btn {}

  .btn-default {
    background: rgba(230, 230, 230, 0.4);
    color: white;
    font-weight: bold;
  }

  .btn-default:hover {
    background: rgba(30, 30, 30, 0.2);
    color: #333;
  }
</style>

<div data-ng-controller="AuthenticationController">
  <div id="layer"></div>
  <div class="wrapper">
    <div class="container">
      <alert type="danger" data-ng-show="error" class="text-center text-danger">
        <span data-ng-bind="error"></span>
      </alert>
      <header>
        <div class="rows">
          <div class="col-lg-12"><img src="asset/logo-antara-insight.png"></div>
        </div>
      </header>
      <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
        <section>
          <div class="rows">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding slice">
              <div class="left">
                <div class="form-group">
                  <label for="username">USERNAME</label>
                  <input type="text" id="username" name="username" class="form-control text" data-ng-model="credentials.username" placeholder="USERNAME">
                </div>
                <div class="form-group">
                  <label for="password">PASSWORD</label>
                  <input type="password" id="password" name="password" class="form-control text" data-ng-model="credentials.password" placeholder="PASSWORD">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding slice">
              <div class="right">
                <div class="form-group">
                  <img src="asset/formal-media.png" />
                  <div class="radio">
                    <input type="radio" name="cek" value="formal-media" id="radio1">
                    <label for="radio1">
                      FORMAL MEDIA
                    </label>
                  </div>
                  <img src="asset/logo-social-media.png" />
                  <div class="radio">
                    <input type="radio" value="social-media" id="radio2" name="cek">
                    <label for="radio2">
                      SOCIAL MEDIA
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="rows">
            <div class="col-lg-12 no-padding bottom">
              <div class="rows">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"><span><a data-ui-sref="password.forgot"
                  style="text-decoration: none; color: white;">FORGOT PASSWORD</a></span></div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <button class="btn btn-default" type="submit" value="">LOG IN
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
    <footer class="footer">
      <div class="rows">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border1 border3"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 border2 border3"></div>
      </div>
      <div class="rows">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer"></div>
      </div>
    </footer>
  </div>
</div>
-->

<style type="text/css">
  @import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

  body {
    background: url({{ url }}asset/8385.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  #layer {
    background: rgba(240, 240, 240, 0.3) none repeat scroll 0 0;
    overflow: hidden;
  }

  .no-padding {
    padding: 2px;
  }

  .nopadding {
    padding: 0px;
  }

  /**/

  .wrapper {
    padding-top: 100px;
    background: rgba(240, 240, 240, 0.5);
  }

  .container {
    max-width: 600px;
    padding-bottom: 100px;
  }

  /**/
  .left {
    background: rgba(57, 62, 70, 0.3);
    padding: 20px;
    min-height: 250px;
  }

  .left label {
    color: white;
    font-weight: 100;
    font-size: 13px;
  }

  .right label {
    color: white;
    font-weight: 100;
    font-size: 13px;
  }

  .right {
    background: rgba(57, 62, 70, 0.3);
    padding: 20px;
    min-height: 250px;
    text-align: center;;
    vertical-align: middle;
  }

  .bottom {
    background: rgba(57, 62, 70, 0.3);
    margin-top: 2px;
    min-height: 50px;
    text-align: center;
    padding-top: 5px;
  }

  .bottom span {
    color: white;
    margin-left: 30px;
    vertical-align: middle;
    float: left;
    margin-top: 5px;
  }

  .bottom button {
    margin: 0 auto;
    vertical-align: middle;
    float: left;
  }

  /**/
  .border1 {
    border: solid 3px #f08519;
  }

  /* .border2{border:solid 3px #008fd7;} */
  .border2 {
    border: solid 3px #AA1E38;
  }

  .footer {
    background: #12192c;
    min-height: 500px;
  }

  @media (min-width: 992px) {
    body {
      overflow: hidden;
    }
  }

  @media (max-width: 991px) {
    body {
      overflow: visible;
    }

    footer {
      min-height: 100%;
      overflow: hidden;
    }
  }

  /*STYLE PADA RADIO BUTTON*/

  .radio {
    padding-left: 20px;
  }

  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
  }

  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
  }

  .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  }

  .radio input[type="radio"] {
    opacity: 0;
  }

  .radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  .radio input[type="radio"]:disabled + label {
    opacity: 0.65;
  }

  .radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
  }

  .radio.radio-inline {
    margin-top: 0;
  }

  .radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
  }

  .radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
  }

  .radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
  }

  .form-control {
    border-radius: 20px;
  }

  .btn {
  }

  .btn-default {
    background: rgba(230, 230, 230, 0.4);
    color: white;
    font-weight: bold;
  }

  .btn-default:hover {
    background: rgba(30, 30, 30, 0.2);
    color: #333;
  }
</style>

<section data-ng-controller="AuthenticationController">
  <div id="layer"></div>
  <!--START WEB-->
  <div class="wrapper">
    <div class="container">
      <alert type="danger" ng-show="error" class="text-center text-danger">
        <span ng-bind="error"></span>
      </alert>
      <header>
        <div class="rows">
          <div class="col-lg-12"><img src="asset/logo-antara-insight.png"></div>
        </div>
      </header>
      <!-- <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off"> -->
      <form name="userForm" ng-submit="signin()" class="signin" autocomplete="off">
        <section>
          <div class="rows">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding slice">
              <div class="left">
                <div class="form-group" show-errors>
                  <label>USERNAME</label>
                  <input type="text" id="username" name="username" placeholder="USERNAME" class="form-control text"
                         ng-model="credentials.username" required>
                  <div ng-messages="userForm.username.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Username is required.</p>
                  </div>
                </div>
                <div class="form-group" show-errors>
                  <label>PASSWORD</label>
                  <input type="password" id="password" name="password" placeholder="PASSWORD" class="form-control text"
                         ng-model="credentials.password" required>
                  <div ng-messages="userForm.password.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Password is required.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding slice">
              <div class="right">
                <div class="form-group">
                  <img src="asset/formal-media.png"/>
                  <div class="radio">
                    <input type="radio" name="cek" value="formal-media" id="radio1">
                    <label for="radio1">
                      FORMAL MEDIA
                    </label>
                  </div>
                  <img src="asset/logo-social-media.png"/>
                  <div class="radio">
                    <input type="radio" value="social-media" id="radio2" name="cek">
                    <label for="radio2">
                      SOCIAL MEDIA
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="rows">
            <div class="col-lg-12 no-padding bottom">
              <div class="rows">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"><span>FORGOT PASSWORD</span></div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <button class="btn btn-default" type="submit"
                          value="">LOG IN
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
    <footer class="footer">
      <div class="rows">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border1 border3"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 border2 border3"></div>
      </div>
      <div class="rows">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
          <div style="color:#ffffff;margin: 0; padding: 0;">
            <img src="asset/trinix.png" height="160px;" width="160px;" style="float: right;margin-top: 2%;padding-right: 15px;">
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!--END WEB-->
</section>
