/* .content {
  margin-top: 50px;
} */
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
/* Pannel Filter */
.periodcontent {
	margin: 5px 0px 0px 3.9%;
	height: auto;
}
#period-form {
	/*width: 100%;*/
	min-width: 420px;
	height: 60px;
	border:solid 1px #cccccc;
	padding:2px 10px;
	margin: -20px 20px -70px 0;
	background-color: #e6e7e8;
}

#from ,#to{
	background-color: #FFFFFF;
	width: 100%;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border:solid 1px #bbbbbb;
	margin:2px 0 0 0 ;
}

#wrap-from-date {
	margin:0 0 0 0px;
	width: 100%;
	min-width:100px;
	max-width: 150px;
}

#wrap-to-date {
	margin:0 0 0 20px;
	width: 100%;
	min-width:100px;
	max-width: 150px;
}

.f-category {
	margin: 5px 0 5px 2px;
}

.label-form-1 {
  font-size: 12px;
  color: #58595b;
  float: left;
  padding-top: 4px;
  padding-right: 20px;
  margin:20px 0 0 0 ;
  font-style: normal;
}

.label-form-2 {
  font-size: 12px;
  color: #58595b;
  /*float: left;*/
  padding-top: 4px;
  padding-right: 20px;
  font-style: normal;
}

#main-content {
	overflow-y: auto;;
}
